<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7001ab3a-73fe-4fd6-95e3-5ca75b4a7835" Alias="createNewsletter" Level="3">
  <Info>
    <Name>NewsletterRequest</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Collection+Type/newsletter</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="54ecdf3d-c2c8-45e8-b97a-82b2ac034674" SortOrder="0">newsletterRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>