<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="926a88c1-0217-4d16-a7c3-46cad77bb082" Alias="createProgram" Level="3">
  <Info>
    <Name>CreateProgram</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Collection+Type/programs</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8d49f78e-07f8-48ab-9187-0b9effe4aa01" SortOrder="0">programs</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>