<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5c3e1b10-2fb6-4d1e-b4de-49cbaa457226" Alias="createAmenities" Level="3">
  <Info>
    <Name>CreateAmenities</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Collection+Type/amenities</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7f9dea46-20be-4667-b196-1c5d0beb6a9c" SortOrder="0">amenities</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>