<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c3b1f0a-8248-4d6b-97bc-9bd2e93e5f5a" Alias="createCategories" Level="4">
  <Info>
    <Name>CreateCategories</Name>
    <Icon>icon-categories color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Collection+Type/programs/Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="582103da-ba68-4319-94b2-d0227fb1680f" SortOrder="0">programCategories</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>