<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ada2cc59-3fb3-4ba5-8c01-f7ef64515bb9" Alias="enquiryRequest" Level="3">
  <Info>
    <Name>EnquiryRequest</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Collection+Type/enquiry</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="57e0c413-9bfe-418a-9167-97540e982d58" SortOrder="0">enquiry</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>