<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e347eec-6895-4592-b042-d325d24d00aa" Alias="folders" Level="1">
  <Info>
    <Name>Folders</Name>
    <Icon>icon-folder color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Folders</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7b0322c3-1526-4a6f-88f6-3522f80068a0">Folders</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ba31e381-94b0-4ca2-a1da-0f7ee148ad6e" SortOrder="0">createArtist</ContentType>
    <ContentType Key="0c3b1f0a-8248-4d6b-97bc-9bd2e93e5f5a" SortOrder="1">createCategories</ContentType>
    <ContentType Key="926a88c1-0217-4d16-a7c3-46cad77bb082" SortOrder="2">createProgram</ContentType>
    <ContentType Key="60bbb91e-d1cf-4fc3-994c-622808d82fbf" SortOrder="3">createArtwork</ContentType>
    <ContentType Key="5c3e1b10-2fb6-4d1e-b4de-49cbaa457226" SortOrder="4">createAmenities</ContentType>
    <ContentType Key="a8bcb94b-1967-4645-b289-4fc6d646669e" SortOrder="5">createLocation</ContentType>
    <ContentType Key="7001ab3a-73fe-4fd6-95e3-5ca75b4a7835" SortOrder="6">createNewsletter</ContentType>
    <ContentType Key="ada2cc59-3fb3-4ba5-8c01-f7ef64515bb9" SortOrder="7">enquiryRequest</ContentType>
    <ContentType Key="42d5ab59-dfb8-4e87-8113-8e7674e7ed58" SortOrder="8">footer</ContentType>
    <ContentType Key="76c9220c-b217-48fe-bae4-d7766bed8fa3" SortOrder="9">header</ContentType>
    <ContentType Key="c2bff27d-0fb9-4121-9733-60ab328f49e4" SortOrder="10">page</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>