<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="76c9220c-b217-48fe-bae4-d7766bed8fa3" Alias="header" Level="2">
  <Info>
    <Name>Header</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Single+Types</Folder>
    <Compositions>
      <Composition Key="38b5d549-f740-46b6-8335-35e6b1320c5f">socialplatforms</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8f13c163-6b58-49f4-920f-4393b5e2d593</Key>
      <Name>copyRightText</Name>
      <Alias>copyRightText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="labels">labels</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>711f57cf-8187-468a-9274-25681f740204</Key>
      <Name>MenuItems</Name>
      <Alias>menuItems</Alias>
      <Definition>ef267281-8f7a-4d7d-92af-ffefffc8a261</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="menuItems">MenuItems</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>530fbb2f-1e0e-49da-a63a-d1f7c4fc5711</Key>
      <Caption>labels</Caption>
      <Alias>labels</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>cd1dea72-a0fc-42bb-a35e-a6c53d3914b0</Key>
      <Caption>MenuItems</Caption>
      <Alias>menuItems</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>