<?xml version="1.0" encoding="utf-8"?>
<Domain Key="a5b9a2c6-0000-0000-0000-000000000000" Alias="https://manarethara20230915111500.azurewebsites.net/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en</Language>
    <Root Key="fc77fa13-1ae0-488b-a994-009cbaf661bf">/Page/home-page</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>