<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d6a1c01-2472-4992-8c3c-f99db2d8dd4b" Alias="Amenities - isActive - Toggle" Level="1">
  <Info>
    <Name>Amenities - isActive - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>