<?xml version="1.0" encoding="utf-8"?>
<DataType Key="637bc096-8912-4527-8a31-c4c589383df9" Alias="AmenitiesComponent - Amenitieslist - Multinode Treepicker" Level="1">
  <Info>
    <Name>AmenitiesComponent - Amenitieslist - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/a0058e72cb904b17b53f691f47e49ebc",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>