<?xml version="1.0" encoding="utf-8"?>
<DataType Key="357d2fe0-8aa0-4095-8c16-5f3c0fc9c7d8" Alias="artist - otherisActive - Toggle" Level="1">
  <Info>
    <Name>artist - otherisActive - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>