<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca0496b9-f90e-4d99-8acb-9c23708c5097" Alias="artists - markdown - Markdown editor" Level="1">
  <Info>
    <Name>artists - markdown - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": false,
  "OverlaySize": "small"
}]]></Config>
</DataType>