<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3eeba4c-f46a-45f8-bb70-c2ce11f4054e" Alias="ArtistCarousel - artists - Multinode Treepicker" Level="1">
  <Info>
    <Name>ArtistCarousel - artists - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/2f126716b36d4704807090e70e6d48ac",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>