<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e2f1ef1-4cfe-428a-8f8f-34f90072ec7a" Alias="artist - Location - Content Picker" Level="1">
  <Info>
    <Name>artist - Location - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/021c4858fd024e518cf2f6bd0bacc36d"
}]]></Config>
</DataType>