<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6c23b701-687a-41c5-be52-d7fedbe63705" Alias="artist - variant - Dropdown" Level="1">
  <Info>
    <Name>artist - variant - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "orange"
    },
    {
      "id": 2,
      "value": "yellow"
    },
    {
      "id": 3,
      "value": "green"
    },
    {
      "id": 4,
      "value": "peach"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>