<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f8584af-23da-4fb7-835f-8915b1d438ae" Alias="artwork - artist - Content Picker" Level="1">
  <Info>
    <Name>artwork - artist - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/2f126716b36d4704807090e70e6d48ac"
}]]></Config>
</DataType>