<?xml version="1.0" encoding="utf-8"?>
<DataType Key="035f19be-1a34-4dc4-b3aa-e921eca4aa14" Alias="artworks - markdown - Markdown editor" Level="1">
  <Info>
    <Name>artworks - markdown - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": false,
  "OverlaySize": "small"
}]]></Config>
</DataType>