<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2225b798-8392-4826-96b6-c95422a9c83b" Alias="artwork - location - Content Picker" Level="1">
  <Info>
    <Name>artwork - location - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/021c4858fd024e518cf2f6bd0bacc36d"
}]]></Config>
</DataType>