<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95fe8e53-6039-4907-8dff-45d117e969ae" Alias="Banner1 - bannerisActive - Toggle" Level="1">
  <Info>
    <Name>Banner1 - bannerisActive - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>