<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6dad1610-5fd0-49f6-bf48-8cf759b9dea4" Alias="Banner - position - Dropdown" Level="1">
  <Info>
    <Name>Banner - position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "center"
    },
    {
      "id": 2,
      "value": "bottom"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>