<?xml version="1.0" encoding="utf-8"?>
<DataType Key="faedf4ff-b0db-4047-8a37-d353d9811ad3" Alias="Banner1 - bannerdescription - Textarea" Level="1">
  <Info>
    <Name>Banner1 - bannerdescription - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>