<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ee2dcdb-819c-48ec-8482-6313fdd03044" Alias="CarouselBanner - Slides - Content Picker" Level="1">
  <Info>
    <Name>CarouselBanner - Slides - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": null
}]]></Config>
</DataType>