<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b0d8f49-bb77-46f3-8dca-d23cb6b76aed" Alias="ContactForm - isActive - Toggle" Level="1">
  <Info>
    <Name>ContactForm - isActive - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>