<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4200367-884f-4895-91ab-c74b702b5fb0" Alias="ContactForm - description - Textarea" Level="1">
  <Info>
    <Name>ContactForm - description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>