<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b6a45e7-44ba-430d-9da5-4e46060b9e03" Alias="Dropdown" Level="1">
  <Info>
    <Name>Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 5,
      "value": "green"
    },
    {
      "id": 6,
      "value": "light-green"
    },
    {
      "id": 7,
      "value": "purple"
    },
    {
      "id": 8,
      "value": "orange"
    },
    {
      "id": 9,
      "value": "light-steel-blue"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>