<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48ed9b24-88b6-4127-b2cb-45b53f613ced" Alias="Enquiry - message - Textarea" Level="1">
  <Info>
    <Name>Enquiry - message - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>