<?xml version="1.0" encoding="utf-8"?>
<DataType Key="073404ed-a94b-46bd-9f72-023518018465" Alias="EventElement - starttime - DateTime" Level="1">
  <Info>
    <Name>EventElement - starttime - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "HH:mm:ss   -  HH:mm:ss  ",
  "OffsetTime": true
}]]></Config>
</DataType>