<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd4c252b-a24a-4a7e-b80b-af09449a0478" Alias="fnb - outlets - Multinode Treepicker" Level="1">
  <Info>
    <Name>fnb - outlets - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/7e4e6004cce14ecd89b7407586edc6d7",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>