<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e081e15a-2e64-4a43-b1e4-846b5c7e49e2" Alias="General Enquires - enquiryemail - Email address" Level="1">
  <Info>
    <Name>General Enquires - enquiryemail - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>