<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef267281-8f7a-4d7d-92af-ffefffc8a261" Alias="Header - MenuItems - Block List" Level="1">
  <Info>
    <Name>Header - MenuItems - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8ac7d7dc-a96b-47c8-a578-6a609920d1e8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{  label !=\"\" ? label : 'Menu Item' + $index }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>