<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1140d3e-c3c9-40ba-82a8-1a28b81daa8e" Alias="Header - Repeatable textstrings" Level="1">
  <Info>
    <Name>Header - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 10,
  "Minimum": 1
}]]></Config>
</DataType>