<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35a018ba-e7b6-4ff6-8f4a-8c9bc854cd13" Alias="location - infomarkdown - Markdown editor" Level="1">
  <Info>
    <Name>location - infomarkdown - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": true,
  "OverlaySize": "small"
}]]></Config>
</DataType>