<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a55e0bb0-32fa-4a7b-af42-04a4c408128a" Alias="LocationCarousel - locations - Multinode Treepicker" Level="1">
  <Info>
    <Name>LocationCarousel - locations - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/021c4858fd024e518cf2f6bd0bacc36d",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>