<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa8ca238-959f-4b63-aa6f-21818860aa8a" Alias="LocationComponent - Form Picker" Level="1">
  <Info>
    <Name>LocationComponent - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "AllowedForms": [
    "518493c3-68d4-47bc-ab4a-5e55f80158a1"
  ]
}]]></Config>
</DataType>