<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86df7e54-4aaf-4f80-b9d3-86b4b45dcc86" Alias="location - infomarkdown - Markdown editor (1)" Level="1">
  <Info>
    <Name>location - infomarkdown - Markdown editor (1)</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": false,
  "OverlaySize": "small"
}]]></Config>
</DataType>