<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b5e4ae1-6ee7-49bf-bb4e-e3b3492c9bfe" Alias="Newletter Request - email - Email address" Level="1">
  <Info>
    <Name>Newletter Request - email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>