<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7b4c0d5-101e-4882-97f9-337d6f9f76f3" Alias="Newsletter Request - email - Email address" Level="1">
  <Info>
    <Name>Newsletter Request - email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>