<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bbc11303-2756-48e8-aff0-8ea5001a7e65" Alias="outlets - variant - Dropdown" Level="1">
  <Info>
    <Name>outlets - variant - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "red"
    },
    {
      "id": 2,
      "value": "purple"
    },
    {
      "id": 3,
      "value": "green"
    },
    {
      "id": 4,
      "value": "yellow"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>