<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7282411-49c2-44df-8bb0-66dd09cdc376" Alias="Page - pageisActive - Toggle" Level="1">
  <Info>
    <Name>Page - pageisActive - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>