<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b525af63-495a-4d53-be5f-17bb86c1fdb5" Alias="Page - isActive - Toggle" Level="1">
  <Info>
    <Name>Page - isActive - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>