<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a8c83d6-db40-4a47-8b56-d2b1ffb1991a" Alias="program - variant - Dropdown" Level="1">
  <Info>
    <Name>program - variant - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "orange"
    },
    {
      "id": 2,
      "value": "yellow"
    },
    {
      "id": 3,
      "value": "green"
    },
    {
      "id": 4,
      "value": "blue"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>