<?xml version="1.0" encoding="utf-8"?>
<DataType Key="394ca6a1-e04c-4bf6-81f1-4d11e39660cc" Alias="program - artists - Content Picker" Level="1">
  <Info>
    <Name>program - artists - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/2f126716b36d4704807090e70e6d48ac"
}]]></Config>
</DataType>