<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c1c6a31-5ebf-4e5d-8a61-39620e960f29" Alias="programs - startTime - DateTime" Level="1">
  <Info>
    <Name>programs - startTime - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "HH:mm:ss",
  "OffsetTime": true
}]]></Config>
</DataType>