<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be5bb06e-1ac2-4be6-aeda-e7dbb5396662" Alias="program - location - Content Picker" Level="1">
  <Info>
    <Name>program - location - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/021c4858fd024e518cf2f6bd0bacc36d"
}]]></Config>
</DataType>