<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a7280b6-07bc-4c3d-b076-0f91455fd4e2" Alias="routes - points - Block List" Level="1">
  <Info>
    <Name>routes - points - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "02991f0f-6dc5-4095-a426-f6b8513c5ef1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{  routestitle !=\"\" ? routestitle  : 'routes' + $index }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>