<?xml version="1.0" encoding="utf-8"?>
<DataType Key="812dc745-89b0-4eb1-a0fd-7d9ea45f9db2" Alias="SimpleShapeCarousel - isActive - Toggle" Level="1">
  <Info>
    <Name>SimpleShapeCarousel - isActive - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>