<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fce30166-57cc-4737-bc30-bc2c402a97a1" Alias="slide - variant - Dropdown" Level="1">
  <Info>
    <Name>slide - variant - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "green"
    },
    {
      "id": 2,
      "value": "red"
    },
    {
      "id": 3,
      "value": "yellow"
    },
    {
      "id": 4,
      "value": "cyan"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>