<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a82e35d-6af8-41cf-a317-a58209de67d5" Alias="transport - routes - Block List" Level="1">
  <Info>
    <Name>transport - routes - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "02991f0f-6dc5-4095-a426-f6b8513c5ef1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": true,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>