<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5e4689c-df57-4419-a135-332e42356106" Alias="VideoElement - vlandscape - File upload" Level="1">
  <Info>
    <Name>VideoElement - vlandscape - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": ".mp4"
    }
  ]
}]]></Config>
</DataType>