<?xml version="1.0" encoding="utf-8"?>
<Media Key="08364579-3def-4f41-b7fe-df5049ca4b1a" Alias="01 Header Main Img" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeaderMainImg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-29T12:15:35</CreateDate>
    <NodeName Default="01 Header Main Img" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p3cdmchp/01-header_main-img.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>