<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca1026e0-0fc7-4ae7-9a54-837823c5a7c1" Alias="11669781545 Cd9301b241 B" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cd9301b241B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T13:50:03</CreateDate>
    <NodeName Default="11669781545 Cd9301b241 B" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2ytbbswh/11669781545_cd9301b241_b.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>