<?xml version="1.0" encoding="utf-8"?>
<Media Key="4addaa79-d200-4ea2-91d1-967decb17e73" Alias="7L6KD6KV5RBJBYUNQGYBHMWV7I" Level="2">
  <Info>
    <Parent Key="69f119e1-7bf5-4668-b574-12151b421ec8">Locations</Parent>
    <Path>/Locations/L6KD6KV5RBJBYUNQGYBHMWV7I</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T14:07:15</CreateDate>
    <NodeName Default="7L6KD6KV5RBJBYUNQGYBHMWV7I" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p4vn0sqa/7l6kd6kv5rbjbyunqgybhmwv7i.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>