<?xml version="1.0" encoding="utf-8"?>
<Media Key="74fc5d2d-c782-4caf-affc-0c956ea9f2c9" Alias="Al Samaliyah Island" Level="3">
  <Info>
    <Parent Key="14412b0f-e5bc-4fe5-883c-db91e981ce27">Al Samaliyah Island</Parent>
    <Path>/Locations/AlSamaliyahIsland/AlSamaliyahIsland</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-01T04:42:13</CreateDate>
    <NodeName Default="Al Samaliyah Island" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fnopy3ec/al-samaliyah-island.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>