<?xml version="1.0" encoding="utf-8"?>
<Media Key="14412b0f-e5bc-4fe5-883c-db91e981ce27" Alias="Al Samaliyah Island" Level="2">
  <Info>
    <Parent Key="69f119e1-7bf5-4668-b574-12151b421ec8">Locations</Parent>
    <Path>/Locations/AlSamaliyahIsland</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-30T15:02:41</CreateDate>
    <NodeName Default="Al Samaliyah Island" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>