<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebc6aae2-d162-470b-bc45-ab13b20c4b9e" Alias="Alaa Edris Headshot (1)" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/AlaaEdrisHeadshot1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T05:57:39</CreateDate>
    <NodeName Default="Alaa Edris Headshot (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2svmn01c/alaa-edris-headshot-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>