<?xml version="1.0" encoding="utf-8"?>
<Media Key="691b9a71-b640-420e-929d-296d5cbcebc2" Alias="Amenities" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Amenities</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-01T08:15:38</CreateDate>
    <NodeName Default="Amenities" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>