<?xml version="1.0" encoding="utf-8"?>
<Media Key="edc05a06-ddb0-4ce4-aa3f-75535cd4093b" Alias="Artist 1" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/Artist1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-30T17:15:01</CreateDate>
    <NodeName Default="Artist 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/abnmb1nq/artist-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>