<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e4cddc3-0fff-4330-a788-79211203c1b6" Alias="Artist Banner Landscape" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/ArtistBannerLandscape</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-01T11:11:13</CreateDate>
    <NodeName Default="Artist Banner Landscape" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yxofzdx5/artist-banner-landscape.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>