<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a9f2a41-c03a-49b0-a47e-869dd79469e1" Alias="Artist Banner Portrait" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/ArtistBannerPortrait</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-01T11:10:09</CreateDate>
    <NodeName Default="Artist Banner Portrait" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i2vj40r0/artist-banner-portrait.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>