<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac655916-332a-47cf-aa38-c0048776a6aa" Alias="Artists" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Artists</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-21T12:51:18</CreateDate>
    <NodeName Default="Artists" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>