<?xml version="1.0" encoding="utf-8"?>
<Media Key="698293c0-df93-4086-a0b9-26a18a2b0c45" Alias="Artwork 1 Portrait" Level="2">
  <Info>
    <Parent Key="507064fa-8928-4459-8eb2-9ebb86804401">Artworks</Parent>
    <Path>/Artworks/Artwork1Portrait</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-01T17:09:45</CreateDate>
    <NodeName Default="Artwork 1 Portrait" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y0jje0mt/artwork-1-portrait.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>