<?xml version="1.0" encoding="utf-8"?>
<Media Key="507064fa-8928-4459-8eb2-9ebb86804401" Alias="Artworks" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Artworks</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-01T17:09:39</CreateDate>
    <NodeName Default="Artworks" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>