<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b6af341-35a9-44b5-85b1-c13618272461" Alias="Atm" Level="2">
  <Info>
    <Parent Key="691b9a71-b640-420e-929d-296d5cbcebc2">Amenities</Parent>
    <Path>/Amenities/Atm</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-01T08:15:48</CreateDate>
    <NodeName Default="Atm" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/odzhuo3j/atm.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>