<?xml version="1.0" encoding="utf-8"?>
<Media Key="c71b613d-837d-49b7-bc61-c0f4bd916886" Alias="Aymen Zeydani (1) (1)" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/AymenZeydani11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T05:56:43</CreateDate>
    <NodeName Default="Aymen Zeydani (1) (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hnqbxr13/aymen-zeydani-1-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>