<?xml version="1.0" encoding="utf-8"?>
<Media Key="16a455a2-00ab-46ae-82f1-ddd51c9ec14d" Alias="Basemap Image" Level="3">
  <Info>
    <Parent Key="14412b0f-e5bc-4fe5-883c-db91e981ce27">Al Samaliyah Island</Parent>
    <Path>/Locations/AlSamaliyahIsland/BasemapImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-30T15:35:29</CreateDate>
    <NodeName Default="Basemap Image" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/urklifvl/basemap-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>