<?xml version="1.0" encoding="utf-8"?>
<Media Key="b81f78b6-f64d-4dbc-b290-4e4a657e30eb" Alias="Bridge" Level="3">
  <Info>
    <Parent Key="6522235b-3db9-43a7-9779-94cbad51a1eb">Transportation</Parent>
    <Path>/Locations/Transportation/Bridge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-30T15:21:08</CreateDate>
    <NodeName Default="Bridge" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wb2b5ocn/bridge.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>