<?xml version="1.0" encoding="utf-8"?>
<Media Key="a556a616-7f9c-431b-9036-7ac0cfac010b" Alias="Carsten Höller Min" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/CarstenHoellerMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T06:06:06</CreateDate>
    <NodeName Default="Carsten Höller Min" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cctfnjm2/carsten-hoeller-min.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>