<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f70e40c-3cfb-4fc1-ac3d-d638a1c698e3" Alias="Copy Of Portrait 2 Rawdha" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/CopyOfPortrait2Rawdha</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T05:54:43</CreateDate>
    <NodeName Default="Copy Of Portrait 2 Rawdha" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blshap51/copy-of-portrait-2-rawdha.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>