<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4b35da8-83d6-44a1-8fd9-179dfbfa941b" Alias="Copy Of Shaikha (3)" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/CopyOfShaikha3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T05:55:33</CreateDate>
    <NodeName Default="Copy Of Shaikha (3)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vzolhzgw/copy-of-shaikha-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>