<?xml version="1.0" encoding="utf-8"?>
<Media Key="26239710-a123-4340-b91b-565b46c1ab17" Alias="Download" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T13:53:00</CreateDate>
    <NodeName Default="Download" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c0ldgjrd/download.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>