<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bb5afdf-34d4-4702-80b7-5d05fde04fbd" Alias="File Example MP4 640 3MG" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FileExampleMP46403MG</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-09-29T19:16:22</CreateDate>
    <NodeName Default="File Example MP4 640 3MG" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/44xlk04u/file_example_mp4_640_3mg.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>