<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc15ffb6-2f17-4161-aa63-d6c8be1c6900" Alias="FNB" Level="2">
  <Info>
    <Parent Key="69f119e1-7bf5-4668-b574-12151b421ec8">Locations</Parent>
    <Path>/Locations/FNB</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-30T15:10:30</CreateDate>
    <NodeName Default="FNB" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>