<?xml version="1.0" encoding="utf-8"?>
<Media Key="8efd9bef-8683-4fc9-8f92-17e15beace43" Alias="google-play-en" Level="2">
  <Info>
    <Parent Key="1b23c315-ef72-4aba-9bbf-f8438f928ccb">Footer</Parent>
    <Path>/Footer/googlePlayEn</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-29T07:55:03</CreateDate>
    <NodeName Default="google-play-en" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3gnp1dud/google-play-en.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>