<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ba722e8-1888-4516-b48d-f504b0417ba2" Alias="HALABY, Samia Portrait 1" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/HALABYSamiaPortrait1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T06:16:06</CreateDate>
    <NodeName Default="HALABY, Samia Portrait 1" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3yrkok2i/halaby-samia_portrait_1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>