<?xml version="1.0" encoding="utf-8"?>
<Media Key="165a96ee-e302-4817-b2f3-0b28c270b1b6" Alias="Home Assets" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeAssets</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-30T11:55:48</CreateDate>
    <NodeName Default="Home Assets" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>