<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fd4fd59-fbf0-476e-ac89-9e6af33ce02d" Alias="Home Banner Landscape" Level="2">
  <Info>
    <Parent Key="165a96ee-e302-4817-b2f3-0b28c270b1b6">Home Assets</Parent>
    <Path>/HomeAssets/HomeBannerLandscape</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-30T11:55:58</CreateDate>
    <NodeName Default="Home Banner Landscape" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l54nil5q/home-banner-landscape.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>