<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a806251-b1d2-4a89-b25a-fac00238ce9e" Alias="Icon Ferry" Level="3">
  <Info>
    <Parent Key="6522235b-3db9-43a7-9779-94cbad51a1eb">Transportation</Parent>
    <Path>/Locations/Transportation/IconFerry</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-09-30T15:24:58</CreateDate>
    <NodeName Default="Icon Ferry" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mbria0ws/icon-ferry.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>