<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6155d22-9ffa-404f-b76f-6f3b65b50331" Alias="Icon Bus" Level="3">
  <Info>
    <Parent Key="6522235b-3db9-43a7-9779-94cbad51a1eb">Transportation</Parent>
    <Path>/Locations/Transportation/IconBus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-09-30T15:24:58</CreateDate>
    <NodeName Default="Icon Bus" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cnoblnx0/icon-bus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>