<?xml version="1.0" encoding="utf-8"?>
<Media Key="057ee7b2-1f84-444f-a939-60f83a6a8d9e" Alias="Icon Performance" Level="2">
  <Info>
    <Parent Key="018db139-92fb-4698-a59c-2105d61a9126">Programs</Parent>
    <Path>/Programs/IconPerformance</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-09-30T13:33:26</CreateDate>
    <NodeName Default="Icon Performance" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qpth2bme/icon-performance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>