<?xml version="1.0" encoding="utf-8"?>
<Media Key="42094105-1151-4cc6-965b-86b29749e81c" Alias="image-24" Level="2">
  <Info>
    <Parent Key="165a96ee-e302-4817-b2f3-0b28c270b1b6">Home Assets</Parent>
    <Path>/HomeAssets/image24</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-30T12:26:37</CreateDate>
    <NodeName Default="image-24" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/anabsqsr/image-24.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>