<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bb0a13b-ec45-4952-b415-5d5130189ddc" Alias="Jim Denevan, Photo Peter Hinson Min" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/JimDenevanPhotoPeterHinsonMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T06:16:58</CreateDate>
    <NodeName Default="Jim Denevan, Photo Peter Hinson Min" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hwqlbg0f/jim-denevan-photo-peter-hinson-min.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>