<?xml version="1.0" encoding="utf-8"?>
<Media Key="369f6319-f885-4010-b44f-12fabfe656be" Alias="Jubail Mangrove Park Main Image 5000X2800" Level="2">
  <Info>
    <Parent Key="69f119e1-7bf5-4668-b574-12151b421ec8">Locations</Parent>
    <Path>/Locations/JubailMangroveParkMainImage5000X2800</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T14:09:59</CreateDate>
    <NodeName Default="Jubail Mangrove Park Main Image 5000X2800" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d3rj4nuf/jubail-mangrove-park-main-image-5000x2800.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>