<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f3c3003-0c97-469e-995f-54df577eed45" Alias="Latifa Saeed Profile Photo" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/LatifaSaeedProfilePhoto</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T06:07:35</CreateDate>
    <NodeName Default="Latifa Saeed Profile Photo" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/auydzd2x/latifa-saeed-profile-photo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>