<?xml version="1.0" encoding="utf-8"?>
<Media Key="69f119e1-7bf5-4668-b574-12151b421ec8" Alias="Locations" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Locations</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-30T15:02:22</CreateDate>
    <NodeName Default="Locations" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>