<?xml version="1.0" encoding="utf-8"?>
<Media Key="62c2f6c3-df77-4aef-861a-ccbc1986f0f2" Alias="Lulu Island (Nepenthes)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LuluIslandNepenthes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T13:48:36</CreateDate>
    <NodeName Default="Lulu Island (Nepenthes)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yx1meytx/lulu_island_-nepenthes.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>