<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0cbd763-40ec-4ae6-b0f1-fcd83b85eb69" Alias="Manar 3" Level="2">
  <Info>
    <Parent Key="165a96ee-e302-4817-b2f3-0b28c270b1b6">Home Assets</Parent>
    <Path>/HomeAssets/Manar3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-10-01T14:24:29</CreateDate>
    <NodeName Default="Manar 3" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jplnxuhm/manara-text-_landscape.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>