<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4603829-b903-4988-ab40-44de7e56b929" Alias="Manara Text Landscape (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ManaraTextLandscape1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-10-03T09:06:49</CreateDate>
    <NodeName Default="Manara Text Landscape (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ae2gbnad/manara-text-_landscape-1.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>