<?xml version="1.0" encoding="utf-8"?>
<Media Key="254d2998-b5f5-43f6-b8e9-f06da472e46b" Alias="Manara Text Landscape (1)" Level="2">
  <Info>
    <Parent Key="165a96ee-e302-4817-b2f3-0b28c270b1b6">Home Assets</Parent>
    <Path>/HomeAssets/ManaraTextLandscape1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-10-03T09:07:14</CreateDate>
    <NodeName Default="Manara Text Landscape (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wauf0jpv/manara-text-_landscape-1.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>