<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bfdc273-8d2d-4587-a62e-1192da1572bf" Alias="Manar 2" Level="2">
  <Info>
    <Parent Key="165a96ee-e302-4817-b2f3-0b28c270b1b6">Home Assets</Parent>
    <Path>/HomeAssets/Manar2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-10-01T14:23:48</CreateDate>
    <NodeName Default="Manar 2" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lpbp00zn/manara-text-_reel.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>