<?xml version="1.0" encoding="utf-8"?>
<Media Key="989889c7-f69d-4674-89b3-fb1d263f2c42" Alias="Mcdonalds" Level="3">
  <Info>
    <Parent Key="fc15ffb6-2f17-4161-aa63-d6c8be1c6900">FNB</Parent>
    <Path>/Locations/FNB/Mcdonalds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-30T15:10:39</CreateDate>
    <NodeName Default="Mcdonalds" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ygejrge3/mcdonalds.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>