<?xml version="1.0" encoding="utf-8"?>
<Media Key="8828203e-8643-4b2e-a020-6fbd7e6d1f35" Alias="Mohammed Kazem Copy (2) (2) Min" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/MohammedKazemCopy22Min</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T06:08:15</CreateDate>
    <NodeName Default="Mohammed Kazem Copy (2) (2) Min" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/haqcrccd/mohammed-kazem-copy-2-2-min.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>