<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d81567c-d61c-4e8b-b13b-7f81bb932a3b" Alias="Nujoom+Alghanem++ +HR+" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/NujoomplusAlghanemplusplusPlusHRplus</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T06:08:55</CreateDate>
    <NodeName Default="Nujoom+Alghanem++ +HR+" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pjlic5i2/nujoomplusalghanemplusplus-plushrplus.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>