<?xml version="1.0" encoding="utf-8"?>
<Media Key="11e0a0de-d7d5-44f1-8a4c-442adc7827a4" Alias="Paad Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PaadLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-01T14:09:02</CreateDate>
    <NodeName Default="Paad Logo" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/34qoaeov/paad-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>