<?xml version="1.0" encoding="utf-8"?>
<Media Key="a37fe1e4-c176-4c9b-bc75-c1fe7d2c1be8" Alias="Pexels Vlada Karpovich 4450088" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/PexelsVladaKarpovich4450088</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T16:57:04</CreateDate>
    <NodeName Default="Pexels Vlada Karpovich 4450088" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2lqh5i1w/pexels-vlada-karpovich-4450088.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>