<?xml version="1.0" encoding="utf-8"?>
<Media Key="e78cac13-0058-4b81-81b9-0f875540317a" Alias="Pexels Adil Alimbetov 303159" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/PexelsAdilAlimbetov303159</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T16:57:05</CreateDate>
    <NodeName Default="Pexels Adil Alimbetov 303159" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cwwizz0y/pexels-adil-alimbetov-303159.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>