<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b34819b-ad68-42a5-81fd-a859429ddce3" Alias="Prayer Room" Level="2">
  <Info>
    <Parent Key="691b9a71-b640-420e-929d-296d5cbcebc2">Amenities</Parent>
    <Path>/Amenities/PrayerRoom</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-01T08:15:48</CreateDate>
    <NodeName Default="Prayer Room" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vkadio1i/prayer-room.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>