<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad12ad52-75f7-405a-bae7-bfe53beb97c1" Alias="Program 2" Level="2">
  <Info>
    <Parent Key="018db139-92fb-4698-a59c-2105d61a9126">Programs</Parent>
    <Path>/Programs/Program2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-30T13:40:44</CreateDate>
    <NodeName Default="Program 2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kswbflpx/program-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>