<?xml version="1.0" encoding="utf-8"?>
<Media Key="135b2fea-1611-465b-8aeb-44ad967bae0d" Alias="Program 1" Level="2">
  <Info>
    <Parent Key="018db139-92fb-4698-a59c-2105d61a9126">Programs</Parent>
    <Path>/Programs/Program1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-30T13:40:45</CreateDate>
    <NodeName Default="Program 1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3qxfweyr/program-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>