<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f3ec0df-38d8-4480-9c61-d073b8ba2403" Alias="Rafeal Lozano H 2014 (2)" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/RafealLozanoH20142</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T06:18:23</CreateDate>
    <NodeName Default="Rafeal Lozano H 2014 (2)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1had3h4y/rafeal-lozano-h_2014-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>