<?xml version="1.0" encoding="utf-8"?>
<Media Key="a244231f-7845-4217-97b4-e86911642481" Alias="Restroom" Level="2">
  <Info>
    <Parent Key="691b9a71-b640-420e-929d-296d5cbcebc2">Amenities</Parent>
    <Path>/Amenities/Restroom</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-01T08:15:48</CreateDate>
    <NodeName Default="Restroom" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fyrfjisf/restroom.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>