<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd4dc353-1694-4a14-8579-22559063a920" Alias="Restaurant" Level="3">
  <Info>
    <Parent Key="fc15ffb6-2f17-4161-aa63-d6c8be1c6900">FNB</Parent>
    <Path>/Locations/FNB/Restaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-30T15:10:39</CreateDate>
    <NodeName Default="Restaurant" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kxbf1xmu/restaurant.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>