<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4a68c20-0de3-4f66-ab7b-cab47c84c06c" Alias="Sample Location" Level="3">
  <Info>
    <Parent Key="6522235b-3db9-43a7-9779-94cbad51a1eb">Transportation</Parent>
    <Path>/Locations/Transportation/SampleLocation</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-30T15:21:09</CreateDate>
    <NodeName Default="Sample Location" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e0gknrhd/sample-location.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>