<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae978447-d14b-4e1b-a790-90bcb4b7210a" Alias="Sample 5S" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sample5S</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-10-02T00:07:32</CreateDate>
    <NodeName Default="Sample 5S" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n4cjplsl/sample-5s.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>