<?xml version="1.0" encoding="utf-8"?>
<Media Key="72d6faff-00fc-4e10-b79d-9191af093bde" Alias="Sample Video" Level="2">
  <Info>
    <Parent Key="1b23c315-ef72-4aba-9bbf-f8438f928ccb">Footer</Parent>
    <Path>/Footer/SampleVideo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-10-01T13:40:51</CreateDate>
    <NodeName Default="Sample Video" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/053nm2x2/noor-riyadh-2022-نور-الرياض-2022.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>