<?xml version="1.0" encoding="utf-8"?>
<Media Key="65434e3f-febd-40ae-a63b-1b7251d9f83f" Alias="Screenshot 2023 07 27 201027" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20230727201027</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-29T16:46:57</CreateDate>
    <NodeName Default="Screenshot 2023 07 27 201027" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hfhegzn3/screenshot-2023-07-27-201027.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>