<?xml version="1.0" encoding="utf-8"?>
<Media Key="047c9e2c-602a-4811-af0a-37f3d8655058" Alias="Screenshot-1" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/Screenshot1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-21T12:51:31</CreateDate>
    <NodeName Default="Screenshot-1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fkphybbk/screenshot-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>