<?xml version="1.0" encoding="utf-8"?>
<Media Key="006c0414-b3ab-4977-9796-8969119f649a" Alias="Shezad Dawood, Credit Jonathan Glynn Smith (1) Min" Level="2">
  <Info>
    <Parent Key="ac655916-332a-47cf-aa38-c0048776a6aa">Artists</Parent>
    <Path>/Artists/ShezadDawoodCreditJonathanGlynnSmith1Min</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T06:03:27</CreateDate>
    <NodeName Default="Shezad Dawood, Credit Jonathan Glynn Smith (1) Min" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cicgyafl/shezad-dawood-credit-jonathan-glynn-smith-1-min.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>