<?xml version="1.0" encoding="utf-8"?>
<Media Key="660da645-ca66-4ea8-9668-670017b7aeb1" Alias="Skyline 16 9" Level="2">
  <Info>
    <Parent Key="69f119e1-7bf5-4668-b574-12151b421ec8">Locations</Parent>
    <Path>/Locations/Skyline169</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T14:14:50</CreateDate>
    <NodeName Default="Skyline 16 9" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iota0ztg/skyline_16_9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>