<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc490992-5585-4ad4-9371-4a5d0dbbbacb" Alias="Thecorniche Abudhabi 2019 Gettyimages 687951004" Level="2">
  <Info>
    <Parent Key="69f119e1-7bf5-4668-b574-12151b421ec8">Locations</Parent>
    <Path>/Locations/ThecornicheAbudhabi2019Gettyimages687951004</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T13:37:09</CreateDate>
    <NodeName Default="Thecorniche Abudhabi 2019 Gettyimages 687951004" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sqeft5ef/thecorniche-abudhabi-2019-gettyimages-687951004.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>