<?xml version="1.0" encoding="utf-8"?>
<Media Key="6522235b-3db9-43a7-9779-94cbad51a1eb" Alias="Transportation" Level="2">
  <Info>
    <Parent Key="69f119e1-7bf5-4668-b574-12151b421ec8">Locations</Parent>
    <Path>/Locations/Transportation</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-30T15:16:23</CreateDate>
    <NodeName Default="Transportation" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>