<?xml version="1.0" encoding="utf-8"?>
<Content Key="65baaea6-9b19-40b1-8f74-89a53ad0bf00" Alias="abu-dhabi-dots" Level="3">
  <Info>
    <Parent Key="7e4e6004-cce1-4ecd-89b7-407586edc6d7">Artworks</Parent>
    <Path>/Artwork/Artworks/abuDhabiDots</Path>
    <Trashed>false</Trashed>
    <ContentType>artworks</ContentType>
    <CreateDate>2023-10-01T08:53:06</CreateDate>
    <NodeName Default="abu-dhabi-dots">
      <Name Culture="ar">abu-dhabi-dots</Name>
      <Name Culture="en">abu-dhabi-dots</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artist>
      <Value Culture="ar"><![CDATA[umb://document/0ab1c177643e41aa95cd650195bcd823]]></Value>
      <Value Culture="en"><![CDATA[umb://document/0ab1c177643e41aa95cd650195bcd823]]></Value>
    </artist>
    <artworktitle>
      <Value Culture="ar"><![CDATA[نقاط أبوظبي]]></Value>
      <Value Culture="en"><![CDATA[Abu Dhabi Dots]]></Value>
    </artworktitle>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/657b4d435d3f4a069211346dfd6c29a7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/657b4d435d3f4a069211346dfd6c29a7",
      "portrait": "[\r\n  {\r\n    \"key\": \"0a9c5dcd-a521-483d-9128-7d0ea884a254\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"c7f099b8-cbcd-4900-b122-b3b7c9f05c6d\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"828a53a9-393d-41b6-bbbf-0acbd191a047\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/78736c9af3d54f6baf7ccc99a8798eb8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/78736c9af3d54f6baf7ccc99a8798eb8",
      "portrait": "[\r\n  {\r\n    \"key\": \"c20cfd01-b802-4e5b-98e8-8ef75d3548f8\",\r\n    \"mediaKey\": \"dd4dc353-1694-4a14-8579-22559063a920\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"9fc9cf5b-a30c-4b86-b459-0b1adabf03e4\",\r\n    \"mediaKey\": \"dd4dc353-1694-4a14-8579-22559063a920\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"0c486dc5-d76e-40bb-a475-ef0548fb77bd\",\r\n    \"mediaKey\": \"dd4dc353-1694-4a14-8579-22559063a920\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[تتكون من 20 مصباحًا، بأربعة ألوان مختلفة، تتبع حركات الناس وتسمح لهم بلعب لعبة "المكافأة والعقاب" مع بعضهم البعض. في البداية، هناك 14 نقطة حمراء  و3 زرقاء و 2 خضراء و 1 بيضاء. يمكن للأشخاص الذين لديهم نقطة حمراء الحصول على "الترقية" إلى اللون الأزرق من خلال تداخل نقطتهم بنقطة زرقاء لفترة قصيرة من الوقت. كما يلعب مقدار التداخل دورًا. من اللون الأزرق، يمكن للاعبين "الترقية" إلى اللون الأخضر، ثم يُمكن أن يفقدوا "مراكزهم" إلى النقاط البيضاء والخضراء، ويتم "تخفيض" كل منهم بخطوة لون واحدة. ومع ذلك، إذا اتحدت جميع النقاط الحمراء عن طريق تشكيل سلسلة أو عنقود غير منقطع، فإن جميع النقاط 20 تتحول إلى اللون الأبيض. ستستمر اللعبة على هذه الحال حتى لا تتداخل 7 نقاط بيضاء أو أكثر مع النقاط البيضاء الأخرى: في هذه المرحلة، تنتهي اللعبة وتعود النقاط الملونة إلى الكوكبة الأولية.]]></Value>
      <Value Culture="en"><![CDATA[Abu Dhabi Dots consists of 20 spotlights, in four colours, which follow people’s movements and allow them to play a "reward and punishment" game with each other. Initially, there are 14 red, 3 blue, 2 green and 1 white dots. People having a red dot can "upgrade" to blue by overlapping their dot with a blue dot for a short amount of time. The amount of overlap also plays a role. From blue, players can "upgrade" to green, and then to white—the respective blue, green and white dots lose their "status" and each get "downgraded" by one colour step. However, if all red dots unite by forming an uninterrupted chain or cluster, all 20 dots turn white. This situation will last until 7 or more white dots don't overlap with the other white dots anymore: at this point, the game is over and the colour dots revert to the initial constellation.]]></Value>
    </markdown>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[abu-dhabi-dots]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[abu-dhabi-dots]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[abu-dhabi-dots]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[abu-dhabi-dots]]></Value>
      <Value Culture="en"><![CDATA[abu-dhabi-dots]]></Value>
    </slug>
  </Properties>
</Content>