<?xml version="1.0" encoding="utf-8"?>
<Content Key="5778fb82-d6f5-48fd-aa02-08551b732fde" Alias="alaa-edris" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/alaaEdris</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T02:42:39</CreateDate>
    <NodeName Default="alaa-edris">
      <Name Culture="en">alaa-edris</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="en"><![CDATA[ALAA EDRIS]]></Value>
    </artistname>
    <description>
      <Value Culture="en"><![CDATA[Emirati artist Alaa Edris (b.1986) captures social & urban life through mixed mediums.]]></Value>
    </description>
    <facebook>
      <Value Culture="en"><![CDATA[/]]></Value>
    </facebook>
    <images>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f36e59ea6a0140e8a854f2baa9c8031d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/f36e59ea6a0140e8a854f2baa9c8031d",
      "portrait": "[\r\n  {\r\n    \"key\": \"6010501a-91a5-4393-b081-87e09476514e\",\r\n    \"mediaKey\": \"fc490992-5585-4ad4-9371-4a5d0dbbbacb\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"84b5d760-4146-4def-8fbf-50742eb1fd5e\",\r\n    \"mediaKey\": \"fc490992-5585-4ad4-9371-4a5d0dbbbacb\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"5dbbdaa8-7690-40a1-bd6a-a64e5ac2fb70\",\r\n    \"mediaKey\": \"ebc6aae2-d162-470b-bc45-ab13b20c4b9e\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="en"><![CDATA[/]]></Value>
    </instagram>
    <isActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="en"><![CDATA[/]]></Value>
    </linkedin>
    <location>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="en"><![CDATA[Born in 1986 in Dubai, UAE, Alaa Edris uses photography, film and performance to enact experimental mappings and manipulations of her social and urban environment. Acting as anthropologist, cartographer and sci-fi voyager, she contends with dominant issues from the field of Arab artistic research, including the construction of gender, the relationship between tradition and progress, and language as a medium for identifying, shaping and articulating a culture.

Edris’ work has been presented in exhibitions across the region and internationally, including Evaporating Suns: Contemporary Myths from the Arabian Gulf, KBH.G, Basel, Switzerland (2023); Portrait of a Nation II: Beyon Narratives, Manarat Al Saadiyat, Abu Dhabi (2022); Fragments, Yesterday and Today, Gateway, Abu Dhabi Art, Manarat Al Saadiyat, Abu Dhabi (2019); Sharjah Biennial 14: Leaving the Echo Chamber (SAF Art Spaces, Sharjah, 2019); From Barcelona to Abu Dhabi: Works from the Barcelona Museum of Contemporary Art (MACBA in dialogue with the Emirates), Manarat Al Saadiyat, Abu Dhabi (2018); Is Old Gold?, Dubai Community Theatre and Art Centre (DUCTAC), Dubai (2017); Al Haraka Baraka, Maraya Arts Centre, Sharjah (2016); Past Forward: Contemporary Art from the Emirates, touring exhibition to Washington, DC and six US states (2014–2016); In the Absence of Script, Maraya Art Centre, Sharjah (2014) and Moving Image Art Fair, London (2013).

She completed the year-long Salama bint Hamdan Emerging Artist Fellowship programme, organised in partnership with the Rhode Island School of Design (2015), and participated in a residency at Fondazione Cini in Venice through an award from the Emirates Foundation (2011). In 2019, she presented her first solo exhibition titled Unreal. Unseen. Untouch. at 1X1 Gallery, Alserkal Avenue, Dubai. 

 Alaa Edris currently lives and works between Sharjah and Abu Dhabi.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="en"><![CDATA[alaa-edris]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="en"><![CDATA[alaa-edris]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="en"><![CDATA[alaa-edris]]></Value>
    </seotitle>
    <slug>
      <Value Culture="en"><![CDATA[alaa-edris]]></Value>
    </slug>
    <tiktok>
      <Value Culture="en"><![CDATA[/]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="en"><![CDATA[/]]></Value>
    </twitter>
    <variant>
      <Value Culture="en"><![CDATA[[
  "yellow"
]]]></Value>
    </variant>
  </Properties>
</Content>