<?xml version="1.0" encoding="utf-8"?>
<Content Key="5778fb82-d6f5-48fd-aa02-08551b732fde" Alias="alaa-edris" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/alaaEdris</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T02:42:39</CreateDate>
    <NodeName Default="alaa-edris">
      <Name Culture="ar">alaa-edris</Name>
      <Name Culture="en">alaa-edris</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[آلاء إدريس]]></Value>
      <Value Culture="en"><![CDATA[ALAA EDRIS]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[آلاء إدريس، فنانة إماراتية(مواليد عام 1986)، يجسد الحياة الاجتماعية والحضرية من خلال وسائل مختلطة.]]></Value>
      <Value Culture="en"><![CDATA[Emirati artist Alaa Edris (b.1986) captures social & urban life through mixed mediums.]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b0ab855ef8ef40dabd0178d3edca8c8f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/b0ab855ef8ef40dabd0178d3edca8c8f",
      "portrait": "[\r\n  {\r\n    \"key\": \"cfe47aa1-863d-417b-9ea6-8241b399ce08\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"74e58624-27bd-4d90-b695-d4a8f065f399\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"98fb58b3-0863-4e12-95f1-227562eb4be3\",\r\n    \"mediaKey\": \"ebc6aae2-d162-470b-bc45-ab13b20c4b9e\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f36e59ea6a0140e8a854f2baa9c8031d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/f36e59ea6a0140e8a854f2baa9c8031d",
      "portrait": "[\r\n  {\r\n    \"key\": \"6010501a-91a5-4393-b081-87e09476514e\",\r\n    \"mediaKey\": \"fc490992-5585-4ad4-9371-4a5d0dbbbacb\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"84b5d760-4146-4def-8fbf-50742eb1fd5e\",\r\n    \"mediaKey\": \"fc490992-5585-4ad4-9371-4a5d0dbbbacb\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"5dbbdaa8-7690-40a1-bd6a-a64e5ac2fb70\",\r\n    \"mediaKey\": \"ebc6aae2-d162-470b-bc45-ab13b20c4b9e\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[آلاء إدريس (مواليد ١٩٨٦، دبي، الإمارات العربية المتحدة) تستخدم التصوير الفوتوغرافي، الأفلام والأداء لتفعيل الخرائط التجريبية والتلاعب ببيئتها الإجتماعية والحضرية. بصفتها عالمة أنثروبولوجيا ورسامة خرائط كما أنها رحالة خيال علمي، تتعامل مع القضايا التي تسيطر على البحث الفني العربي، بما في ذلك بناء النوع الاجتماعي، والعلاقة بين التقاليد والتقدم، واللغة كوسيلة لتشكيل الثقافة وبنائها والتعبير عنها. 

تم عرض أعمال إدريس في عدة معارض في جميع أنحاء المنطقة والعالم، بما في ذلك تبخر الشموس: أساطير معاصرة من الخليج العربي،   KBH. G  بازل، سويسرا (2023); صورة أمة: سرديات بيون، منارة السعديات، أبوظبي (2022)؛ شظايا، أمس واليوم، بوابة، فن أبوظبي، منارة السعديات، أبوظبي (2019)؛ بينالي الشارقة 14: مغادرة غرفة الصدى (المساحات الفنية لمؤسسة الشارقة للفنون، الشارقة، 2019)، من برشلونة إلى أبوظبي: أعمال من متحف برشلونة للفن المعاصر (MACBA في حوار مع الإمارات)، منارة السعديات، أبوظبي (2018)، هل الذهب القديم؟ مسرح دبي الاجتماعي ومركز الفنون (مسرح دبي الإجتماعي ومركز الفنون)، دبي (2017)، الحركة بركة، مركز مرايا للفنون، الشارقة (2016)، الماضي إلى الأمام: الفن المعاصر من الإمارات، معرض متجول في واشنطن العاصمة وست ولايات أمريكية (2014-2016)، في غياب النص، مركز مرايا للفنون، الشارقة (2014) ومعرض فن الصور المتحركة، لندن (2013). 

أكملت ادريس برنامج منحة سلامة بنت حمدان للفنانين الناشئين الذي استمر لمدة عام، والذي تم تنظيمه بالشراكة مع كلية رود أيلاند للتصميم (2015)، وشاركت خلال فترة تخصصها في مؤسسة سيني في البندقية من خلال جائزة من مؤسسة الإمارات (2011). في عام 2019، قدمت أول معرض فردي لها بعنوان Unreal. Unseen. Untouch في غاليري 1X1، السركال أفنيو، دبي. تعيش آلاء إدريس وتعمل حالياً بين الشارقة وأبوظبي.]]></Value>
      <Value Culture="en"><![CDATA[Born in 1986 in Dubai, UAE, Alaa Edris uses photography, film and performance to enact experimental mappings and manipulations of her social and urban environment. Acting as anthropologist, cartographer and sci-fi voyager, she contends with dominant issues from the field of Arab artistic research, including the construction of gender, the relationship between tradition and progress, and language as a medium for identifying, shaping and articulating a culture.

Edris’ work has been presented in exhibitions across the region and internationally, including Evaporating Suns: Contemporary Myths from the Arabian Gulf, KBH.G, Basel, Switzerland (2023); Portrait of a Nation II: Beyon Narratives, Manarat Al Saadiyat, Abu Dhabi (2022); Fragments, Yesterday and Today, Gateway, Abu Dhabi Art, Manarat Al Saadiyat, Abu Dhabi (2019); Sharjah Biennial 14: Leaving the Echo Chamber (SAF Art Spaces, Sharjah, 2019); From Barcelona to Abu Dhabi: Works from the Barcelona Museum of Contemporary Art (MACBA in dialogue with the Emirates), Manarat Al Saadiyat, Abu Dhabi (2018); Is Old Gold?, Dubai Community Theatre and Art Centre (DUCTAC), Dubai (2017); Al Haraka Baraka, Maraya Arts Centre, Sharjah (2016); Past Forward: Contemporary Art from the Emirates, touring exhibition to Washington, DC and six US states (2014–2016); In the Absence of Script, Maraya Art Centre, Sharjah (2014) and Moving Image Art Fair, London (2013).

She completed the year-long Salama bint Hamdan Emerging Artist Fellowship programme, organised in partnership with the Rhode Island School of Design (2015), and participated in a residency at Fondazione Cini in Venice through an award from the Emirates Foundation (2011). In 2019, she presented her first solo exhibition titled Unreal. Unseen. Untouch. at 1X1 Gallery, Alserkal Avenue, Dubai. 

 Alaa Edris currently lives and works between Sharjah and Abu Dhabi.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[alaa-edris]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[alaa-edris]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[alaa-edris]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[alaa-edris]]></Value>
      <Value Culture="en"><![CDATA[alaa-edris]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "yellow"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "yellow"
]]]></Value>
    </variant>
  </Properties>
</Content>