<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f126716-b36d-4704-8070-90e70e6d48ac" Alias="Artist" Level="2">
  <Info>
    <Parent Key="a24a3c45-b849-4ec0-997a-f2a470fb3ae7">Artist</Parent>
    <Path>/Artist/Artist</Path>
    <Trashed>false</Trashed>
    <ContentType>createArtist</ContentType>
    <CreateDate>2023-09-21T12:11:53</CreateDate>
    <NodeName Default="Artist">
      <Name Culture="ar">Artists</Name>
      <Name Culture="en">Artist</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allLocationsText>
      <Value Culture="ar"><![CDATA[جميع المواقع]]></Value>
      <Value Culture="en"><![CDATA[ALL LOCATIONS]]></Value>
    </allLocationsText>
    <artistNamePlaceHolder>
      <Value Culture="ar"><![CDATA[اسم فنان]]></Value>
      <Value Culture="en"><![CDATA[ARTIST NAME]]></Value>
    </artistNamePlaceHolder>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ad1de07f9c474f96b101a42b1723d7e5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8a490885-8b0d-4af7-97ec-caabfff51216",
      "udi": "umb://element/ad1de07f9c474f96b101a42b1723d7e5",
      "portrait": "[\r\n  {\r\n    \"key\": \"6c58515a-7876-4833-8828-e7d51ef361aa\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"c17ab001-e455-4e91-b3e3-c0f2cf053471\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6d99f29482ad442a83929c88b96b064b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8a490885-8b0d-4af7-97ec-caabfff51216",
      "udi": "umb://element/6d99f29482ad442a83929c88b96b064b",
      "portrait": "[\r\n  {\r\n    \"key\": \"09d41250-f1e0-4f99-af30-1df8831af914\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"58c2fc26-c547-4eed-873d-094b9bea78b8\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <noResultsText>
      <Value Culture="ar"><![CDATA[لا نتائج]]></Value>
      <Value Culture="en"><![CDATA[NO RESULTS]]></Value>
    </noResultsText>
    <scrollText>
      <Value Culture="ar"><![CDATA[حرك الفأرة لأسفل]]></Value>
      <Value Culture="en"><![CDATA[SCROLL DOWN]]></Value>
    </scrollText>
    <title>
      <Value Culture="ar"><![CDATA[فنانو المنار <br/> 2024]]></Value>
      <Value Culture="en"><![CDATA[ARTISTS OF MANAR<br/> 2024]]></Value>
    </title>
    <viewMoreBtnText>
      <Value Culture="ar"><![CDATA[عرض المزيد]]></Value>
      <Value Culture="en"><![CDATA[VIEW MORE]]></Value>
    </viewMoreBtnText>
  </Properties>
</Content>