<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e4e6004-cce1-4ecd-89b7-407586edc6d7" Alias="Artworks" Level="2">
  <Info>
    <Parent Key="3f36a20a-722c-4a9a-96c9-30beeefb1673">Artwork</Parent>
    <Path>/Artwork/Artworks</Path>
    <Trashed>false</Trashed>
    <ContentType>createArtwork</ContentType>
    <CreateDate>2023-09-21T12:44:48</CreateDate>
    <NodeName Default="Artworks">
      <Name Culture="ar">Artworks</Name>
      <Name Culture="en">Artworks</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <locatedOnText>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </locatedOnText>
  </Properties>
</Content>