<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f36a20a-722c-4a9a-96c9-30beeefb1673" Alias="Artwork" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Artwork</Path>
    <Trashed>false</Trashed>
    <ContentType>folders</ContentType>
    <CreateDate>2023-09-22T11:51:10</CreateDate>
    <NodeName Default="Artwork">
      <Name Culture="ar">Artwork</Name>
      <Name Culture="en">Artwork</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="7b0322c3-1526-4a6f-88f6-3522f80068a0">Folders</Template>
  </Info>
  <Properties />
</Content>