<?xml version="1.0" encoding="utf-8"?>
<Content Key="19052605-5c75-41d8-93bf-307318ac5d5f" Alias="asdwd" Level="3">
  <Info>
    <Parent Key="7e4e6004-cce1-4ecd-89b7-407586edc6d7">Artworks</Parent>
    <Path>/Artwork/Artworks/asdwd</Path>
    <Trashed>false</Trashed>
    <ContentType>artworks</ContentType>
    <CreateDate>2023-09-22T15:23:09</CreateDate>
    <NodeName Default="asdwd">
      <Name Culture="ar">tester</Name>
      <Name Culture="en">asdwd</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artist>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </artist>
    <artworktitle>
      <Value Culture="ar"><![CDATA[sdfsdf]]></Value>
      <Value Culture="en"><![CDATA[efdewf]]></Value>
    </artworktitle>
    <images>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </images>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/c1d83f4e0cfa4c9087442efe28477623]]></Value>
      <Value Culture="en"><![CDATA[umb://document/c1d83f4e0cfa4c9087442efe28477623]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[sdfsdfewff sdfdsf]]></Value>
      <Value Culture="en"><![CDATA[asdwdqwda    *sdawd*  sdfljsjfsdfsd





sdfsdfsdfsdfsdfds]]></Value>
    </markdown>
    <seodescription>
      <Value Culture="ar"><![CDATA[regreg]]></Value>
      <Value Culture="en"><![CDATA[jkjhjh]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "6dc21fed-7918-495c-84cb-d184b3a46c8c",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "7b45767b-f1fe-4b18-828a-c0385716c289",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[asd]]></Value>
      <Value Culture="en"><![CDATA[asdasd]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[dfgreg]]></Value>
      <Value Culture="en"><![CDATA[pushpalingamsdfdsf]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[test-artwork]]></Value>
      <Value Culture="en"><![CDATA[test-artwork]]></Value>
    </slug>
  </Properties>
</Content>