<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f428892-ea90-4ac0-a13d-c126aeffc2d6" Alias="asma-belhamar" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/asmaBelhamar</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T00:45:50</CreateDate>
    <NodeName Default="asma-belhamar">
      <Name Culture="ar">asma-belhamar</Name>
      <Name Culture="en">asma-belhamar</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[أسماء بالحمَر]]></Value>
      <Value Culture="en"><![CDATA[ASMA BELHAMAR]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[أسماء بالحمَر، فنانة إمارتية(مواليد عام 1988)، تستكشف في أعمالها تأثير الهندسة المعمارية على صورة الإمارات]]></Value>
      <Value Culture="en"><![CDATA[Emirati artist Asma Belhamar (b.1988) explores architecture's impact on Emirates' image]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fe91ffeb825d4f6cae008ace19aa3c4a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/fe91ffeb825d4f6cae008ace19aa3c4a",
      "portrait": "[\r\n  {\r\n    \"key\": \"36559eab-ab56-42ea-a39b-df12f8054a71\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"6647251a-c653-4426-a6ef-c3de57600c08\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"3531e3d9-2169-4943-83bd-4e08e0d037d7\",\r\n    \"mediaKey\": \"a452d318-4343-4b5f-8555-7794b4272d2c\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/434ea44cdcce422583bb426048ba078d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/434ea44cdcce422583bb426048ba078d",
      "portrait": "[\r\n  {\r\n    \"key\": \"5730dadd-3962-468b-a6b5-efcf10da9f73\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"6f8766d0-ebe5-4440-a9d1-e7bb25897a77\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"8db9c6d7-4c88-4cda-ad10-a5a521365555\",\r\n    \"mediaKey\": \"a452d318-4343-4b5f-8555-7794b4272d2c\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[ولدت بالحمَر عام 1988 في دبي، الإمارات العربية المتحدة، حصلت على درجة البكالوريوس في الفنون البصرية من جامعة زايد (2012) ودرجة الماجستير في تصميم النسيج من كلية رود آيلاند للتصميم (2017). ونالت منحة سلامة بنت حمدان للفنانين الناشئين بالتعاون مع كلية رود آيلاند للتصميم في أبوظبي في عام 2014.

تشارك أسماء بالحمَر في استكشاف الهياكل العملاقة في الإمارات من خلال اختصاصات متعددة، كما تتعمق في تأثير تلك الهياكل على ذاكرة المناظر الطبيعية المحلية. تجمع تركيباتها ومطبوعاتها التجريبية، مقاطع الفيديو والنماذج ثلاثية الأبعاد بين الهندسة المعمارية والطبيعة، ما يخلق مساحات هجينة في مواجهة الزمان وذاكرة المكان. تهدف أعمالها إلى توضيح تأثير الإتجاهات المعمارية على رؤية الإمارات، محلياً و عالمياً.  عملت في مشروع مارس، ومؤسسة الشارقة للفنون، واستوديو بورثمور، سانت آيفز، المملكة المتحدة، وكلاهما في عام 2019. 

تم ترشيح  بالحمَر لإفتتاح لجنة الفن في الأماكن العامة في دبي (2023). عرضت أعمالها في بينالي الشارقة الخامس عشر (2023) التي تضمنت لجان عامة مثل "مألوفات مشوهة" لمعرض إكسبو 2020 دبي (2021) و"صرح سبا" في مشروع مارس، مؤسسة الشارقة للفنون (2019). ومن المتوقع أن يقام معرضها الفردي الأول في معرض421 في أبوظبي خلال شهر أكتوبر 2023.]]></Value>
      <Value Culture="en"><![CDATA[Born in 1988 in Dubai, UAE, Belhamar earned a BA in Visual Arts from Zayed University (2012) and an MFA in Textile Design from the Rhode Island School of Design (2017). She completed the Salama bint Hamdan Emerging Artists Fellowship in collaboration with the Rhode Island School of Design, Abu Dhabi in 2014. She held residencies at March Project, Sharjah Art Foundation, and Porthmeor Studio, St Ives, UK, both in 2019.

Asma Belhamar engages in an interdisciplinary exploration of megastructures in the Emirates, delving into their impact on local landscape memory. Her installations, experimental prints, videos, and three-dimensional models synthesize architecture and nature, creating hybrid spaces that confront temporality and spatial recollections. Her work aims to illustrate the influence of architectural trends on perceptions of the Emirates, locally and globally.
 
Notably, Belhamar was shortlisted for the inaugural Dubai Public Art Commission (2023). Her works were featured in the 15th Sharjah Biennial (2023) and include public commissions like "Distorted Familiarities" for Expo 2020, Dubai (2021) and "The Edifice of Sba" at March Project, Sharjah Art Foundation (2019). Anticipated is her debut solo exhibition at Abu Dhabi's Warehouse421 in October 2023.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[Artwork Spotlight]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[Nicole]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[asma-belhamar]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[asma-belhamar]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[asma-belhamar]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[asma-belhamar]]></Value>
      <Value Culture="en"><![CDATA[asma-belhamar]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "orange"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "orange"
]]]></Value>
    </variant>
  </Properties>
</Content>