<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f428892-ea90-4ac0-a13d-c126aeffc2d6" Alias="asma-belhamar" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/asmaBelhamar</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T00:45:50</CreateDate>
    <NodeName Default="asma-belhamar">
      <Name Culture="en">asma-belhamar</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="en"><![CDATA[ASMA BELHAMAR]]></Value>
    </artistname>
    <description>
      <Value Culture="en"><![CDATA[Emirati artist Asma Belhamar (b.1988) explores architecture's impact on Emirates' image]]></Value>
    </description>
    <facebook>
      <Value Culture="en"><![CDATA[/]]></Value>
    </facebook>
    <images>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/434ea44cdcce422583bb426048ba078d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/434ea44cdcce422583bb426048ba078d",
      "portrait": "[\r\n  {\r\n    \"key\": \"5730dadd-3962-468b-a6b5-efcf10da9f73\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"6f8766d0-ebe5-4440-a9d1-e7bb25897a77\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"8db9c6d7-4c88-4cda-ad10-a5a521365555\",\r\n    \"mediaKey\": \"a452d318-4343-4b5f-8555-7794b4272d2c\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="en"><![CDATA[/]]></Value>
    </instagram>
    <isActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="en"><![CDATA[/]]></Value>
    </linkedin>
    <location>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="en"><![CDATA[Born in 1988 in Dubai, UAE, Belhamar earned a BA in Visual Arts from Zayed University (2012) and an MFA in Textile Design from the Rhode Island School of Design (2017). She completed the Salama bint Hamdan Emerging Artists Fellowship in collaboration with the Rhode Island School of Design, Abu Dhabi in 2014. She held residencies at March Project, Sharjah Art Foundation, and Porthmeor Studio, St Ives, UK, both in 2019.

Asma Belhamar engages in an interdisciplinary exploration of megastructures in the Emirates, delving into their impact on local landscape memory. Her installations, experimental prints, videos, and three-dimensional models synthesize architecture and nature, creating hybrid spaces that confront temporality and spatial recollections. Her work aims to illustrate the influence of architectural trends on perceptions of the Emirates, locally and globally.
 
Notably, Belhamar was shortlisted for the inaugural Dubai Public Art Commission (2023). Her works were featured in the 15th Sharjah Biennial (2023) and include public commissions like "Distorted Familiarities" for Expo 2020, Dubai (2021) and "The Edifice of Sba" at March Project, Sharjah Art Foundation (2019). Anticipated is her debut solo exhibition at Abu Dhabi's Warehouse421 in October 2023.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="en"><![CDATA[Artwork Spotlight]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="en"><![CDATA[Nicole]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="en"><![CDATA[asma-belhamar]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="en"><![CDATA[asma-belhamar]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="en"><![CDATA[asma-belhamar]]></Value>
    </seotitle>
    <slug>
      <Value Culture="en"><![CDATA[asma-belhamar]]></Value>
    </slug>
    <tiktok>
      <Value Culture="en"><![CDATA[/]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="en"><![CDATA[/]]></Value>
    </twitter>
    <variant>
      <Value Culture="en"><![CDATA[[
  "orange"
]]]></Value>
    </variant>
  </Properties>
</Content>