<?xml version="1.0" encoding="utf-8"?>
<Content Key="520bf99e-1498-4124-b749-6142d6bbde7a" Alias="ATM" Level="3">
  <Info>
    <Parent Key="a0058e72-cb90-4b17-b53f-691f47e49ebc">Amenities</Parent>
    <Path>/Collections/Amenities/ATM</Path>
    <Trashed>false</Trashed>
    <ContentType>amenities</ContentType>
    <CreateDate>2023-10-01T08:17:22</CreateDate>
    <NodeName Default="ATM">
      <Name Culture="ar">ATM</Name>
      <Name Culture="en">ATM</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "68c3eccd-ea2b-4478-b357-c00cf62170b1",
    "mediaKey": "3b6af341-35a9-44b5-85b1-c13618272461"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "8f7cc5d0-a8e4-4907-8e38-82d526874d66",
    "mediaKey": "3b6af341-35a9-44b5-85b1-c13618272461"
  }
]]]></Value>
    </icon>
    <title>
      <Value Culture="ar"><![CDATA[ATM]]></Value>
      <Value Culture="en"><![CDATA[ATM]]></Value>
    </title>
  </Properties>
</Content>