<?xml version="1.0" encoding="utf-8"?>
<Content Key="b57efb06-610d-4599-957a-ce16400caae4" Alias="ayesha-hadhir" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/ayeshaHadhir</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:28:36</CreateDate>
    <NodeName Default="ayesha-hadhir">
      <Name Culture="ar">ayesha-hadhir</Name>
      <Name Culture="en">ayesha-hadhir</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="false">
      <Published Culture="ar">false</Published>
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[AYESHA HADHIR]]></Value>
      <Value Culture="en"><![CDATA[AYESHA HADHIR]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bf3b9d0d900e4d7fbc4f3122a417a18b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/bf3b9d0d900e4d7fbc4f3122a417a18b",
      "portrait": "[\r\n  {\r\n    \"key\": \"ef11179b-abdc-4241-bb30-1a156a9f9d9a\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"c3226af3-85ce-4edb-901c-acd9189fda7c\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5172dc27ae90415d9f2a75bb0560c5a5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/5172dc27ae90415d9f2a75bb0560c5a5",
      "portrait": "[\r\n  {\r\n    \"key\": \"b4d41ca2-cb20-4f30-b20f-f481ee84abd7\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"7428b7af-d60c-4aec-8c8a-ee4e98da3773\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/bfc1476c98684ca0b9763763093d40ea]]></Value>
      <Value Culture="en"><![CDATA[umb://document/bfc1476c98684ca0b9763763093d40ea]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[عائشة حاضر، شيخة الكتبي، وروضة الكتبي، دوران 2023 
مشروع ذو موقع محدد، فولاذ، ألومنيوم، مصابيح LED، منسوجات، كائنات موجودة.
"اتكأ رأسي على الزرافة البلاستيكية ، ولم أتساءل مرة واحدة عما إذا كانت الزرافة، الفيل، كوب الشاي، الأسد والجمل قد عقدوا أي اجتماع عمل على هذا الرف الدائري. كل ما استطعت رؤيته عندما فتحت عيني هو الأضواء تومض أمامي بشكل دائري .."
تقع بين أشجار القرم الشرقية في أبوظبي، تختبىء في نقاط مختلفة على طريق قوارب الكاياك، حيث تبدأ سلسلة من المنحوتات المترابطة حواراً مع بعضها البعض. تشمل المنحوتات الثلاثة: رف دائري مزين بالسلالم وطبق الأقمار الصناعية ومنحوتة الزرافة. ثلاث شخصيات نسائية عائمة على عوامات، تحمل أواني حول رؤوسها، ودرج كبير يؤدي إلى باب به مروحة معلقة فوقه. في هذا النموذج في الهواء الطلق المحدد الموقع والمغمور جزئياً، يواصل الفنانون استكشافاتهم في المواد المخزنة، رسم الخرائط كما الشعائر]]></Value>
      <Value Culture="en"><![CDATA[Painting a portrait of her community through gathering and constructing objects, Ayesha Hadhir selects chairs, tables and sofas – some antiques, others with personal memories – that she integrates into her installations to give the audience insight into an Emirati domestic setting. The definition of community for Ayesha is not only limited to modern times: she has an inherited sense of how community was like in the past, especially in relation to the rituals of womanhood. Images of women carrying objects over their heads, filling up containers with water from the falaj, never leave her mind.


]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[ayesha-hadhir]]></Value>
      <Value Culture="en"><![CDATA[ayesha-hadhir]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "green"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "green"
]]]></Value>
    </variant>
  </Properties>
</Content>