<?xml version="1.0" encoding="utf-8"?>
<Content Key="41b9bc79-b4ea-466c-96df-95a84d4edfb3" Alias="ayman-zeydani" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/aymanZeydani</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T14:44:24</CreateDate>
    <NodeName Default="ayman-zeydani">
      <Name Culture="ar">ayman-zeydani</Name>
      <Name Culture="en">ayman-zeydani</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[أيمن زيداني]]></Value>
      <Value Culture="en"><![CDATA[AYMAN ZEYDANI]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[أيمن زيداني، فنان سعودي(مواليد عام 1984)، يستكشف مستقبل الخليج من خلال أعمال غامرة]]></Value>
      <Value Culture="en"><![CDATA[Saudi artist Ayman Zedani (b.1984) explores the Gulf's future through immersive works]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/48f088261e7a4f50a349a6967b5e45bd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/48f088261e7a4f50a349a6967b5e45bd",
      "portrait": "[\r\n  {\r\n    \"key\": \"eb70ec68-678a-4b6c-822f-84fd3f80b394\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"dccecb8c-3c75-4cfd-b2d9-e11515980d3a\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"ae3bc923-a9bc-4780-92c7-cdd429bf4b4c\",\r\n    \"mediaKey\": \"c71b613d-837d-49b7-bc61-c0f4bd916886\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/086624cc26e7436a89b1c21b91dbc959"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/086624cc26e7436a89b1c21b91dbc959",
      "portrait": "[\r\n  {\r\n    \"key\": \"4125aeb6-786b-4782-9366-956358f15502\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"be257c4e-01af-4db9-824a-7f092d72bf2a\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"a9d7f803-47fa-435d-a2e5-421588f0a08a\",\r\n    \"mediaKey\": \"c71b613d-837d-49b7-bc61-c0f4bd916886\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/365a894f8bef41fc8f1d2aa854c20eeb]]></Value>
      <Value Culture="en"><![CDATA[umb://document/365a894f8bef41fc8f1d2aa854c20eeb]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[ترتكز أعمال أيمن زيداني الفنية على الإستقصاء، مما يسمح له بتغيير فهمنا للماضي وقبول تحدي المستقبل. يتضمن عمله مقاطع فيديو مركبة وبيئات ساحرة تنظر بعمق في مستقبل الخليج.

انتاجاته هي عبارة عن منصات تدعو الجمهور لمراقبة التكافل بين البشر وغير البشر، حيث دائماً ما يترك رواياته مفتوحة على العديد من الأسئلة والتفسيرات. تسلط أبحاثه الضوء على العلاقات والتفاعل بين البشر متخطية عالم الإنسان الى أبعد من ذلك، ويضع أعماله ومشاريعة في إطار الروحانية.

تشمل مشاريع زيداني الأخيرة "السماء للجميع" ، بينالي الفنون الإسلامية، جدة (2023). الحراس، ستاتليش كونستال، بادن بادن (2022)، وادي حراس الصحراء، الصحراء X العلا (2022)، حراس الصحراء، صورة أمة II ، ADMAF (2022)، بين بحار الصحراء، بينالي الدرعية، الدرعية (2021)، بين السماوات والأرض، بينالي لاهور، لاهور (2020). 

فاز بجائزة إثراء للفنون وقدم مشروعاً جديداً بعنوان "ميم" (2018) كما أقام معرضه الفردي الأول بعنوان "بحار - بشار - شجار - حجار ، (بحر - إنسان - شجرة - حجر) من تنسيق مرتضى فالي، في معرض أثر، جدة (2019).]]></Value>
      <Value Culture="en"><![CDATA[Ayman Zedani’s investigative practice works to upend our comprehension of the past and challenge our acceptance of the future. His work includes videos, installations and immersive
 environments that consider the future of the Gulf. His resultant projects are platforms to invite audiences to observe human-nonhuman symbiosis, leaving his narratives open to a multitude of
 interpretations and questions. 

His arc of inquiry highlights the interactions and relationships of humans in the more-than-human world, framing his practices and projects as extended animism.
 
Zedani’s recent projects include The Heavens Is For All, Islamic Arts Biennale, Jeddah (2023); The keepers, Staatliche Kunsthalle, Baden-Baden (2022); The Valley of the Desert Keepers, Desert X AlUla (2022); The Desert Keepers, Portrait of a Nation II, ADMAF (2022); Between Desert Seas, Diriyah Biennale, Diriyah (2021); Between the Heavens and the Earth, Lahore Biennial, Lahore (2020);. 

He won the inaugural Ithra Art Prize and presented a new project titled Mēm (2018) and had his debut solo show titled bahar-bashar-shajar-hajar, (sea-human-tree-stone) curated by Murtaza Vali, in Athr Gallery, Jeddah (2019).]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[ayman-zeydani]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[ayman-zeydani]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[ayman-zeydani]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[ayman-zeydani]]></Value>
      <Value Culture="en"><![CDATA[ayman-zeydani]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "yellow"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "yellow"
]]]></Value>
    </variant>
  </Properties>
</Content>