<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ab1c177-643e-41aa-95cd-650195bcd823" Alias="carsten-höller" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/carstenHoeller</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:37:17</CreateDate>
    <NodeName Default="carsten-höller">
      <Name Culture="ar">carsten-höller</Name>
      <Name Culture="en">carsten-höller</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[كارستن هولر]]></Value>
      <Value Culture="en"><![CDATA[CARSTEN HÖLLER]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[Carsten Höller (b.1961) - German artist infuses scientific curiosity into his creations]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5f8237f00fd04cb9bd089a3893fff753"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/5f8237f00fd04cb9bd089a3893fff753",
      "portrait": "[\r\n  {\r\n    \"key\": \"5da24b3c-99da-4cdb-8dde-896416a0987d\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"7a89b5d9-3508-4d73-95a2-7eac4fe93761\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"47c0ca4a-8e07-4afb-aabc-b6d79391a75b\",\r\n    \"mediaKey\": \"a556a616-7f9c-431b-9036-7ac0cfac010b\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ca5589945a5f4de896d210918fcfa8ca"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/ca5589945a5f4de896d210918fcfa8ca",
      "portrait": "[\r\n  {\r\n    \"key\": \"80bd0b4f-55f7-4d35-9244-eb65cb94547e\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"d4cb63fb-4356-41b0-8d86-1f5c0e9aa8a3\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"65fd4c24-5e0d-425e-a712-532fd98355f0\",\r\n    \"mediaKey\": \"a556a616-7f9c-431b-9036-7ac0cfac010b\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[فنان معاصر ولد في بروكسل من أبوين ألمانيين. يقيم ويعمل بين ستوكهولم، السويد، وبيريوا، غانا. الشك وعدم اليقين مواضيع غالباً ما تتكرر في أعماله وكثيراً ما يتم التعبير عنها من خلال البحث والمنحوتات الجماعية كما البيئات المؤثرة لإنتاج تجارب فريدة تنشأ من خلال اختباراته الشخصية .

تم عرض أعمال هولر دولياً على مدى العقدين الماضيين، في الفعاليات الكبرى والمعارض الفردية بما في ذلك قاعة توربينات تيت مودرن، لندن (2006). سوما في هامبرغر بانهوف، برلين (2010)، داوت، في Pirelli HangarBicocca ، ميلانو (2016)، يوم في مآت، لشبونة (2021)، والنادي المزدوج في لندن (2008/09) -- التي اتخذ شكل بار، مطعم وملهى ليلي مصمم لإنشاء حوار بين الثقافة الكونغولية والغربية كتجربة ثقافية متكاملة.]]></Value>
      <Value Culture="en"><![CDATA[A contemporary artist born in Brussels to German parents. He lives and works between Stockholm, Sweden, and Biriwa, Ghana. Doubt and uncertainty are recurring themes in his work, often being expressed through investigational situations, participatory sculptures, and influential environments to produce unique experiences that often are attained through personal exposure.

Höller’s works have been shown internationally over the last two decades, with major installations and solo exhibitions including Test Site at Tate Modern’s Turbine Hall, London (2006); Soma at Hamburger Bahnhof, Berlin (2010); Doubt, at Pirelli HangarBicocca, Milan (2016); DAY at MAAT, Lisbon (2021); and The Double Club in London (2008/09)—which took the shape of a bar, restaurant, and nightclub designed to create a dialogue between Congolese and Western culture as an experiment in cultural integration.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[carsten-höller]]></Value>
      <Value Culture="en"><![CDATA[carsten-höller]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "green"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "peach"
]]]></Value>
    </variant>
  </Properties>
</Content>