<?xml version="1.0" encoding="utf-8"?>
<Content Key="123c56f5-a07a-4808-84a7-ed0630a5d4e3" Alias="Collections" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Collections</Path>
    <Trashed>false</Trashed>
    <ContentType>folders</ContentType>
    <CreateDate>2023-09-21T12:05:51</CreateDate>
    <NodeName Default="Collections">
      <Name Culture="ar">Collections</Name>
      <Name Culture="en">Collections</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="7b0322c3-1526-4a6f-88f6-3522f80068a0">Folders</Template>
  </Info>
  <Properties />
</Content>