<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb3dec06-fa76-486a-815b-f0dd2de53c5f" Alias="Concerts" Level="3">
  <Info>
    <Parent Key="72d45981-8d20-416e-8f75-de166cb7c15b">Program Categories</Parent>
    <Path>/Collections/ProgramCategories/Concerts</Path>
    <Trashed>false</Trashed>
    <ContentType>programCategories</ContentType>
    <CreateDate>2023-09-21T12:53:39</CreateDate>
    <NodeName Default="Concerts">
      <Name Culture="ar">Concerts</Name>
      <Name Culture="en">Concerts</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "af810c3b-d190-4903-92b8-4b83cf0af49e",
    "mediaKey": "614d7b63-38f4-439f-a94d-33a2b50da439"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "d7d32d88-50dc-47ae-a8bd-fcfbbed39795",
    "mediaKey": "614d7b63-38f4-439f-a94d-33a2b50da439"
  }
]]]></Value>
    </icon>
    <programcategoryname>
      <Value Culture="ar"><![CDATA[Concerts]]></Value>
      <Value Culture="en"><![CDATA[Concerts]]></Value>
    </programcategoryname>
    <value>
      <Value Culture="ar"><![CDATA[concerts]]></Value>
      <Value Culture="en"><![CDATA[concerts]]></Value>
    </value>
  </Properties>
</Content>