<?xml version="1.0" encoding="utf-8"?>
<Content Key="830b9744-3ca2-4657-a62f-c936a010ad2e" Alias="contact-us" Level="2">
  <Info>
    <Parent Key="67f58548-8652-4253-bdb4-d31360cb50eb">Page</Parent>
    <Path>/Page/contactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2023-10-01T16:03:25</CreateDate>
    <NodeName Default="contact-us">
      <Name Culture="ar">contact-ar</Name>
      <Name Culture="en">contact-us</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <components>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/cf16dcccd9fc458b9b644f9a82ba39cf",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7cf62250-2517-45bb-b0fe-f5e3e262e8d6",
      "udi": "umb://element/cf16dcccd9fc458b9b644f9a82ba39cf",
      "isActive": "1",
      "title": "General Enquiries",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
      "namePlaceholder": "اسم*",
      "emailPlaceholder": "بريد إلكتروني*",
      "mobilePlaceholder": "بريد إلكتروني*",
      "messagePlaceholder": "رسالة",
      "errorNameRequired": "مطلوب اسم",
      "errorEmailRequired": "البريد الالكتروني مطلوب",
      "errorIsAgreeRequired": "Please agree to receive communication about PAAD",
      "communicationText": "By checking this box, I agree to receive communication about PAAD",
      "successMsg": "Thank you for contacting us. We'll get back to you soon",
      "errorMsg": "Something went wrong",
      "submitBtnText": "يُقدِّم"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/776d2a82dda5416b9b60ebd245f37822",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7cf62250-2517-45bb-b0fe-f5e3e262e8d6",
      "udi": "umb://element/776d2a82dda5416b9b60ebd245f37822",
      "isActive": "1",
      "title": "General Enquiries",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
      "successMsg": "Thank you for contacting us. We'll get back to you soon",
      "errorMsg": "Something went wrong",
      "namePlaceholder": "Name*",
      "emailPlaceholder": "Email*",
      "mobilePlaceholder": "Mobile Number",
      "messagePlaceholder": "Message",
      "errorNameRequired": "Name is required",
      "errorEmailRequired": "Email is required",
      "errorIsAgreeRequired": "Please agree to receive communication about PAAD",
      "communicationText": "By checking this box, I agree to receive communication about PAAD",
      "submitBtnText": "Submit"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <pageisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </pageisActive>
    <pageslug>
      <Value Culture="ar"><![CDATA[contact-us]]></Value>
      <Value Culture="en"><![CDATA[contact-us]]></Value>
    </pageslug>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
  </Properties>
</Content>