<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bdceea3-2c72-4224-80e1-38b43d89d45b" Alias="dawaran-2023" Level="3">
  <Info>
    <Parent Key="7e4e6004-cce1-4ecd-89b7-407586edc6d7">Artworks</Parent>
    <Path>/Artwork/Artworks/dawaran2023</Path>
    <Trashed>false</Trashed>
    <ContentType>artworks</ContentType>
    <CreateDate>2023-10-02T02:15:50</CreateDate>
    <NodeName Default="dawaran-2023">
      <Name Culture="ar">tester2 (1)</Name>
      <Name Culture="en">dawaran-2023</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar">false</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artist>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[umb://document/b57efb06610d4599957ace16400caae4]]></Value>
    </artist>
    <artworktitle>
      <Value Culture="ar"><![CDATA[asdasd]]></Value>
      <Value Culture="en"><![CDATA[Dawaran, 2023]]></Value>
    </artworktitle>
    <images>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e7a5f9e754f2468c8b794345d23a58ce"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/e7a5f9e754f2468c8b794345d23a58ce",
      "portrait": "[\r\n  {\r\n    \"key\": \"5e3e3c7d-b8c2-4e40-b920-5df5a0805323\",\r\n    \"mediaKey\": \"698293c0-df93-4086-a0b9-26a18a2b0c45\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"55e13a66-b796-48e2-b5c3-6e5c71989492\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"41fdbd15-00ba-48c4-8b68-ba9be031fae7\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/c1d83f4e0cfa4c9087442efe28477623]]></Value>
      <Value Culture="en"><![CDATA[umb://document/bfc1476c98684ca0b9763763093d40ea]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[asdwdewd]]></Value>
      <Value Culture="en"><![CDATA[Nestled between Abu Dhabi’s eastern mangroves, hidden at different points of a kayak and boat route, a series of interconnected sculptures start a dialogue with one another. The three sculptures include: a carousel adorned with ladders, a satellite dish and a giraffe sculpture; three floating female figures on buoys, carrying utensils about their heads, and a large staircase leading to a door with a fan hanging over it.  In this site-specific, partially-submerged open-air installation, the artists continue their explorations in conjurement, cartography and ritual.
Viewers are encouraged to kayak, or ride a boat  through the mangrove area to find different angles, viewing points and experiences with each part of the installation. This installation can be experienced during the day and lights up at night.]]></Value>
    </markdown>
    <seodescription>
      <Value Culture="ar"><![CDATA[awdw]]></Value>
      <Value Culture="en"><![CDATA[dawaran-2023]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "f2db3c7d-8a33-42c3-95c1-06ef186967ef",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "9dd3e9c4-2d91-4ac6-a7e5-33fa0fb79620",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[wdadw]]></Value>
      <Value Culture="en"><![CDATA[dawaran-2023]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[asdwd]]></Value>
      <Value Culture="en"><![CDATA[dawaran-2023]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[tester2]]></Value>
      <Value Culture="en"><![CDATA[dawaran-2023]]></Value>
    </slug>
  </Properties>
</Content>