<?xml version="1.0" encoding="utf-8"?>
<Content Key="86021b23-cda1-4e0c-b6eb-d9e22ab51f24" Alias="dsfsdf" Level="3">
  <Info>
    <Parent Key="1c3c72df-9fdd-454e-bed4-728ae202ae04">NewsletterRequest</Parent>
    <Path>/Collections/NewsletterRequest/dsfsdf</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterRequest</ContentType>
    <CreateDate>2023-09-22T18:46:26</CreateDate>
    <NodeName Default="dsfsdf" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[arunachalam.p@krds.fr]]></Value>
    </email>
    <firstname>
      <Value><![CDATA[dsfsdf]]></Value>
    </firstname>
    <lastname>
      <Value><![CDATA[sdfsdf]]></Value>
    </lastname>
  </Properties>
</Content>