<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfc1476c-9868-4ca0-b976-3763093d40ea" Alias="eastern-mangroves" Level="3">
  <Info>
    <Parent Key="021c4858-fd02-4e51-8cf2-f6bd0bacc36d">Locations</Parent>
    <Path>/Location/Locations/easternMangroves</Path>
    <Trashed>false</Trashed>
    <ContentType>locations</ContentType>
    <CreateDate>2023-10-02T14:15:25</CreateDate>
    <NodeName Default="eastern-mangroves">
      <Name Culture="ar">eastern-mangroves</Name>
      <Name Culture="en">eastern-mangroves</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <amenitiesdescription>
      <Value Culture="ar"><![CDATA[Public prayer rooms/restrooms to use, disable friendly/first aid/existing F&B around/existing ATM ]]></Value>
      <Value Culture="en"><![CDATA[Public prayer rooms/restrooms to use, disable friendly/first aid/existing F&B around/existing ATM ]]></Value>
    </amenitiesdescription>
    <amenitiesisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </amenitiesisActive>
    <amenitieslist>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[umb://document/2632d351d2ee4d06a4f06810a9594f34,umb://document/337bf8d056fc42458aa8acca7f3e9cde,umb://document/520bf99e14984124b7496142d6bbde7a]]></Value>
    </amenitieslist>
    <amenitiestitle>
      <Value Culture="ar"><![CDATA[AMENITIES]]></Value>
      <Value Culture="en"><![CDATA[AMENITIES]]></Value>
    </amenitiestitle>
    <artworkdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </artworkdescription>
    <artworkIsActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </artworkIsActive>
    <artworktitle>
      <Value Culture="ar"><![CDATA[ARTWORKS]]></Value>
      <Value Culture="en"><![CDATA[ARTWORKS]]></Value>
    </artworktitle>
    <fnbdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </fnbdescription>
    <fnbisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </fnbisActive>
    <fnbtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </fnbtitle>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "ea099b06-424b-4a2f-8947-92fe6b74a6fa",
    "mediaKey": "11e0a0de-d7d5-44f1-8a4c-442adc7827a4"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "f4033741-008d-42da-a57f-3e827bca5f12",
    "mediaKey": "11e0a0de-d7d5-44f1-8a4c-442adc7827a4"
  }
]]]></Value>
    </image>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dd516da615e2410b96a1f1df33faf7e0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/dd516da615e2410b96a1f1df33faf7e0",
      "portrait": "[\r\n  {\r\n    \"key\": \"f2b9c785-0f13-46a1-8fb1-1ae1f8d4d7c1\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"858c6879-bc92-4635-a10d-591255664064\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"87a5c3a5-9bd0-4b14-8e1f-109781862150\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5e9829e2b10546e48f9f01794be975af"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/5e9829e2b10546e48f9f01794be975af",
      "portrait": "[\r\n  {\r\n    \"key\": \"1730d288-7745-4c08-b7bf-16e0b8da5078\",\r\n    \"mediaKey\": \"660da645-ca66-4ea8-9668-670017b7aeb1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"57fb09a1-aab8-4caa-bcd2-a98b66a36b1e\",\r\n    \"mediaKey\": \"660da645-ca66-4ea8-9668-670017b7aeb1\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"840abc50-7161-4781-bf1d-8d9c3c59fcd4\",\r\n    \"mediaKey\": \"660da645-ca66-4ea8-9668-670017b7aeb1\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <infodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infodescription>
    <infoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </infoimage>
    <infoisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </infoisActive>
    <infomarkdown>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infomarkdown>
    <infotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infotitle>
    <list>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[umb://document/3bdceea32c72422480e138b43d89d45b]]></Value>
    </list>
    <locationisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </locationisActive>
    <locationtitle>
      <Value Culture="ar"><![CDATA[Eastern Mangroves]]></Value>
      <Value Culture="en"><![CDATA[Eastern Mangroves]]></Value>
    </locationtitle>
    <locationvariant>
      <Value Culture="ar"><![CDATA[[
  "green"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "green"
]]]></Value>
    </locationvariant>
    <otherlocdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherlocdescription>
    <otherlocisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </otherlocisActive>
    <otherloctitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[EXPLORE OTHER LOCATIONS]]></Value>
    </otherloctitle>
    <outlets>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </outlets>
    <programdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programdescription>
    <programisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </programisActive>
    <programlist>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programlist>
    <programtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programtitle>
    <routes>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </routes>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[eastern-mangroves]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[eastern-mangroves]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[eastern-mangroves]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[eastern-mangroves]]></Value>
      <Value Culture="en"><![CDATA[eastern-mangroves]]></Value>
    </slug>
    <transportdesc>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </transportdesc>
    <transportisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </transportisActive>
    <transporttitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </transporttitle>
  </Properties>
</Content>