<?xml version="1.0" encoding="utf-8"?>
<Content Key="25993880-8e35-4be3-87d7-1c15e5786a71" Alias="EnquiryRequest" Level="2">
  <Info>
    <Parent Key="123c56f5-a07a-4808-84a7-ed0630a5d4e3">Collections</Parent>
    <Path>/Collections/EnquiryRequest</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiryRequest</ContentType>
    <CreateDate>2023-09-25T12:53:27</CreateDate>
    <NodeName Default="EnquiryRequest" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>