<?xml version="1.0" encoding="utf-8"?>
<Content Key="140d88e5-5af2-4bc7-9037-039c24bad74d" Alias="fahid-island" Level="3">
  <Info>
    <Parent Key="021c4858-fd02-4e51-8cf2-f6bd0bacc36d">Locations</Parent>
    <Path>/Location/Locations/fahidIsland</Path>
    <Trashed>false</Trashed>
    <ContentType>locations</ContentType>
    <CreateDate>2023-10-02T14:07:55</CreateDate>
    <NodeName Default="fahid-island">
      <Name Culture="ar">fahid-island</Name>
      <Name Culture="en">fahid-island</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <amenitiesdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </amenitiesdescription>
    <amenitiesisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </amenitiesisActive>
    <amenitieslist>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </amenitieslist>
    <amenitiestitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </amenitiestitle>
    <artworkdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </artworkdescription>
    <artworkIsActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </artworkIsActive>
    <artworktitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </artworktitle>
    <fnbdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </fnbdescription>
    <fnbisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </fnbisActive>
    <fnbtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </fnbtitle>
    <image>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </image>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/36c11f28a45846c7928988650cd26e36"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/36c11f28a45846c7928988650cd26e36",
      "portrait": "[\r\n  {\r\n    \"key\": \"c39b74c5-6115-434e-bf1f-22063b654676\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"98394d84-a341-4d1b-8528-493ab3507901\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"fa501c6d-c4dd-4abe-89c0-56cccc93413e\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1e616627ae6b49978165e56f78d6feb4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/1e616627ae6b49978165e56f78d6feb4",
      "portrait": "[\r\n  {\r\n    \"key\": \"72b6acb9-ac71-40a5-8869-5287adc57596\",\r\n    \"mediaKey\": \"4addaa79-d200-4ea2-91d1-967decb17e73\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"5c393419-c721-4b1e-9713-da3d864a866d\",\r\n    \"mediaKey\": \"4addaa79-d200-4ea2-91d1-967decb17e73\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"1aa9fe8a-d99b-4dbc-8db5-7828d611e191\",\r\n    \"mediaKey\": \"4addaa79-d200-4ea2-91d1-967decb17e73\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <infodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infodescription>
    <infoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </infoimage>
    <infoisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </infoisActive>
    <infomarkdown>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infomarkdown>
    <infotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infotitle>
    <list>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </list>
    <locationisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </locationisActive>
    <locationtitle>
      <Value Culture="ar"><![CDATA[Fahid Island]]></Value>
      <Value Culture="en"><![CDATA[Fahid Island]]></Value>
    </locationtitle>
    <locationvariant>
      <Value Culture="ar"><![CDATA[[
  "light-green"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "light-steel-blue"
]]]></Value>
    </locationvariant>
    <otherlocdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherlocdescription>
    <otherlocisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherlocisActive>
    <otherloctitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherloctitle>
    <outlets>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </outlets>
    <programdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programdescription>
    <programisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </programisActive>
    <programlist>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programlist>
    <programtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programtitle>
    <routes>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </routes>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[fahid-island]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[fahid-island]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[fahid-island]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[fahid-island]]></Value>
      <Value Culture="en"><![CDATA[fahid-island]]></Value>
    </slug>
    <transportdesc>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </transportdesc>
    <transportisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </transportisActive>
    <transporttitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </transporttitle>
  </Properties>
</Content>