<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ef081d5-094b-46f1-b066-fe3f81ef03a0" Alias="group-f" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/groupF</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:43:39</CreateDate>
    <NodeName Default="group-f">
      <Name Culture="ar">group-f</Name>
      <Name Culture="en">group-f</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="false">
      <Published Culture="ar">false</Published>
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[قروب اف]]></Value>
      <Value Culture="en"><![CDATA[GROUP F]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[قروب اف: شركة إنتاج، تتميز بابتكاراتها في مجال الطائرات بدون طيار والألعاب النارية والعروض في الهواء الطلق.]]></Value>
      <Value Culture="en"><![CDATA[Group F - through technology and experimentation, their art enchants viewers in novel ways]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ae6bfdbcde9c49d096c61090f9e5646d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/ae6bfdbcde9c49d096c61090f9e5646d",
      "portrait": "[\r\n  {\r\n    \"key\": \"7ddecb8b-d7c6-4882-8d40-26d5cc10c91e\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"24e8b8dd-11c9-42db-ac68-0e43cc99c00f\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7999b628e3154c23925c5d6861bee67a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/7999b628e3154c23925c5d6861bee67a",
      "portrait": "[\r\n  {\r\n    \"key\": \"23edb495-4a68-44df-a302-976dc44c928c\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"630126ac-96e7-4e92-af3b-ea3d128e1c90\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/b7155942be804afd9096ea6b7450a91c]]></Value>
      <Value Culture="en"><![CDATA[umb://document/b7155942be804afd9096ea6b7450a91c]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[شركة إنتاج وتصميم وإنتاج الطائرات بدون طيار كما عروض الألعاب النارية والأحداث المسرحية في الهواء الطلق. مصمم ومنتج لعروض الألعاب النارية الدولية والفعاليات الثقافية منذ عام 1992، تملك قروب اف القدرة على الجمع بين فرق متعددة التخصصات مع التزام قوي بالإنتاج الفني والتقني لأعمال خولتها تنفيذ مشاريع كبرى في أفضل الظروف الممكنة. 

على مدى ثلاثين عاماً، قامت قروب اف بتطوير أشكال جديدة من اللغة الفنية والأدوات الفنية الأصلية. حيث تتجول مع الأضواء الخاصة بها حول العالم، فتلمس تعطش الجمهور للسحر. منذ عام 2018، تستخدم قروب اف الطائرات بدون طيار لإنتاج قطع فنية في جميع أنحاء العالم، وتقوم بتجربة أساليب جديدة  لأسر جمهورها من خلال مسرح السماء الآخاذ.]]></Value>
      <Value Culture="en"><![CDATA[A productin company that designs and produces drones and pyrotechnic shows and open-air theatrical events.
 
Author and producer of international pyrotechnic and cultural events since 1992, Groupe F's ability to bring together multi-disciplinary teams with a strong commitment to the artistic and technical production of its works enables it to carry out major original projects in the best possible conditions.
 
For thirty years Group F develops new forms of artistic language and original artistic tools. Hawking their lights around the world they touch a large audience always hungry for enchantment. Since 2018, Groupe F has been exploring the use of drones to produce pieces of art around the world, experimenting with new ways to enchant its audience through its magical sky theater.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[group-f]]></Value>
      <Value Culture="en"><![CDATA[group-f]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "yellow"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "yellow"
]]]></Value>
    </variant>
  </Properties>
</Content>