<?xml version="1.0" encoding="utf-8"?>
<Content Key="5511f1ec-2994-4872-a338-215405325775" Alias="Header" Level="2">
  <Info>
    <Parent Key="1a5162e8-50d3-415d-8f8b-7eb9c273ebf2">Layout</Parent>
    <Path>/Layout/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2023-09-27T12:37:53</CreateDate>
    <NodeName Default="Header">
      <Name Culture="ar">Header</Name>
      <Name Culture="en">Header</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyRightText>
      <Value Culture="ar"><![CDATA[Copyright © 2023 Manar]]></Value>
      <Value Culture="en"><![CDATA[Copyright © 2023 Manar]]></Value>
    </copyRightText>
    <facebook>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </facebook>
    <instagram>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </instagram>
    <linkedin>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </linkedin>
    <menuItems>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ee9e977ab244450ca6cb868fb2f56c00"
      },
      {
        "contentUdi": "umb://element/d5fddca8ccb24272a27786a5d730e9f1"
      },
      {
        "contentUdi": "umb://element/fcedfbd0641543b5bd8b207559443735"
      },
      {
        "contentUdi": "umb://element/0acdbca453144947b01dc394a360e3c4"
      },
      {
        "contentUdi": "umb://element/dc37a9aa71464765bbc956872319247a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8ac7d7dc-a96b-47c8-a578-6a609920d1e8",
      "udi": "umb://element/ee9e977ab244450ca6cb868fb2f56c00",
      "label": "المواقع",
      "url": "#/locations"
    },
    {
      "contentTypeKey": "8ac7d7dc-a96b-47c8-a578-6a609920d1e8",
      "udi": "umb://element/d5fddca8ccb24272a27786a5d730e9f1",
      "label": "صالة عرض",
      "url": "/gallery"
    },
    {
      "contentTypeKey": "8ac7d7dc-a96b-47c8-a578-6a609920d1e8",
      "udi": "umb://element/fcedfbd0641543b5bd8b207559443735",
      "label": "الفنانين",
      "url": "/artists"
    },
    {
      "contentTypeKey": "8ac7d7dc-a96b-47c8-a578-6a609920d1e8",
      "udi": "umb://element/0acdbca453144947b01dc394a360e3c4",
      "label": "البرامج",
      "url": "#/programmes"
    },
    {
      "contentTypeKey": "8ac7d7dc-a96b-47c8-a578-6a609920d1e8",
      "udi": "umb://element/dc37a9aa71464765bbc956872319247a",
      "label": "التواصل معنا",
      "url": "/contact-us"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e6f1d620185647e5b381caebdb94739b"
      },
      {
        "contentUdi": "umb://element/390f2b5c2b6e4d088216a60a92da5130"
      },
      {
        "contentUdi": "umb://element/e2a422bff0df44a7a45b1bd7384307a7"
      },
      {
        "contentUdi": "umb://element/3631b303d67c460cb4823be28f844912"
      },
      {
        "contentUdi": "umb://element/58d7abaedae54aef9bbefd6b4ae6f3c8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8ac7d7dc-a96b-47c8-a578-6a609920d1e8",
      "udi": "umb://element/e6f1d620185647e5b381caebdb94739b",
      "label": "Locations",
      "url": "#/locations"
    },
    {
      "contentTypeKey": "8ac7d7dc-a96b-47c8-a578-6a609920d1e8",
      "udi": "umb://element/390f2b5c2b6e4d088216a60a92da5130",
      "label": "Gallery",
      "url": "/gallery"
    },
    {
      "contentTypeKey": "8ac7d7dc-a96b-47c8-a578-6a609920d1e8",
      "udi": "umb://element/e2a422bff0df44a7a45b1bd7384307a7",
      "label": "Artists",
      "url": "/artists"
    },
    {
      "contentTypeKey": "8ac7d7dc-a96b-47c8-a578-6a609920d1e8",
      "udi": "umb://element/3631b303d67c460cb4823be28f844912",
      "label": "Programmes",
      "url": "#/programmes"
    },
    {
      "contentTypeKey": "8ac7d7dc-a96b-47c8-a578-6a609920d1e8",
      "udi": "umb://element/58d7abaedae54aef9bbefd6b4ae6f3c8",
      "label": "Contact Us",
      "url": "/contact-us"
    }
  ],
  "settingsData": []
}]]></Value>
    </menuItems>
    <tiktok>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </twitter>
  </Properties>
</Content>