<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c458be2-779d-4d92-b8d8-37da52b2d8fd" Alias="jim-denevan" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/jimDenevan</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:25:10</CreateDate>
    <NodeName Default="jim-denevan">
      <Name Culture="ar">jim-denevan</Name>
      <Name Culture="en">jim-denevan</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[جيم دينيفان]]></Value>
      <Value Culture="en"><![CDATA[JIM DENEVAN]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[جيم دينيفان، فنان أميركي، يستخدم تضاريس الأرض لابتكار أعمال في الرمال والأرض والجليد.]]></Value>
      <Value Culture="en"><![CDATA[American artist Denevan uses earth’s topography to create works in sand, earth & ice.]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bbcce5285f2c41aab1832085d4b8c84d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/bbcce5285f2c41aab1832085d4b8c84d",
      "portrait": "[\r\n  {\r\n    \"key\": \"5d07514b-7ac1-4cea-b574-b79885616552\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"bcb78c0e-56cb-4fd9-adc7-464f143c8037\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"556748af-eb22-4d6e-bc33-8951dd9480b5\",\r\n    \"mediaKey\": \"9bb0a13b-ec45-4952-b415-5d5130189ddc\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f708540c3c63424f99b33d7b3b83ec78"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/f708540c3c63424f99b33d7b3b83ec78",
      "portrait": "[\r\n  {\r\n    \"key\": \"a2de2071-68d8-4e56-bcb9-100db69657e6\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"7a06a6d3-0d4e-42bc-9ff1-16b51b74c9b4\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"238f972f-00bc-4801-890e-71f0d756e4a8\",\r\n    \"mediaKey\": \"9bb0a13b-ec45-4952-b415-5d5130189ddc\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/140d88e55af24bc79037039c24bad74d]]></Value>
      <Value Culture="en"><![CDATA[umb://document/140d88e55af24bc79037039c24bad74d]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[فنان أمريكي مشهور عالمياً. يتفاعل دينيفان مع تضاريس الأرض لينتج أعمالاً فنية محددة من الرمال، الأرض، الجليد، والتي يمكن أن تمتد على مساحة أميال. الطبيعة السريعة الزوال والممارسة التأملية هي الهدف من أعمال دينيفان، الذي يعتمد على الحدس واختلاف المنظر خلال استخدام وسائل القياس، لينشأ تركيبات معقدة رياضياً وهندسياً، تاركاً إياها عرضة للمد والجزر والرياح كما التغير الموسمي. على نحو غير متوقع تُعرض أعماله في بيئة طبيعية، حيث تتم دعوة الجماهير للتفاعل مع الفن خارج جدران المؤسسة. 

تم تكليف دينيفان بإنشاء منحوتات مؤقتة ورسومات أرضية في جميع أنحاء العالم، بما في ذلك الصحراء X العلا في عام 2022، وقد وُثِقت أعماله في بينالي فانكوفر، ومركز يربا بوينا للفنون، ومتحف بيبودي إسيكس، وكريستيز، وموما / PS1. في عام 1999، أسس Denevan Outstanding in the Field، وهو إعادة تصور جذري لتجربة تناول الطعام في طليعة حركة الاستدامة والتي أصبحت معتقداً عالمياً. كان موضوع الفيلم الوثائقي الأخير، رجل في الميدان: حياة وفن جيم دينيفان من تأليف باتريك تريفز. 

عاشقاً لركوب الأمواج، دينيفان من سانتا كروز، كاليفورنيا.]]></Value>
      <Value Culture="en"><![CDATA[A world-renowned American artist. Denevan interacts with the earth’s topography to create entirely site-specific works in sand, earth, and ice,
which can span miles. Ephemeral in nature, the near meditative practice is the purpose for Denevan, who relying on intuition and parallax over measurement aids, creates mathematically and geometrically
complex compositions and leaves them prone to the tides, winds and seasonal progressions. Unexpectedly confronted with the works in a natural setting, viewers are invited to interact with art beyond
institutional walls.
Denevan has been commissioned to create temporary sculptures and land drawings around the world, including for Desert X AlUla in 2022, and documentation of his work has been featured in the Vancouver Biennale, Yerba Buena Center for the Arts, the Peabody Essex Museum, Christie’s and MoMA/PS1.

In 1999, Denevan founded Outstanding in the Field, a radical reconceptualization of the dining experience at the forefront of the sustainability movement that has gained global cult status. He was the subject of the
recent documentary, Man in the Field: The Life and Art of Jim Denevan by Patrick Trefz. 

An avid surfer, Denevan is from Santa Cruz, California.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[jim-denevan]]></Value>
      <Value Culture="en"><![CDATA[jim-denevan]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "orange"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "orange"
]]]></Value>
    </variant>
  </Properties>
</Content>