<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0957d46-1660-4581-8c40-8a2a42deb870" Alias="Joffhn Doe (6)" Level="3">
  <Info>
    <Parent Key="1c3c72df-9fdd-454e-bed4-728ae202ae04">NewsletterRequest</Parent>
    <Path>/Collections/NewsletterRequest/JoffhnDoe6</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterRequest</ContentType>
    <CreateDate>2023-09-25T16:10:40</CreateDate>
    <NodeName Default="Joffhn Doe (6)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[johsn.doe@example.com]]></Value>
    </email>
    <firstname>
      <Value><![CDATA[Joffhn]]></Value>
    </firstname>
    <lastname>
      <Value><![CDATA[Doe]]></Value>
    </lastname>
  </Properties>
</Content>