<?xml version="1.0" encoding="utf-8"?>
<Content Key="7be03d86-44db-4d61-a978-b1b85819fc88" Alias="Joffhn Joffhn (7)" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/JoffhnJoffhn7</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-09-30T20:01:47</CreateDate>
    <NodeName Default="Joffhn Joffhn (7)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[john.doe@example.com]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[Joffhn]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[sdfjsdkf]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[johntester]]></Value>
    </mobilenumber>
  </Properties>
</Content>