<?xml version="1.0" encoding="utf-8"?>
<Content Key="6133db86-4ff4-402e-956d-851019eb8517" Alias="Joffhn Joffhn (6)" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/JoffhnJoffhn6</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-01T16:24:02</CreateDate>
    <NodeName Default="Joffhn Joffhn (6)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[john.doe@example.com]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[Joffhn]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[sdfjsdkf]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[johntester]]></Value>
    </mobilenumber>
  </Properties>
</Content>