<?xml version="1.0" encoding="utf-8"?>
<Content Key="03407f2b-b226-4e16-82b5-8667dcca90ca" Alias="Joffhn Joffhn (4)" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/JoffhnJoffhn4</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-09-30T16:01:39</CreateDate>
    <NodeName Default="Joffhn Joffhn (4)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[john.doe@example.com]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[Joffhn]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[sdfjsdkf]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[johntester]]></Value>
    </mobilenumber>
  </Properties>
</Content>