<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b238a59-4f2f-4ac4-b8f4-a4f8774aa098" Alias="Joffhn Doe" Level="3">
  <Info>
    <Parent Key="1c3c72df-9fdd-454e-bed4-728ae202ae04">NewsletterRequest</Parent>
    <Path>/Collections/NewsletterRequest/JoffhnDoe</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterRequest</ContentType>
    <CreateDate>2023-09-25T11:33:46</CreateDate>
    <NodeName Default="Joffhn Doe" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[john.doe@example.com]]></Value>
    </email>
    <firstname>
      <Value><![CDATA[Joffhn]]></Value>
    </firstname>
    <lastname>
      <Value><![CDATA[Doe]]></Value>
    </lastname>
  </Properties>
</Content>