<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2e82c7b-8d40-4a54-92d7-23c6c50a1d3d" Alias="Joffhn Doe (4)" Level="3">
  <Info>
    <Parent Key="1c3c72df-9fdd-454e-bed4-728ae202ae04">NewsletterRequest</Parent>
    <Path>/Collections/NewsletterRequest/JoffhnDoe4</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterRequest</ContentType>
    <CreateDate>2023-09-25T13:01:47</CreateDate>
    <NodeName Default="Joffhn Doe (4)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[john.doe@example.com]]></Value>
    </email>
    <firstname>
      <Value><![CDATA[Joffhn]]></Value>
    </firstname>
    <lastname>
      <Value><![CDATA[Doe]]></Value>
    </lastname>
  </Properties>
</Content>