<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f169338-8caf-4778-bcaf-c239aa91650c" Alias="Joffhn Joffhn (1)" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/JoffhnJoffhn1</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-09-25T12:57:40</CreateDate>
    <NodeName Default="Joffhn Joffhn (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[john.doe@example.com]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[Joffhn]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[johntester]]></Value>
    </mobilenumber>
  </Properties>
</Content>