<?xml version="1.0" encoding="utf-8"?>
<Content Key="de2ca3ea-c2ec-41b0-8afa-ae5a22d3095f" Alias="Joffhn Doe (1)" Level="3">
  <Info>
    <Parent Key="1c3c72df-9fdd-454e-bed4-728ae202ae04">NewsletterRequest</Parent>
    <Path>/Collections/NewsletterRequest/JoffhnDoe1</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterRequest</ContentType>
    <CreateDate>2023-09-25T12:15:54</CreateDate>
    <NodeName Default="Joffhn Doe (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[john.doe@example.com]]></Value>
    </email>
    <firstname>
      <Value><![CDATA[Joffhn]]></Value>
    </firstname>
    <lastname>
      <Value><![CDATA[Doe]]></Value>
    </lastname>
  </Properties>
</Content>