<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2978b1b-2d29-4066-b2e4-d031ee5ce12f" Alias="Joffhn Doe (8)" Level="3">
  <Info>
    <Parent Key="1c3c72df-9fdd-454e-bed4-728ae202ae04">NewsletterRequest</Parent>
    <Path>/Collections/NewsletterRequest/JoffhnDoe8</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterRequest</ContentType>
    <CreateDate>2023-09-30T20:26:07</CreateDate>
    <NodeName Default="Joffhn Doe (8)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[john.doe@exadmple.com]]></Value>
    </email>
    <firstname>
      <Value><![CDATA[Joffhn]]></Value>
    </firstname>
    <lastname>
      <Value><![CDATA[Doe]]></Value>
    </lastname>
  </Properties>
</Content>