<?xml version="1.0" encoding="utf-8"?>
<Content Key="a94610ed-a471-4691-b7ba-6f918842359a" Alias="Joffhn Joffhn (2)" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/JoffhnJoffhn2</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-09-25T13:09:41</CreateDate>
    <NodeName Default="Joffhn Joffhn (2)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[john.doe@example.com]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[Joffhn]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[sdfjsdkf]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[johntester]]></Value>
    </mobilenumber>
  </Properties>
</Content>