<?xml version="1.0" encoding="utf-8"?>
<Content Key="41948dd1-5753-41a7-a5d5-b636fab6560f" Alias=" john.doe@example.com" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/johndoeExamplecom</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-03T04:29:57</CreateDate>
    <NodeName Default=" john.doe@example.com" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[john.doe@example.com]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[sdfjsdkf]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[]]></Value>
    </mobilenumber>
  </Properties>
</Content>