<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e01f38c-f198-45e1-8638-90db92440fb5" Alias=" john.doe@example.com (3)" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/johndoeExamplecom3</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-03T04:52:41</CreateDate>
    <NodeName Default=" john.doe@example.com (3)" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[john.doe@example.com]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[sdfjsdkf]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[]]></Value>
    </mobilenumber>
  </Properties>
</Content>