<?xml version="1.0" encoding="utf-8"?>
<Content Key="09853fa7-f38c-49fd-ae5a-04ac1b7a67ba" Alias="jubail-island" Level="3">
  <Info>
    <Parent Key="021c4858-fd02-4e51-8cf2-f6bd0bacc36d">Locations</Parent>
    <Path>/Location/Locations/jubailIsland</Path>
    <Trashed>false</Trashed>
    <ContentType>locations</ContentType>
    <CreateDate>2023-10-02T14:10:46</CreateDate>
    <NodeName Default="jubail-island">
      <Name Culture="ar">jubail-island</Name>
      <Name Culture="en">jubail-island</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <amenitiesdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </amenitiesdescription>
    <amenitiesisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </amenitiesisActive>
    <amenitieslist>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </amenitieslist>
    <amenitiestitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </amenitiestitle>
    <artworkdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </artworkdescription>
    <artworkIsActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </artworkIsActive>
    <artworktitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </artworktitle>
    <fnbdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </fnbdescription>
    <fnbisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </fnbisActive>
    <fnbtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </fnbtitle>
    <image>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </image>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cb37d24c64ef4fc28dfa4c0356fa1658"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/cb37d24c64ef4fc28dfa4c0356fa1658",
      "portrait": "[\r\n  {\r\n    \"key\": \"70f0ecf0-5df5-4316-a5b0-0ad6627f82d4\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"2ff827b8-7b64-49c9-9d43-b20f3b14be5b\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"6958e917-3536-4ea9-a1f7-aee8d033c344\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8285a421e60a4f74b400ccbb354b9ba4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/8285a421e60a4f74b400ccbb354b9ba4",
      "portrait": "[\r\n  {\r\n    \"key\": \"4fc15190-6d96-4a1e-84a0-6eb87a87451f\",\r\n    \"mediaKey\": \"369f6319-f885-4010-b44f-12fabfe656be\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"272ce1ed-5978-44a3-9b29-48919e29b357\",\r\n    \"mediaKey\": \"369f6319-f885-4010-b44f-12fabfe656be\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"45ea11a0-699f-484e-8263-c6edbe128f86\",\r\n    \"mediaKey\": \"369f6319-f885-4010-b44f-12fabfe656be\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <infodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infodescription>
    <infoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </infoimage>
    <infoisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </infoisActive>
    <infomarkdown>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infomarkdown>
    <infotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infotitle>
    <list>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </list>
    <locationisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </locationisActive>
    <locationtitle>
      <Value Culture="ar"><![CDATA[Jubail Island, Mangroves National Park]]></Value>
      <Value Culture="en"><![CDATA[Jubail Island, Mangroves National Park]]></Value>
    </locationtitle>
    <locationvariant>
      <Value Culture="ar"><![CDATA[[
  "orange"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "orange"
]]]></Value>
    </locationvariant>
    <otherlocdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherlocdescription>
    <otherlocisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherlocisActive>
    <otherloctitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherloctitle>
    <outlets>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </outlets>
    <programdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programdescription>
    <programisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </programisActive>
    <programlist>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programlist>
    <programtitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programtitle>
    <routes>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </routes>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[Jubail-island]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[Jubail-island]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[Jubail-island]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[jubail-island]]></Value>
      <Value Culture="en"><![CDATA[jubail-island]]></Value>
    </slug>
    <transportdesc>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </transportdesc>
    <transportisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </transportisActive>
    <transporttitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </transporttitle>
  </Properties>
</Content>