<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce279939-007f-4949-b98c-db2824e74788" Alias="latifa-saeed" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/latifaSaeed</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:35:53</CreateDate>
    <NodeName Default="latifa-saeed">
      <Name Culture="ar">latifa-saeed</Name>
      <Name Culture="en">latifa-saeed</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[لطيفة سعيد]]></Value>
      <Value Culture="en"><![CDATA[LATIFA SAEED]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[Emirati artist Latifa Saeed (b.1985) work reflect land, identity, and materiality]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1f9762f200d2458299170b4c327c714e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/1f9762f200d2458299170b4c327c714e",
      "portrait": "[\r\n  {\r\n    \"key\": \"a1339ea7-eb6c-4d21-ba08-34d294e837eb\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"8902f66a-3634-4eab-83f2-4e728d490d98\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"64d316d8-1c1f-4ed1-a650-d64fbf7f6efa\",\r\n    \"mediaKey\": \"8f3c3003-0c97-469e-995f-54df577eed45\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d017e00d1f7a46c5bfd9d86396c10dc9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/d017e00d1f7a46c5bfd9d86396c10dc9",
      "portrait": "[\r\n  {\r\n    \"key\": \"9ffbb3bb-3c55-45f0-adfc-08285958f5b3\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"a585118c-d12d-4729-a81b-5dce96c8c74f\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"6ab5070c-7a00-4b5f-94d3-4be0a76875db\",\r\n    \"mediaKey\": \"8f3c3003-0c97-469e-995f-54df577eed45\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[فنانة متعددة الإختصاصات من مواليد 1985، دبي، الإمارات العربية المتحدة. تخرجت من جامعة زايد بدرجة البكالوريوس في الآداب والعلوم عام 2007. 

حصلت على منحة الفنان الناشئ من مؤسسة سلامة بنت حمدان آل نهيان الخيرية بالشراكة مع مدرسة رود أيلاند للتصميم عام 2019 في مدينة أبوظبي. عام 2021، حصلت لطيفة على منحة من معهد مسك للفنون في الرياض وشاركت في المعرض الجماعي "قيد الإنشاء" في قاعة الأمير فيصل بن فهد للفنون البصرية في الرياض. وصلت لطيفة أيضاً إلى نهائيات جائزة ريتشارد ميل للفنون التي استضافها متحف اللوفر أبوظبي "الفن هنا" في عام 2021 وشاركت كذلك في عرضهم الجماعي "الذاكرة والوقت والإقليم".

عُرضت أعمال لطيفة مؤخراً في ألماتي، كازاخستان من خلال معرض فردي بعنوان "صورة ظلية سوداء" برعاية مؤرخة الفن والناقدة والمؤلفة الشهيرة فاليريا إبرايفا. وكانت أول فنانة اماراتية تحصل على هذه الفرصة.]]></Value>
      <Value Culture="en"><![CDATA[A Dubai-based multidisciplinary artist, born in 1985, Dubai, UAE who graduated from Zayed University with a Bachelor’s degree in Arts and Sciences in 2007. She obtained the Emerging Artist Fellowship by the Salama bint Hamdan Al Nahyan Foundation in partnership with Rhode Island School of Design in 2019 in the city of Abu Dhabi.

In 2021 Latifa received a Grant from the Misk Art Institute in Riyadh and participated in the group show “Under Construction” at The Prince Faisal bin Fahd Fine Arts Hall in Riyadh. Latifa was also a finalist of the Richard Mille Art Prize hosted by the Louvre Abu Dhabi ‘Art Here’ in 2021 and also participated in their group show “Memory, Time, Territory.” 

Latifa was recently the first Emirati artist to showcase her work in Almaty, Kazakhstan with a solo exhibition “Black Silhouette” curated by the renowned art historian, critic, and author, Valeria Ibraeva]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[latifa-saeed]]></Value>
      <Value Culture="en"><![CDATA[latifa-saeed]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "yellow"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "yellow"
]]]></Value>
    </variant>
  </Properties>
</Content>