<?xml version="1.0" encoding="utf-8"?>
<Content Key="021c4858-fd02-4e51-8cf2-f6bd0bacc36d" Alias="Locations" Level="2">
  <Info>
    <Parent Key="03af0e68-96ef-4d07-a259-35741db78db2">Location</Parent>
    <Path>/Location/Locations</Path>
    <Trashed>false</Trashed>
    <ContentType>createLocation</ContentType>
    <CreateDate>2023-09-21T19:11:42</CreateDate>
    <NodeName Default="Locations">
      <Name Culture="ar">Locations</Name>
      <Name Culture="en">Locations</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <byText>
      <Value Culture="ar"><![CDATA[By]]></Value>
      <Value Culture="en"><![CDATA[By]]></Value>
    </byText>
    <scrollText>
      <Value Culture="ar"><![CDATA[SCROLL DOWN]]></Value>
      <Value Culture="en"><![CDATA[SCROLL DOWN]]></Value>
    </scrollText>
  </Properties>
</Content>