<?xml version="1.0" encoding="utf-8"?>
<Content Key="03af0e68-96ef-4d07-a259-35741db78db2" Alias="Location" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Location</Path>
    <Trashed>false</Trashed>
    <ContentType>folders</ContentType>
    <CreateDate>2023-09-21T19:11:31</CreateDate>
    <NodeName Default="Location">
      <Name Culture="ar">Location</Name>
      <Name Culture="en">Location</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="7b0322c3-1526-4a6f-88f6-3522f80068a0">Folders</Template>
  </Info>
  <Properties />
</Content>