<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d25e8ec-d58d-49c0-abd6-d293b39cb53c" Alias="luciana-abait" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/lucianaAbait</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:22:42</CreateDate>
    <NodeName Default="luciana-abait">
      <Name Culture="ar">luciana-abait</Name>
      <Name Culture="en">luciana-abait</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="false">
      <Published Culture="ar">false</Published>
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[لوسيانا آبايت]]></Value>
      <Value Culture="en"><![CDATA[LUCIANA ABAIT]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[لوسيانا آبايت، ولدت في الأرجنتين، تستكشف تغير المناخ والهشاشة البيئية والهجرة.]]></Value>
      <Value Culture="en"><![CDATA[Luciana Abait, born in Argentina, explores climate change, environmental fragility, and immigration.]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2b132cec293b4223a7597ecc0afe62eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/2b132cec293b4223a7597ecc0afe62eb",
      "portrait": "[\r\n  {\r\n    \"key\": \"38c07879-87ed-44d3-9592-43d602c8392b\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"d8ade477-6932-4832-af35-8e53ebfa56d7\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4022b735acf84621b6b944dbb6b77689"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/4022b735acf84621b6b944dbb6b77689",
      "portrait": "[\r\n  {\r\n    \"key\": \"09c601ea-be23-46cd-8fc2-4f2805c2057a\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"72c0bdd4-9ab0-4842-9086-18efa38e7145\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[ولدت لوسيانا آبايت في بوينس آيرس في الأرجنتين وتقيم حالياً في لوس أنجلوس. تتناول أعمالها ذات الوسائط المتعددة تغير المناخ والهشاشة البيئية، وتأثيراتهما على الهجرة على وجه الخصوص. 

عرضت أعمال آبايت الفنية على نطاق واسع في الولايات المتحدة، أوروبا، أمريكا اللاتينية وآسيا من خلال إقامتها امعارض فردية أو عرض أعمالها في المتاحف والمعارض الفنية الدولية. تشمل معارضها الفردية المختارة On the Verge في متحف هيليارد للفنون في لويزيانا، رسالة إلى المستقبل في مطار لوس أنجلوس الدولي في كاليفورنيا،Flow  Blue في متحف روكفورد كوليدج للفنون وARCO في إسبانيا. شاركت في العديد من  اللجان الفنية الخاصة بالشركات أو حتى العامة، من بينها "Vistas"، وهي لوحة جدارية بطول 24 قدماً بتكليف من Miami-Dade Art in Public Places ، و "Hong Kong Windows" ، بتكليف من Swire Properties في هونغ كونغ. 

ظهرت أعمال آبايت في صحيفة الفن، ولوس أنجلوس تايمز، ايبراليرجيك، ايستيسيا، وستير وورلد وغيرها. كما تقوم مجموعات خاصة وعامة وشركات من الولايات المتحدة وأوروبا وأميركا اللاتينية وشرق آسيا بحفظ بأعمال لوسيانا آبايت.]]></Value>
      <Value Culture="en"><![CDATA[Born in Buenos Aires, Argentina and is currently based in Los Angeles. Abait's multimedia works deal with climate change and environmental fragility, and their impacts on immigration in particular. 
 
Her artworks have been shown widely in the United States, Europe, Latin America and Asia in solo shows in galleries, museums and international art fairs. Selected solo exhibitions include On the Verge at Hilliard Art Museum in Louisiana, A Letter to The Future at Los Angeles International Airport in California; Flow, Blue at Rockford College Art Museum and ARCO in Spain. She has completed numerous corporate and public art commissions, among them “Vistas,” a 24 feet mural commissioned by Miami- Dade Art in Public Places, and “Hong Kong Windows”, commissioned by Swire Properties in Hong Kong. 
 Abait’s works have been featured in The Art Newspaper, Los Angeles Times, Hyperallergic, Aesthetica, and Stir World among others.
 
Abait’s works are held in private, public and corporate collections from the United States, Europe, Latin America and East Asia.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[luciana-abait]]></Value>
      <Value Culture="en"><![CDATA[luciana-abait]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "peach"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "peach"
]]]></Value>
    </variant>
  </Properties>
</Content>