<?xml version="1.0" encoding="utf-8"?>
<Content Key="02a73fc3-3d8e-4b70-985c-d4d821c5339c" Alias="luminous-shores" Level="3">
  <Info>
    <Parent Key="7e4e6004-cce1-4ecd-89b7-407586edc6d7">Artworks</Parent>
    <Path>/Artwork/Artworks/luminousShores</Path>
    <Trashed>false</Trashed>
    <ContentType>artworks</ContentType>
    <CreateDate>2023-10-02T02:40:25</CreateDate>
    <NodeName Default="luminous-shores">
      <Name Culture="ar">luminous-shores</Name>
      <Name Culture="en">luminous-shores</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artist>
      <Value Culture="ar"><![CDATA[umb://document/c9e64196f09b4afe949ca7f323e734b8]]></Value>
      <Value Culture="en"><![CDATA[umb://document/c9e64196f09b4afe949ca7f323e734b8]]></Value>
    </artist>
    <artworktitle>
      <Value Culture="ar"><![CDATA[الوصف: "الشواطئ المضيئة": سيمفونية الضوء الحيوي (عنوان العمل)]]></Value>
      <Value Culture="en"><![CDATA[Luminous Shores: A Symphony of Bioluminescence (Working Title)”]]></Value>
    </artworktitle>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4928b8a852084f9c9faa61af53b3b509"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/4928b8a852084f9c9faa61af53b3b509",
      "portrait": "[\r\n  {\r\n    \"key\": \"c3dfb33c-ac5f-4ed4-b9b6-ce30a0b2a262\",\r\n    \"mediaKey\": \"698293c0-df93-4086-a0b9-26a18a2b0c45\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"1ba344ab-d0e4-4968-bca1-f00d1f4a6ae8\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"7af0b0ae-6f7e-4876-a597-7f210fc44d40\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/678c0d7150674fbeb4df475d96fff6ac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/678c0d7150674fbeb4df475d96fff6ac",
      "portrait": "[\r\n  {\r\n    \"key\": \"650dd602-4be6-41fb-8f84-8050e0d53c50\",\r\n    \"mediaKey\": \"698293c0-df93-4086-a0b9-26a18a2b0c45\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"5a38ff22-0653-48f9-8760-32ae74af58b7\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/aa8f645651d44b24bc70f5136e86d5ff]]></Value>
      <Value Culture="en"><![CDATA[umb://document/aa8f645651d44b24bc70f5136e86d5ff]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[هو عمل فني على شكل مجسم ساحر للإضاءة الخارجية يدمج الجمال الأثيري للشواطئ بإضائتها الحيوية مع سحر وجاذبية ساحل أبو ظبي المدهش. هذه القطعة الفنية الغامرة، التي ابتكرها الموسيقي والفنان جميري، تنقل المشاهدين في رحلةٍ إلى عالم سريالي حيث تتلاقى وتتناغم الطبيعة والتكنولوجيا.
مع غروب الشمس على شواطئ أبوظبي، يتحول الأفق إلى لوحة فنية استثنائية تحاكي الخيال، كما لو أن أوركسترا كونية قد استيقظت من تحت الأمواج. ومع تلاطم الأمواج بلطف على الشاطئ، يبدأ السحر الحقيقي. وتتكشف رقصة آسرة للضوء والماء، حيث يتردد صدى كل حركة للمحيط بألوان مشعة، ما يأسر الزائرين بإيقاعه المؤثر.
يتميز المجسم الفني بمجموعة من أجهزة العرض المتطورة، التي تم تركيزها في موقع استراتيجي لتسليط الضوء على نسيج آسر من الألوان عبر سطح الماء. تمت برمجة كل عرض بدقة ليعكس ظاهرة الضوء الحيوي الطبيعي الموجود في البيئات البحرية الأكثر إبهارًا في العالم.
تستجيب الشاشة المضيئة بانسيابية تامة، مع تأرجح المد والجزر وتموجات المياه، وتحاكي الوميض الساحر للكائنات الحية المضيئة. يمتزج اللون الأزرق النيون والأخضر المتلألئ والبنفسجي الفسفوري بسلاسة، ما يخلق لوحة بانورامية من عالم آخر تحاكي الروح وتحفز الخيال.
ستتيح هذه التجربة الفرصة أمام الزوار للاستمتاع بسيمفونية الضوء والماء المتغيرة باستمرار. وتكتمل أصوات الطبيعة الهادئة بمقطوعة موسيقية مخصصة، ما يعزز التجربة الحسية ويعزز عدم وضوح الخط الفاصل بين الخيال والواقع.
يهدف العمل الفني "الشواطىء المضيئة"، إلى تحفيز التأمل حول التفاعل العميق بين الطبيعة والتدخل البشري، وتعزيز مجالات وحجم المناقشات حول الوعي البيئي والجمال الهش للنظم البيئية المائية على كوكبنا. ومن خلال إحياء ظاهرة الضوء الحيوي الآسرة، تعد أعمال جميري الفنية بمثابة تذكير مؤثر بالعلاقات المعقدة التي تربط جميع الكائنات الحية، بغض النظر عن أصلها.
ويُشكل هذا المجسم الفني، دلالة واضحة على الإمكانيات اللامحدودة للفن والتكنولوجيا، حيث يجسد الخيال كما يعزز مستويات التقدير العميق لعجائب العالم الطبيعية.]]></Value>
      <Value Culture="en"><![CDATA[Luminous Shores: A Symphony of Bioluminescence (Working Title)“ is an enchanting outdoor light installation that merges the ethereal beauty of bioluminescent beaches with the awe-inspiring charm of Abu Dhabi's coastline. Conceived by musician and artist Jumairy, this immersive art piece transports viewers into a surreal world where nature and technology converge in harmony.
As the sun sets over the Abu Dhabi beaches, the familiar horizon transforms into a canvas of wonder, as if a cosmic orchestra has been awakened beneath the waves. Waves gently lap against the shore, and it is then that the true magic begins. A captivating dance of light and water unfolds, where every movement of the ocean is echoed in radiant hues, captivating visitors with its hypnotic rhythm.
The installation features an array of cutting-edge projectors, strategically positioned to cast an enthralling tapestry of colors across the water's surface. Each projection is meticulously programmed to mirror the natural bioluminescent phenomenon found in the world's most dazzling marine environments.
As the tides sway and the water ripples, the luminous display gracefully responds, mimicking the enchanting shimmer of bioluminescent organisms. Neon blues, shimmering greens, and phosphorescent purples blend seamlessly, creating an otherworldly panorama that stirs the soul and ignites the imagination.
Spectators find themselves immersed in an ever-changing symphony of light and water. The soft sounds of nature are complemented by a bespoke musical composition, enhancing the sensorial experience and further blurring the line between fantasy and reality.
"Luminous Shores" aims to spark contemplation about the profound interplay between nature and human intervention, provoking discussions on environmental consciousness and the fragile beauty of our planet's aquatic ecosystems. By bringing to life the captivating phenomena of bioluminescence, Jumairy's artwork serves as a poignant reminder of the intricate relationships that connect all living beings, irrespective of their origin.
This installation stands as a testament to the boundless possibilities of art and technology, as it not only captures the imagination but also fosters a deep appreciation for the wonders of the natural world.]]></Value>
    </markdown>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[luminous-shores]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[luminous-shores]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[luminous-shores]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[luminous-shores]]></Value>
      <Value Culture="en"><![CDATA[luminous-shores]]></Value>
    </slug>
  </Properties>
</Content>