<?xml version="1.0" encoding="utf-8"?>
<Content Key="96770770-8be8-48f8-8e73-f6d2bcf36bfa" Alias="Manimaravarman Manimaravarman" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/ManimaravarmanManimaravarman</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-02T04:28:46</CreateDate>
    <NodeName Default="Manimaravarman Manimaravarman" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[mani@krds.fr]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[Manimaravarman]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[TEST]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[]]></Value>
    </mobilenumber>
  </Properties>
</Content>