<?xml version="1.0" encoding="utf-8"?>
<Content Key="400cdb91-6f28-4b68-804a-15f17076a5f8" Alias="Mani A" Level="3">
  <Info>
    <Parent Key="1c3c72df-9fdd-454e-bed4-728ae202ae04">NewsletterRequest</Parent>
    <Path>/Collections/NewsletterRequest/ManiA</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterRequest</ContentType>
    <CreateDate>2023-10-02T04:54:41</CreateDate>
    <NodeName Default="Mani A" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[mani@krds.com]]></Value>
    </email>
    <firstname>
      <Value><![CDATA[Mani]]></Value>
    </firstname>
    <lastname>
      <Value><![CDATA[A]]></Value>
    </lastname>
  </Properties>
</Content>