<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5fd3f91-13ab-42e7-9a68-f87659703bd6" Alias="nadia-kaabi-linke" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/nadiaKaabiLinke</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T14:45:33</CreateDate>
    <NodeName Default="nadia-kaabi-linke">
      <Name Culture="ar">nadia-kaabi-linke</Name>
      <Name Culture="en">nadia-kaabi-linke</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="false">
      <Published Culture="ar">false</Published>
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[نادية كابي لينك]]></Value>
      <Value Culture="en"><![CDATA[NADIA KAABI-LINKE]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[نادية كابي لينك، فنانة تونسية(مواليد عام 1978) تتعمق في الموضوعات الاجتماعية والنفسية.]]></Value>
      <Value Culture="en"><![CDATA[Tunisian artist Nadia Kaabi-Linke (b. 1978) delves into socio-psychological themes.]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dd64bf7a5c6242209de2cb4f2ab787d2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/dd64bf7a5c6242209de2cb4f2ab787d2",
      "portrait": "[\r\n  {\r\n    \"key\": \"523146ae-bbca-4c0c-8845-1c23f57ef1ea\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"c23c5481-08dc-4cae-8ca8-701694897b45\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c0e69ffedd6c4fb0af518a5c4bf3f481"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/c0e69ffedd6c4fb0af518a5c4bf3f481",
      "portrait": "[\r\n  {\r\n    \"key\": \"3077b8b4-a400-483a-882f-5a004a39fa42\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"258b2708-0568-499c-a6c3-ad783cc5d7e0\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[فنانة متعددة المفاهيم والوسائط ومقيمة بين برلين وكييف. بعد تخرجها بدرجة الماجستير من مدرسة تونس للفنون الجميلة، حصلت على درجة الدكتوراه من بانثيون السوربون في باريس.

نشأت ناديا بين تونس وكييف ودبي، ولعبت نشأتها دوراً في بناء شخصيتها من خلال اختبار الهجرة عبر الثقافات والحدود والتي أثرت بشكل كبير على أسلوب ممارستها للفن. أعمالها الفنية جزء من مجموعات مشهورة عالمياً وقد تم عرضها في عدة معارض دولية، بما في ذلك متحف الفن الحديث ومتحف سولومون آر غوغنهايم في نيويورك، ومركز بومبيدو في باريس، ومؤسسة الشارقة للفنون في الإمارات العربية المتحدة، ومتحف M + في هونغ كونغ.

أقامت معارض فردية في هامبرغر بانهوف، برلين، المتحف الوطني للفنون في أوكرانيا، كييف، دارالفنون، عمان، متحف الفنون، دالاس المعاصر، الولايات المتحدة الأمريكية. كما شاركت في بينالي ليون وترينالي بروج وبينالي ليفربول وبينالي الشارقة.]]></Value>
      <Value Culture="en"><![CDATA[A multimedia conceptual artist based in Berlin and Kyiv. After graduating with an MA from the Tunis School of Fine Arts, she received a Ph.D. from the Pantheon Sorbonne in Paris.

Growing up between Tunis, Kyiv, and Dubai, her personal history developed through the migration across cultures and borders that greatly influenced her artistic practice. Her artworks were shown and are part of worldwide renowned collections, including the Museum of Modern Art and the Solomon R. Guggenheim Museum in New York, the Centre Pompidou in Paris, the Sharjah Art Foundation in UAE, and the M+ Museum in Hong Kong. 

She had institutional solo exhibitions at Hamburger Bahnhof, Berlin, the National Art Museum of Ukraine, Kyiv, Darat Al Funun, Amman, Kunstmuseum Bonn, Dallas Contemporary TX, USA. She participated in the Lyon Biennale, Bruges Triennial, Liverpool Biennale, and Sharjah Biennale.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[nadia-kaabi-linke]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[nadia-kaabi-linke]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[nadia-kaabi-linke]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[nadia-kaabi-linke]]></Value>
      <Value Culture="en"><![CDATA[nadia-kaabi-linke]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "yellow"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "green"
]]]></Value>
    </variant>
  </Properties>
</Content>