<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5fd3f91-13ab-42e7-9a68-f87659703bd6" Alias="nadia-kaabi-linke" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/nadiaKaabiLinke</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T14:45:33</CreateDate>
    <NodeName Default="nadia-kaabi-linke">
      <Name Culture="en">nadia-kaabi-linke</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="en"><![CDATA[NADIA KAABI-LINKE]]></Value>
    </artistname>
    <description>
      <Value Culture="en"><![CDATA[Tunisian artist Nadia Kaabi-Linke (b. 1978) delves into socio-psychological themes.]]></Value>
    </description>
    <facebook>
      <Value Culture="en"><![CDATA[/]]></Value>
    </facebook>
    <images>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c0e69ffedd6c4fb0af518a5c4bf3f481"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/c0e69ffedd6c4fb0af518a5c4bf3f481",
      "portrait": "[\r\n  {\r\n    \"key\": \"3077b8b4-a400-483a-882f-5a004a39fa42\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"258b2708-0568-499c-a6c3-ad783cc5d7e0\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="en"><![CDATA[/]]></Value>
    </instagram>
    <isActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="en"><![CDATA[/]]></Value>
    </linkedin>
    <location>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="en"><![CDATA[A multimedia conceptual artist based in Berlin and Kyiv. After graduating with an MA from the Tunis School of Fine Arts, she received a Ph.D. from the Pantheon Sorbonne in Paris.

Growing up between Tunis, Kyiv, and Dubai, her personal history developed through the migration across cultures and borders that greatly influenced her artistic practice. Her artworks were shown and are part of worldwide renowned collections, including the Museum of Modern Art and the Solomon R. Guggenheim Museum in New York, the Centre Pompidou in Paris, the Sharjah Art Foundation in UAE, and the M+ Museum in Hong Kong. 

She had institutional solo exhibitions at Hamburger Bahnhof, Berlin, the National Art Museum of Ukraine, Kyiv, Darat Al Funun, Amman, Kunstmuseum Bonn, Dallas Contemporary TX, USA. She participated in the Lyon Biennale, Bruges Triennial, Liverpool Biennale, and Sharjah Biennale.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="en"><![CDATA[0]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="en"><![CDATA[]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="en"><![CDATA[nadia-kaabi-linke]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="en"><![CDATA[nadia-kaabi-linke]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="en"><![CDATA[nadia-kaabi-linke]]></Value>
    </seotitle>
    <slug>
      <Value Culture="en"><![CDATA[nadia-kaabi-linke]]></Value>
    </slug>
    <tiktok>
      <Value Culture="en"><![CDATA[/]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="en"><![CDATA[/]]></Value>
    </twitter>
    <variant>
      <Value Culture="en"><![CDATA[[
  "green"
]]]></Value>
    </variant>
  </Properties>
</Content>