<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c3c72df-9fdd-454e-bed4-728ae202ae04" Alias="NewsletterRequest" Level="2">
  <Info>
    <Parent Key="123c56f5-a07a-4808-84a7-ed0630a5d4e3">Collections</Parent>
    <Path>/Collections/NewsletterRequest</Path>
    <Trashed>false</Trashed>
    <ContentType>createNewsletter</ContentType>
    <CreateDate>2023-09-22T15:59:29</CreateDate>
    <NodeName Default="NewsletterRequest" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>