<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf3aacd3-24a3-419a-9f70-a041be3ccd8d" Alias="nujoom-al-ghanem" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/nujoomAlGhanem</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T14:39:48</CreateDate>
    <NodeName Default="nujoom-al-ghanem">
      <Name Culture="en">nujoom-al-ghanem</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="en"><![CDATA[NUJOOM AL GHANEM]]></Value>
    </artistname>
    <description>
      <Value Culture="en"><![CDATA[Emirati, Nujoom Alghanem (b. 1962): Poet, artist, scriptwriter, film director.]]></Value>
    </description>
    <facebook>
      <Value Culture="en"><![CDATA[/]]></Value>
    </facebook>
    <images>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8abf1b92edf0438c8930bbaf08180ef8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/8abf1b92edf0438c8930bbaf08180ef8",
      "portrait": "[\r\n  {\r\n    \"key\": \"e1b064d2-3d36-49b5-b47e-1fd573372729\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"9eaca9e2-ad8d-4edd-bc5d-7bbb32101a38\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"b6e47761-7dd3-4a75-a4fe-3122eab4def6\",\r\n    \"mediaKey\": \"7d81567c-d61c-4e8b-b13b-7f81bb932a3b\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="en"><![CDATA[/]]></Value>
    </instagram>
    <isActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="en"><![CDATA[/]]></Value>
    </linkedin>
    <location>
      <Value Culture="en"><![CDATA[umb://document/aa8f645651d44b24bc70f5136e86d5ff]]></Value>
    </location>
    <markdown>
      <Value Culture="en"><![CDATA[- Nujoom Alghanem is an Emirate poet, artist, scriptwriter, and film director. She was born in Dubai, UAE, 1962 and has published ten poetry collections in the Arabic language. Her work has been translated to several languages including English, French, Spanish,
Turkish, Hindi and more.
 - Nujoom is also a renowned screenwriter and filmmaker. Her films have won over 25 regional and international prizes.
 - Her achievements in the arts have been recognized both nationally and internationally. In 2019, she was the solo artst of the UAE
National Pavilion at the Venice Biennale, one of the most prestigious arts events in the globe.
 - Alghanem started her professional career in the early 1980s as a journalist.
 - She was one of the founding members of the Emirates Writers’ Union in 1984.
 - Alongside her artistic endeavors, she has worked as a cultural consultant in addition to training in filmmaking, art, and creative
writing.
 - She is the holder of a Master’s degree in film production from Griffith University in Australia.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="en"><![CDATA[0]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="en"><![CDATA[]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="en"><![CDATA[nujoom-al-ghanem]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="en"><![CDATA[nujoom-al-ghanem]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="en"><![CDATA[nujoom-al-ghanem]]></Value>
    </seotitle>
    <slug>
      <Value Culture="en"><![CDATA[nujoom-al-ghanem]]></Value>
    </slug>
    <tiktok>
      <Value Culture="en"><![CDATA[/]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="en"><![CDATA[/]]></Value>
    </twitter>
    <variant>
      <Value Culture="en"><![CDATA[[
  "peach"
]]]></Value>
    </variant>
  </Properties>
</Content>