<?xml version="1.0" encoding="utf-8"?>
<Content Key="67f58548-8652-4253-bdb4-d31360cb50eb" Alias="Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Page</Path>
    <Trashed>false</Trashed>
    <ContentType>folders</ContentType>
    <CreateDate>2023-09-27T12:40:08</CreateDate>
    <NodeName Default="Page">
      <Name Culture="ar">Page</Name>
      <Name Culture="en">Page</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="7b0322c3-1526-4a6f-88f6-3522f80068a0">Folders</Template>
  </Info>
  <Properties />
</Content>