<?xml version="1.0" encoding="utf-8"?>
<Content Key="a031530c-0db7-4a86-bfc1-68abef0374ae" Alias="Performance" Level="3">
  <Info>
    <Parent Key="72d45981-8d20-416e-8f75-de166cb7c15b">Program Categories</Parent>
    <Path>/Collections/ProgramCategories/Performance</Path>
    <Trashed>false</Trashed>
    <ContentType>programCategories</ContentType>
    <CreateDate>2023-09-30T13:33:39</CreateDate>
    <NodeName Default="Performance">
      <Name Culture="ar">Performance</Name>
      <Name Culture="en">Performance</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "c85c6088-e0a2-46ba-a203-4208bcb7f2cd",
    "mediaKey": "057ee7b2-1f84-444f-a939-60f83a6a8d9e"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "0afaf003-e849-4c93-b625-43c77045dfa1",
    "mediaKey": "057ee7b2-1f84-444f-a939-60f83a6a8d9e"
  }
]]]></Value>
    </icon>
    <programcategoryname>
      <Value Culture="ar"><![CDATA[Performance]]></Value>
      <Value Culture="en"><![CDATA[Performance]]></Value>
    </programcategoryname>
    <value>
      <Value Culture="ar"><![CDATA[performance]]></Value>
      <Value Culture="en"><![CDATA[performance]]></Value>
    </value>
  </Properties>
</Content>