<?xml version="1.0" encoding="utf-8"?>
<Content Key="d28827c0-b74a-4964-b129-2c605ec3ce3d" Alias="persistence-of-the-form" Level="3">
  <Info>
    <Parent Key="7e4e6004-cce1-4ecd-89b7-407586edc6d7">Artworks</Parent>
    <Path>/Artwork/Artworks/persistenceOfTheForm</Path>
    <Trashed>false</Trashed>
    <ContentType>artworks</ContentType>
    <CreateDate>2023-10-02T19:08:07</CreateDate>
    <NodeName Default="persistence-of-the-form">
      <Name Culture="ar">persistence-of-the-form</Name>
      <Name Culture="en">persistence-of-the-form</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artist>
      <Value Culture="ar"><![CDATA[umb://document/9ef081d5094b46f1b066fe3f81ef03a0]]></Value>
      <Value Culture="en"><![CDATA[umb://document/9ef081d5094b46f1b066fe3f81ef03a0]]></Value>
    </artist>
    <artworktitle>
      <Value Culture="ar"><![CDATA[استمرارية الأشكال]]></Value>
      <Value Culture="en"><![CDATA[Persistence of the Form]]></Value>
    </artworktitle>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4dd2ff0e5d7a4dfdad79258425bae8cd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/4dd2ff0e5d7a4dfdad79258425bae8cd",
      "portrait": "[\r\n  {\r\n    \"key\": \"602389fc-d426-488e-9a48-d4a1a7a6d352\",\r\n    \"mediaKey\": \"698293c0-df93-4086-a0b9-26a18a2b0c45\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"ded67ed6-e7f0-4783-98e8-c1de0c2bb958\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"31c8ad1a-6d63-4118-8a6f-74d8990de8e7\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fa5c3f0feb5f4e46aebf43c9a43f332b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/fa5c3f0feb5f4e46aebf43c9a43f332b",
      "portrait": "[\r\n  {\r\n    \"key\": \"06461976-181b-4726-ad9d-f059178ec0fe\",\r\n    \"mediaKey\": \"698293c0-df93-4086-a0b9-26a18a2b0c45\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"710c515f-8322-4634-9654-fe9bc99314e0\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"e94b6385-d7a7-4a89-bd6c-45a1bc4ab59b\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/b7155942be804afd9096ea6b7450a91c]]></Value>
      <Value Culture="en"><![CDATA[umb://document/a5c4a58483fa45e283ecedde2b00be85]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[احتفاءً بجمال المتاحف التي تم بناؤها وتقديراً لمشروع منطقة السعديات الثقافية، يأتي هذا العمل الفني من خلال رسم تصاميم هذه الإبداعات الرائعة ليلاً عبر طائرات بدون طيار، لتجسد الحاضر العابر والمستقبل الدائم. يتلخص المفهوم الأساسي للعرض بجعل السماء، عبارة عن كتاب رسم خطوط المهندس المعماري وذلك على نطاق واسع، ما يمنح الفرصة للجمهور لإكتشاف أو إعادة اكتشاف خطوط المتاحف. ستكون هذه التجارب نحت ثلاثي الأبعاد للمتاحف في منطقة السعديات الثقافية من خلال تعديل الأشكال والألوان باستخدام الطائرات بدون طيار. وسيحلق أسطول من الطائرات بالتحليق بشكل منخفض، ليرسم في السماء رسومًا توضيحية للنصب التذكاري في منطقة السعديات الثقافية.]]></Value>
      <Value Culture="en"><![CDATA[To pay tribute to the beauty of the museums yet constructed or in project of Saadiyat Cultural District, by drawing in the night with drones the shapes of these magnificent creations. Transient present, persistent future.
The core concept of the performance is to let the sky be at a large scale, the architect lines’ sketchbook, giving the chance to the audience to discover or rediscover the museums’ lines. 
These experiences will be 3D sculpting of the museums in Saadiyat Cultural District through modulation of shapes and color with drones. 
Between each of these performances, a reduced fleet will fly, drawing in the sky illustrations of the monument in Saadiyat Cultural District.]]></Value>
    </markdown>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[persistence-of-the-form]]></Value>
      <Value Culture="en"><![CDATA[persistence-of-the-form]]></Value>
    </slug>
  </Properties>
</Content>