<?xml version="1.0" encoding="utf-8"?>
<Content Key="d28827c0-b74a-4964-b129-2c605ec3ce3d" Alias="persistence-of-the-form" Level="3">
  <Info>
    <Parent Key="7e4e6004-cce1-4ecd-89b7-407586edc6d7">Artworks</Parent>
    <Path>/Artwork/Artworks/persistenceOfTheForm</Path>
    <Trashed>false</Trashed>
    <ContentType>artworks</ContentType>
    <CreateDate>2023-10-02T19:08:07</CreateDate>
    <NodeName Default="persistence-of-the-form">
      <Name Culture="en">persistence-of-the-form</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artist>
      <Value Culture="en"><![CDATA[umb://document/9ef081d5094b46f1b066fe3f81ef03a0]]></Value>
    </artist>
    <artworktitle>
      <Value Culture="en"><![CDATA[Persistence of the Form]]></Value>
    </artworktitle>
    <images>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fa5c3f0feb5f4e46aebf43c9a43f332b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/fa5c3f0feb5f4e46aebf43c9a43f332b",
      "portrait": "[\r\n  {\r\n    \"key\": \"06461976-181b-4726-ad9d-f059178ec0fe\",\r\n    \"mediaKey\": \"698293c0-df93-4086-a0b9-26a18a2b0c45\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"710c515f-8322-4634-9654-fe9bc99314e0\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"e94b6385-d7a7-4a89-bd6c-45a1bc4ab59b\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <isActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <location>
      <Value Culture="en"><![CDATA[umb://document/a5c4a58483fa45e283ecedde2b00be85]]></Value>
    </location>
    <markdown>
      <Value Culture="en"><![CDATA[To pay tribute to the beauty of the museums yet constructed or in project of Saadiyat Cultural District, by drawing in the night with drones the shapes of these magnificent creations. Transient present, persistent future.
The core concept of the performance is to let the sky be at a large scale, the architect lines’ sketchbook, giving the chance to the audience to discover or rediscover the museums’ lines. 
These experiences will be 3D sculpting of the museums in Saadiyat Cultural District through modulation of shapes and color with drones. 
Between each of these performances, a reduced fleet will fly, drawing in the sky illustrations of the monument in Saadiyat Cultural District.]]></Value>
    </markdown>
    <seodescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="en"><![CDATA[persistence-of-the-form]]></Value>
    </slug>
  </Properties>
</Content>