<?xml version="1.0" encoding="utf-8"?>
<Content Key="2632d351-d2ee-4d06-a4f0-6810a9594f34" Alias="Prayer Room" Level="3">
  <Info>
    <Parent Key="a0058e72-cb90-4b17-b53f-691f47e49ebc">Amenities</Parent>
    <Path>/Collections/Amenities/PrayerRoom</Path>
    <Trashed>false</Trashed>
    <ContentType>amenities</ContentType>
    <CreateDate>2023-09-22T15:40:33</CreateDate>
    <NodeName Default="Prayer Room">
      <Name Culture="ar">Prayer Room</Name>
      <Name Culture="en">Prayer Room</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "885244b5-ab34-44b7-81dc-628698e8b410",
    "mediaKey": "3b34819b-ad68-42a5-81fd-a859429ddce3"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "633115cd-3f28-4cf3-8136-b8865565a9d3",
    "mediaKey": "3b34819b-ad68-42a5-81fd-a859429ddce3"
  }
]]]></Value>
    </icon>
    <title>
      <Value Culture="ar"><![CDATA[Prayer Room]]></Value>
      <Value Culture="en"><![CDATA[Prayer Room]]></Value>
    </title>
  </Properties>
</Content>