<?xml version="1.0" encoding="utf-8"?>
<Content Key="72d45981-8d20-416e-8f75-de166cb7c15b" Alias="Program Categories" Level="2">
  <Info>
    <Parent Key="123c56f5-a07a-4808-84a7-ed0630a5d4e3">Collections</Parent>
    <Path>/Collections/ProgramCategories</Path>
    <Trashed>false</Trashed>
    <ContentType>createCategories</ContentType>
    <CreateDate>2023-09-21T12:30:37</CreateDate>
    <NodeName Default="Program Categories">
      <Name Culture="ar">Program Categories</Name>
      <Name Culture="en">Program Categories</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>