<?xml version="1.0" encoding="utf-8"?>
<Content Key="7748f6dd-1d24-42cf-ba5f-8a5b0a2308af" Alias="program-2" Level="3">
  <Info>
    <Parent Key="3c56193c-ef97-4013-9d79-f7653c6b0a2a">Programs</Parent>
    <Path>/Collections/Programs/program2</Path>
    <Trashed>false</Trashed>
    <ContentType>programs</ContentType>
    <CreateDate>2023-09-30T13:43:38</CreateDate>
    <NodeName Default="program-2">
      <Name Culture="ar">program-1</Name>
      <Name Culture="en">program-2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artists>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b69cbbaf1d3042b4a8401c556ce0c2ec"
      },
      {
        "contentUdi": "umb://element/0b55d2b9033b4e3fb48a5117f1c066c0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bed10fd0-a84e-452b-be8b-8189cb3c2f09",
      "udi": "umb://element/b69cbbaf1d3042b4a8401c556ce0c2ec",
      "artname": "Rosalia",
      "role": "Headliner"
    },
    {
      "contentTypeKey": "bed10fd0-a84e-452b-be8b-8189cb3c2f09",
      "udi": "umb://element/0b55d2b9033b4e3fb48a5117f1c066c0",
      "artname": "DJ Khaled",
      "role": "Star DJ"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/acff5c825d244ff18c25d1ab06c552db"
      },
      {
        "contentUdi": "umb://element/4faa2b6c6ed6419798a9e529e61c4c8a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bed10fd0-a84e-452b-be8b-8189cb3c2f09",
      "udi": "umb://element/acff5c825d244ff18c25d1ab06c552db",
      "artname": "Yemi Alade",
      "role": "Headliner"
    },
    {
      "contentTypeKey": "bed10fd0-a84e-452b-be8b-8189cb3c2f09",
      "udi": "umb://element/4faa2b6c6ed6419798a9e529e61c4c8a",
      "artname": "Black Coffee",
      "role": "Star DJ"
    }
  ],
  "settingsData": []
}]]></Value>
    </artists>
    <category>
      <Value Culture="ar"><![CDATA[umb://document/bb3dec06fa76486a815bf0dd2de53c5f]]></Value>
      <Value Culture="en"><![CDATA[umb://document/a031530c0db74a86bfc168abef0374ae]]></Value>
    </category>
    <endDate>
      <Value Culture="ar"><![CDATA[2023-12-05T00:00:00]]></Value>
      <Value Culture="en"><![CDATA[2023-11-03T00:00:00]]></Value>
    </endDate>
    <endTime>
      <Value Culture="ar"><![CDATA[2023-10-03T14:30:00]]></Value>
      <Value Culture="en"><![CDATA[2023-09-30T14:30:00]]></Value>
    </endTime>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "53ab7fe4-e0b0-4fe4-931a-801fbce0d2a0",
    "mediaKey": "135b2fea-1611-465b-8aeb-44ad967bae0d"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "c80ad6ed-1c82-42ff-9f95-c415e4ce7c22",
    "mediaKey": "ad12ad52-75f7-405a-bae7-bfe53beb97c1"
  }
]]]></Value>
    </image>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <location>
      <Value Culture="ar"><![CDATA[Place/Stadium name goes here with the location]]></Value>
      <Value Culture="en"><![CDATA[Place/Stadium name goes here with the location]]></Value>
    </location>
    <startDate>
      <Value Culture="ar"><![CDATA[2023-12-03T00:00:00]]></Value>
      <Value Culture="en"><![CDATA[2023-11-01T00:00:00]]></Value>
    </startDate>
    <startTime>
      <Value Culture="ar"><![CDATA[2023-10-03T12:00:00]]></Value>
      <Value Culture="en"><![CDATA[2023-09-30T12:00:00]]></Value>
    </startTime>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "yellow"
]]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </variant>
  </Properties>
</Content>