<?xml version="1.0" encoding="utf-8"?>
<Content Key="26a8f02d-2ef0-4813-91af-8b1fbba16bcb" Alias="Program 3" Level="3">
  <Info>
    <Parent Key="3c56193c-ef97-4013-9d79-f7653c6b0a2a">Programs</Parent>
    <Path>/Collections/Programs/Program3</Path>
    <Trashed>false</Trashed>
    <ContentType>programs</ContentType>
    <CreateDate>2023-10-02T00:28:40</CreateDate>
    <NodeName Default="Program 3">
      <Name Culture="ar">test (1)</Name>
      <Name Culture="en">Program 3</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artists>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4e7b6438b3644eecbb6fd1868121b7c6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bed10fd0-a84e-452b-be8b-8189cb3c2f09",
      "udi": "umb://element/4e7b6438b3644eecbb6fd1868121b7c6",
      "artname": "Nicole",
      "role": "Headliner"
    }
  ],
  "settingsData": []
}]]></Value>
    </artists>
    <category>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[umb://document/a031530c0db74a86bfc168abef0374ae]]></Value>
    </category>
    <endDate>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[2024-01-04T00:00:00]]></Value>
    </endDate>
    <endTime>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[2023-10-02T16:30:00]]></Value>
    </endTime>
    <image>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "704f1566-7cbb-4306-9d0a-0c9612fe15a2",
    "mediaKey": "ad12ad52-75f7-405a-bae7-bfe53beb97c1"
  }
]]]></Value>
    </image>
    <isActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <location>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[Abu Dhabi]]></Value>
    </location>
    <startDate>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[2024-01-01T00:00:00]]></Value>
    </startDate>
    <startTime>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[2023-10-02T04:30:00]]></Value>
    </startTime>
    <variant>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[[
  "green"
]]]></Value>
    </variant>
  </Properties>
</Content>