<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c56193c-ef97-4013-9d79-f7653c6b0a2a" Alias="Programs" Level="2">
  <Info>
    <Parent Key="123c56f5-a07a-4808-84a7-ed0630a5d4e3">Collections</Parent>
    <Path>/Collections/Programs</Path>
    <Trashed>false</Trashed>
    <ContentType>createProgram</ContentType>
    <CreateDate>2023-09-27T17:01:54</CreateDate>
    <NodeName Default="Programs">
      <Name Culture="ar">Programs</Name>
      <Name Culture="en">Programs</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>