<?xml version="1.0" encoding="utf-8"?>
<Content Key="f298c8b0-ea09-4ecd-a00d-34506e5c2570" Alias="rafael-lozano-hemmer" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/rafaelLozanoHemmer</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-09-30T13:25:27</CreateDate>
    <NodeName Default="rafael-lozano-hemmer">
      <Name Culture="ar">rafael-lozano-hemmer</Name>
      <Name Culture="en">rafael-lozano-hemmer</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[رافائيل لوزانو هيمر]]></Value>
      <Value Culture="en"><![CDATA[RAFAEL LOZANO-HEMMER]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[رافائيل لوزانو هيمر، فنان مكسيكي كندي( مواليد عام 1976)، تمزج أفكاره بين الهندسة المعمارية والتكنولوجيا والأداء]]></Value>
      <Value Culture="en"><![CDATA[Mexican-Canadian artist Lozano-Hemmer (b.1967) blends architecture, tech, and performance.]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2997aa5608044c41adf6fd934f6b1933"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/2997aa5608044c41adf6fd934f6b1933",
      "portrait": "[\r\n  {\r\n    \"key\": \"b4cea673-ef25-4e47-b19e-623162e1171c\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"dd5f1f0e-a97c-4caf-a515-ce1e81a6cc6e\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"da54cb5c-2808-47c8-b858-a95223f9fefd\",\r\n    \"mediaKey\": \"9f3ec0df-38d8-4480-9c61-d073b8ba2403\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/327f986ff77b49e9b447bc2973b93767"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/327f986ff77b49e9b447bc2973b93767",
      "portrait": "[\r\n  {\r\n    \"key\": \"7689bc2c-90aa-4f92-a82a-b9e22e7c567e\",\r\n    \"mediaKey\": \"fc490992-5585-4ad4-9371-4a5d0dbbbacb\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"e16e13cb-6e01-4161-8885-a5894e2b6237\",\r\n    \"mediaKey\": \"fc490992-5585-4ad4-9371-4a5d0dbbbacb\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"4055d786-0962-40e7-a0d8-ba39f02d0c46\",\r\n    \"mediaKey\": \"9f3ec0df-38d8-4480-9c61-d073b8ba2403\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/aa8f645651d44b24bc70f5136e86d5ff]]></Value>
      <Value Culture="en"><![CDATA[umb://document/aa8f645651d44b24bc70f5136e86d5ff]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[رافائيل لوزانو هيمر، فنان مكسيكي كندي، تمزج أفكاره بين الهندسة المعمارية والتكنولوجيا والأداء. أعماله الفنية، أتاحت أمامه الفرصة للمشاركة في فعاليات عدة مثل توسع الإتحاد الأوروبي في دبلن (2004)، النصب التذكاري لمذبحة تلاتيلولكو في مكسيكو سيتي (2008)، أولمبياد فانكوفر (2010)، ومسرح روريكا الروماني في بازل (2018) ونصب كوفيد التذكاري في متحف بروكلين (2021). في العام 2007، كان أول فنان يمثل المكسيك في فعالية بينالي البندقية وشارك أيضاً في عدة معارض بينالي في سيدني وليفربول وكوتشي وميركوسول واسطنبول وهافانا ونيو أورلينز وشنغهاي وسنغافورة وغيرها الكثير. وفي العام 2019، ساهم عمله الفني المتمثل بمجسم تفاعلي يحمل اسم "موالف الحدود" في ربط الأشخاص عبر الحدود بين الولايات المتحدة الإمريكية والمكسيك من خلال استخدام جسور من الضوء تحكمت فيها أصوات المشاركين. وتشمل قائمة أعماله البارزة مجموعة MoMA في نيويورك ، و NGV في ملبورن، و Tate في لندن ، و SFMOMA في سان فرانسيسكو ، و MAC في مونتريال ، ومتحف رينا صوفيا في مدريد ، و MUAC في مكسيكو سيتي.]]></Value>
      <Value Culture="en"><![CDATA[Mexican-Canadian artist who works with ideas from architecture, technology and performance. His participatory public art has been commissioned for events such as the Expansion of the European Union in Dublin (2004), the Tlatelolco Massacre Memorial in Mexico City (2008), the Vancouver Olympics (2010), the Raurica Roman Theatre in Basel (2018) and the Covid Memorial at the Brooklyn Museum (2021). 

In 2007, he was the first artist to represent Mexico at the Venice Biennale and has also shown in Biennales in Sydney, Liverpool, Kochi, Mercosul, Istanbul, Habana, New Orleans, Shanghai, Singapore and many others. In 2019 his interactive installation “Border Tuner” connected people across the US-Mexico border using bridges of light controlled by the voices of participants. 

Collections holding his work include MoMA in New York, NGV in Melbourne, Tate in London, SFMOMA in San Francisco, MAC in Montreal, Reina Sofía Museum in Madrid, and MUAC in Mexico City.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[sadf]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[استكشاف الفنانين الآخرين]]></Value>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[sdfsdf]]></Value>
      <Value Culture="en"><![CDATA[rafael-lozano-hemmer]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "d2b64001-9a3a-4c44-b652-9857219818d4",
    "mediaKey": "65434e3f-febd-40ae-a63b-1b7251d9f83f"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[sdfsd]]></Value>
      <Value Culture="en"><![CDATA[rafael-lozano-hemmer]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[sdsdf]]></Value>
      <Value Culture="en"><![CDATA[rafael-lozano-hemmer]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[rafael-lozano-hemmer]]></Value>
      <Value Culture="en"><![CDATA[rafael-lozano-hemmer]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[/]]></Value>
      <Value Culture="en"><![CDATA[/]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "orange"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "green"
]]]></Value>
    </variant>
  </Properties>
</Content>