<?xml version="1.0" encoding="utf-8"?>
<Content Key="998b4910-fd1b-4117-9150-f71157a878de" Alias="rain-wu" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/rainWu</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:44:54</CreateDate>
    <NodeName Default="rain-wu">
      <Name Culture="ar">rain-wu</Name>
      <Name Culture="en">rain-wu</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="ar">false</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[رين وو]]></Value>
      <Value Culture="en"><![CDATA[RAIN WU]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[Taiwanese artist Rain Wu (b.1987) work scales from drawing to architectural installations]]></Value>
      <Value Culture="en"><![CDATA[Taiwanese artist Rain Wu (b.1987) work scales from drawing to architectural installations]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f3f435c6bf8a4c6183a4dd052bd9bdfc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/f3f435c6bf8a4c6183a4dd052bd9bdfc",
      "portrait": "[\r\n  {\r\n    \"key\": \"66ec2260-b2b4-464d-8f65-f25abf97705c\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"2d38d131-04bf-451d-8bd5-34bd4b356efe\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ee839b83e1574314b8fc3be0463cf77f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/ee839b83e1574314b8fc3be0463cf77f",
      "portrait": "[\r\n  {\r\n    \"key\": \"72f107b1-8277-4ec1-9b91-2bedcae0496f\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"10420ab6-4106-4e21-afd1-a7655a8a5a0b\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/09853fa7f38c49fdae5a04ac1b7a67ba]]></Value>
      <Value Culture="en"><![CDATA[umb://document/09853fa7f38c49fdae5a04ac1b7a67ba]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[رين وو( مواليد عام 1987، تاينان)
رين وو، فنانة ومهندسة معمارية تايوانية تقيم في لندن. يعتمد عملها على المفاهيم ويتجسد في أشكال ومقاييس مختلفة بدءًا من الرسم والنحت والأداء الغذائي والمقالات السينمائية وصولاً إلى المجسمات والتركيبات المعمارية.
تعمل وو وتستخدم المواد القابلة للتلف المؤقتة، كوسيلة للنحت، بهدف تحفيز النقاش حول علاقاتنا المتعددة مع الطبيعة. تبحث أعمالها، من خلال اتباع الآثار الجغرافية والسياسية والكونية والميكروبية للمواد الحية، في الترابط بين استهلاك الطعام، وهضم الثقافات والرسم البياني للأراضي وإعادة التذكير بالأساطير.
تخرجت وو من الكلية الملكية للفنون وكلية بارتليت للهندسة المعمارية، جامعة كاليفورنيا. عُرضت أعمالها الفنية في بينالي الشارقة، بينالي تايبيه، المتحف الفلسطيني، بينالي لندن للتصميم، بينالي اسطنبول للتصميم، ترينالي لشبونة للهندسة المعمارية. كانت واحدة من المصممين المقيمين في متحف التصميم (لندن) في عام 2016، وفنانة مقيمة في أكاديمية جان فان إيك (هولندا) 2018-9، وهي حاليًا محاضرة مشاركة في جامعة جولدسميث.]]></Value>
      <Value Culture="en"><![CDATA[Rain Wu (*1987, Tainan)
Rain Wu is a Taiwanese artist and architect based in London. Her work is conceptually-driven and materialises in different forms and scales from drawing, sculpture, food performance, essay film to architectural installation.
She works with the temporality of perishable materials as sculptural mediums to instigate discussions around our manifold relationships with nature. Following the geographic, political, cosmological and microbial traces of living materials, her work investigates the interconnection between the consumption of food, digestion of cultures, charting of lands and recalling the myths.
She graduated from the Royal College of Art and The Bartlett School of Architecture, UCL. Her artwork has been exhibited in Sharjah Biennial, Taipei Biennial, The Palestinian Museum, London Design Biennale, Istanbul Design Biennial, Lisbon Architecture Triennale; she was one of the Designers in Residence at the Design Museum (London) in 2016, an artist in residence at Jan van Eyck Academie (NL) 2018-9, and she is currently an associate lecturer at Goldsmiths University.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[rain-wu]]></Value>
      <Value Culture="en"><![CDATA[rain-wu]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "green"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "green"
]]]></Value>
    </variant>
  </Properties>
</Content>