<?xml version="1.0" encoding="utf-8"?>
<Content Key="33fd2956-ed0b-49e8-921b-3d09ff778547" Alias="rawdha-al-ketbi" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/rawdhaAlKetbi</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:32:20</CreateDate>
    <NodeName Default="rawdha-al-ketbi">
      <Name Culture="en">rawdha-al-ketbi</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="en"><![CDATA[RAWDHA AL KETBI]]></Value>
    </artistname>
    <description>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <facebook>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7b67d486d21342f98771a977cb843765"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/7b67d486d21342f98771a977cb843765",
      "portrait": "[\r\n  {\r\n    \"key\": \"42e6db16-2585-4f5b-9d2b-d43cdb9d694a\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"3923ef34-4b89-46fa-bec1-59f49998f37d\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"b9bff28f-3193-4a24-b951-ef8835855b55\",\r\n    \"mediaKey\": \"3f70e40c-3cfb-4fc1-ac3d-d638a1c698e3\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="en"><![CDATA[umb://document/bfc1476c98684ca0b9763763093d40ea]]></Value>
    </location>
    <markdown>
      <Value Culture="en"><![CDATA[Rawdha Al Ketbi seeks out abandoned spaces, which she considers to be archeological sites. She investigates the architectures of the abandoned objects found at these sites, making these objects travel forward in time as Rawdha paints them with acid and other chemicals – this painting ceremony itself serving as the time machine. It is as if through her clairvoyance Rawdha is preparing a runway for the future extra-terrestrial life to descend upon, distorting both time and space in her newest works for this site.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="en"><![CDATA[0]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="en"><![CDATA[]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="en"><![CDATA[rawdha-al-ketbi]]></Value>
    </slug>
    <tiktok>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="en"><![CDATA[[
  "green"
]]]></Value>
    </variant>
  </Properties>
</Content>