<?xml version="1.0" encoding="utf-8"?>
<Content Key="337bf8d0-56fc-4245-8aa8-acca7f3e9cde" Alias="Restroom" Level="3">
  <Info>
    <Parent Key="a0058e72-cb90-4b17-b53f-691f47e49ebc">Amenities</Parent>
    <Path>/Collections/Amenities/Restroom</Path>
    <Trashed>false</Trashed>
    <ContentType>amenities</ContentType>
    <CreateDate>2023-09-30T15:31:42</CreateDate>
    <NodeName Default="Restroom">
      <Name Culture="ar">Restroom</Name>
      <Name Culture="en">Restroom</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "7527f91f-b2be-41ee-803d-cd92c9463933",
    "mediaKey": "a244231f-7845-4217-97b4-e86911642481"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "d6d9e41b-adb6-4b3a-b25a-841ef06f90a3",
    "mediaKey": "a244231f-7845-4217-97b4-e86911642481"
  }
]]]></Value>
    </icon>
    <title>
      <Value Culture="ar"><![CDATA[Restroom]]></Value>
      <Value Culture="en"><![CDATA[Restroom]]></Value>
    </title>
  </Properties>
</Content>