<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7155942-be80-4afd-9096-ea6b7450a91c" Alias="saadiyat-island" Level="3">
  <Info>
    <Parent Key="021c4858-fd02-4e51-8cf2-f6bd0bacc36d">Locations</Parent>
    <Path>/Location/Locations/saadiyatIsland</Path>
    <Trashed>false</Trashed>
    <ContentType>locations</ContentType>
    <CreateDate>2023-10-03T02:16:27</CreateDate>
    <NodeName Default="saadiyat-island">
      <Name Culture="ar">saadiyat-island</Name>
      <Name Culture="en">saadiyat-island</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <amenitiesdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </amenitiesdescription>
    <amenitiesisActive>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </amenitiesisActive>
    <amenitieslist>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[umb://document/2632d351d2ee4d06a4f06810a9594f34,umb://document/337bf8d056fc42458aa8acca7f3e9cde,umb://document/520bf99e14984124b7496142d6bbde7a]]></Value>
    </amenitieslist>
    <amenitiestitle>
      <Value Culture="ar"><![CDATA[Amenities]]></Value>
      <Value Culture="en"><![CDATA[Amenities]]></Value>
    </amenitiestitle>
    <artworkdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </artworkdescription>
    <artworkIsActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </artworkIsActive>
    <artworktitle>
      <Value Culture="ar"><![CDATA[ARTWORKS]]></Value>
      <Value Culture="en"><![CDATA[ARTWORKS]]></Value>
    </artworktitle>
    <fnbdescription>
      <Value Culture="ar"><![CDATA[Indulge in a fusion of flavors that mirror the diversity of art.]]></Value>
      <Value Culture="en"><![CDATA[Indulge in a fusion of flavors that mirror the diversity of art.]]></Value>
    </fnbdescription>
    <fnbisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </fnbisActive>
    <fnbtitle>
      <Value Culture="ar"><![CDATA[Food & Beverages]]></Value>
      <Value Culture="en"><![CDATA[Food & Beverages]]></Value>
    </fnbtitle>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "de7ae456-d556-4ecc-bb24-b8448aa99e01",
    "mediaKey": "11e0a0de-d7d5-44f1-8a4c-442adc7827a4"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "fc9160bc-81ad-461b-a0a0-beadf62732b1",
    "mediaKey": "11e0a0de-d7d5-44f1-8a4c-442adc7827a4"
  }
]]]></Value>
    </image>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e6bc2463e9974474a5b18dae8c33e574"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/e6bc2463e9974474a5b18dae8c33e574",
      "portrait": "[\r\n  {\r\n    \"key\": \"f5b2bb8f-0c2f-4857-bd90-7cb511edd5d8\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"e81fe0b0-de77-4b41-bcbd-71f8de87c199\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"bce1f669-c686-4295-ad4f-69885a033767\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/86dcc7d08af6463b98ec1f82ebf3414f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/86dcc7d08af6463b98ec1f82ebf3414f",
      "portrait": "[\r\n  {\r\n    \"key\": \"44a9182e-59f8-4595-be92-70ee77032f38\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"640b0823-a824-4f8c-8467-00e8647a04d0\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"78ae1b69-f47a-4580-ac1b-60a58033f4fb\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <infodescription>
      <Value Culture="ar"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.]]></Value>
      <Value Culture="en"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.]]></Value>
    </infodescription>
    <infoimage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "02229d82-b56a-4aea-9701-c23be4d19870",
    "mediaKey": "16a455a2-00ab-46ae-82f1-ddd51c9ec14d"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "2ec35609-6645-45ad-8648-7abf0f897c22",
    "mediaKey": "16a455a2-00ab-46ae-82f1-ddd51c9ec14d"
  }
]]]></Value>
    </infoimage>
    <infoisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </infoisActive>
    <infomarkdown>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infomarkdown>
    <infotitle>
      <Value Culture="ar"><![CDATA[ Where Light comes to life]]></Value>
      <Value Culture="en"><![CDATA[ Where Light comes to life]]></Value>
    </infotitle>
    <list>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[umb://document/d28827c0b74a4964b1292c605ec3ce3d]]></Value>
    </list>
    <locationisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </locationisActive>
    <locationtitle>
      <Value Culture="ar"><![CDATA[Saadiyat Island]]></Value>
      <Value Culture="en"><![CDATA[Saadiyat Island]]></Value>
    </locationtitle>
    <locationvariant>
      <Value Culture="ar"><![CDATA[[
  "orange"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "orange"
]]]></Value>
    </locationvariant>
    <otherlocdescription>
      <Value Culture="ar"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.]]></Value>
      <Value Culture="en"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.]]></Value>
    </otherlocdescription>
    <otherlocisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherlocisActive>
    <otherloctitle>
      <Value Culture="ar"><![CDATA[Explore Other locations]]></Value>
      <Value Culture="en"><![CDATA[Explore Other locations]]></Value>
    </otherloctitle>
    <outlets>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/655f4f10acc84ad2b68d758eaaf58bdd"
      },
      {
        "contentUdi": "umb://element/78a9f500044b483dae574e7b9fed9e3e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c0ea75a5-4b10-4743-91b0-012c92d5c174",
      "udi": "umb://element/655f4f10acc84ad2b68d758eaaf58bdd",
      "outletstitle": "McDonalds",
      "variant": "[\"red\"]",
      "outletsdescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.",
      "outletsimage": "[\r\n  {\r\n    \"key\": \"e8fad320-1564-4d59-9e4d-02ab20f2e69e\",\r\n    \"mediaKey\": \"989889c7-f69d-4674-89b3-fb1d263f2c42\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c0ea75a5-4b10-4743-91b0-012c92d5c174",
      "udi": "umb://element/78a9f500044b483dae574e7b9fed9e3e",
      "outletstitle": "Restaurant",
      "variant": "",
      "outletsdescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.",
      "outletsimage": "[\r\n  {\r\n    \"key\": \"ade6a0e3-26e7-4323-ae20-8b1093246ebc\",\r\n    \"mediaKey\": \"dd4dc353-1694-4a14-8579-22559063a920\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </outlets>
    <programdescription>
      <Value Culture="ar"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.]]></Value>
      <Value Culture="en"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.]]></Value>
    </programdescription>
    <programisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </programisActive>
    <programlist>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[umb://document/9c0e0e2e5183420c8cc769c7990e4a41,umb://document/7748f6dd1d2442cfba5f8a5b0a2308af]]></Value>
    </programlist>
    <programtitle>
      <Value Culture="ar"><![CDATA[Programmes]]></Value>
      <Value Culture="en"><![CDATA[Programmes]]></Value>
    </programtitle>
    <routes>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </routes>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[saadiyat-island]]></Value>
      <Value Culture="en"><![CDATA[saadiyat-island]]></Value>
    </slug>
    <transportdesc>
      <Value Culture="ar"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.]]></Value>
      <Value Culture="en"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.]]></Value>
    </transportdesc>
    <transportisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </transportisActive>
    <transporttitle>
      <Value Culture="ar"><![CDATA[Transportation]]></Value>
      <Value Culture="en"><![CDATA[Transportation]]></Value>
    </transporttitle>
  </Properties>
</Content>