<?xml version="1.0" encoding="utf-8"?>
<Content Key="10bf68b7-3e26-4011-aca5-abb1f04f6f8a" Alias="samia-halaby" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/samiaHalaby</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:26:14</CreateDate>
    <NodeName Default="samia-halaby">
      <Name Culture="ar">samia-halaby</Name>
      <Name Culture="en">samia-halaby</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[سامية حلبي]]></Value>
      <Value Culture="en"><![CDATA[SAMIA HALABY]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[سامية حلبي، فنانة فلسطينية أميركية، (مواليد عام 1936)، اشتهرت أعمالها بالتعبيرية التجريدية والنشاط والمنح الدراسية]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4dc638f54aca41949402cc9809e853b8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/4dc638f54aca41949402cc9809e853b8",
      "portrait": "[\r\n  {\r\n    \"key\": \"e88e4e58-e8a1-4e17-9cc5-911d6eddc5f0\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"5e40efd5-a0c3-45be-b1ac-f661e0f59109\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"6da5ec07-ffac-4a4d-8fd5-67e657dd898b\",\r\n    \"mediaKey\": \"2ba722e8-1888-4516-b48d-f504b0417ba2\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9573d7549fe5452786ea2fb7ac48bf86"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/9573d7549fe5452786ea2fb7ac48bf86",
      "portrait": "[\r\n  {\r\n    \"key\": \"e2012fff-dc52-4722-96ef-eac4e421771c\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"0a13238a-43f6-41a4-b846-5820d8c78350\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"11fc09d4-a1d0-4dd2-a2ed-5599e1e31280\",\r\n    \"mediaKey\": \"2ba722e8-1888-4516-b48d-f504b0417ba2\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[فنانة، ناشطة وباحثة فلسطينية أمريكية من مواليد 1936 في القدس، وتعيش وتعمل في نيويورك.

 تلقت تعليمها في خمسينيات القرن العشرين في الغرب الأوسط الأمريكي، في وقت كان فيه التعبير التجريدي شائعاً ، لكن آنذاك غالباً ما تم تجاهل الرسامات التجريديات. في ستينيات القرن العشرين بدأت العمل على الألوان القوية والأشكال لبناء الحد الأدنى من الأنماط التي تتكرر وتمتد على مساحة اللوحات القماشية. في وقت مبكر من ممارستها للفن، تركت لوحاتها النسيج المستطيل الممتد، لتصبح لوحات على شكل قماش، أو هواتف محمولة ثلاثية الأبعاد، أو مرئيات تم إنشاؤها بواسطة الكمبيوتر. كانت دائماً في طليعة الأعمال والتقنيات، كما حافظت على موقعها الرائد والطليعي من خلال انتاجها الفني الذي قدمته طوال حياتها المهنية.]]></Value>
      <Value Culture="en"><![CDATA[A Palestinian-American artist, activist, and scholar born in 1936 in Jerusalem and living and working in New York. 
 
Halaby is a painter who was educated in the 1950s in the American Midwest, at a time when abstract expressionism was popular, but female abstract painters were often overlooked. In the 1960s she started working with intense colors and shapes to construct minimal patterns, that repeat and spread over the surface of the canvas. Early on in her practice, her paintings left the rectangular stretched fabric, to become shaped canvases, three-dimensional mobiles, or computer-generated visuals. She constantly foregrounded works and techniques and, in retrospect, was at the avant-garde of artistic production throughout her career.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[samia-halaby]]></Value>
      <Value Culture="en"><![CDATA[samia-halaby]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "yellow"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "yellow"
]]]></Value>
    </variant>
  </Properties>
</Content>