<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7489ffe-2c53-4760-b253-258a20fabdba" Alias="sandbox" Level="3">
  <Info>
    <Parent Key="7e4e6004-cce1-4ecd-89b7-407586edc6d7">Artworks</Parent>
    <Path>/Artwork/Artworks/sandbox</Path>
    <Trashed>false</Trashed>
    <ContentType>artworks</ContentType>
    <CreateDate>2023-10-02T19:17:28</CreateDate>
    <NodeName Default="sandbox">
      <Name Culture="ar">sandbox</Name>
      <Name Culture="en">sandbox</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artist>
      <Value Culture="ar"><![CDATA[umb://document/f298c8b0ea094ecda00d34506e5c2570]]></Value>
      <Value Culture="en"><![CDATA[umb://document/f298c8b0ea094ecda00d34506e5c2570]]></Value>
    </artist>
    <artworktitle>
      <Value Culture="ar"><![CDATA[Sandbox]]></Value>
      <Value Culture="en"><![CDATA[Sandbox]]></Value>
    </artworktitle>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a94081d905b74386978be67c4e8db174"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/a94081d905b74386978be67c4e8db174",
      "portrait": "[\r\n  {\r\n    \"key\": \"5cbbf96e-60e5-4a56-ba76-6a8721841241\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"6889317a-5c63-406e-b064-448010f987ae\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"cfc6d291-f061-4d69-b1f6-ebc1e62ff0d9\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/489d7ec04be342eca6bbef79ca8b74cd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/489d7ec04be342eca6bbef79ca8b74cd",
      "portrait": "[\r\n  {\r\n    \"key\": \"c58e41f6-7e19-46c1-a5b2-957078ea202b\",\r\n    \"mediaKey\": \"08364579-3def-4f41-b7fe-df5049ca4b1a\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"fafc0404-fc06-4757-acd6-8a85d30673e7\",\r\n    \"mediaKey\": \"08364579-3def-4f41-b7fe-df5049ca4b1a\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"6125daa6-054d-4be2-b1a5-9c4ebbb80c33\",\r\n    \"mediaKey\": \"08364579-3def-4f41-b7fe-df5049ca4b1a\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/aa8f645651d44b24bc70f5136e86d5ff]]></Value>
      <Value Culture="en"><![CDATA[umb://document/aa8f645651d44b24bc70f5136e86d5ff]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[This piece consists of a projection onto the sandy ground of Lulu Island to create an interactive “arena”, measuring 20x20m. Two elevated, small sandboxes, placed on risers beside the arena, feature tiny projections of people who are on the arena in real-time. As participants reach out to touch these small ghosts, a camera detects their hands and relays them live to two of the world’s brightest projectors, which hang from a boom lift and project the hands over the arena. In this way, people share three scales: the tiny sandbox images, the real human scale, and the monstrous scale of special effects.]]></Value>
      <Value Culture="en"><![CDATA[This piece consists of a projection onto the sandy ground of Lulu Island to create an interactive “arena”, measuring 20x20m. Two elevated, small sandboxes, placed on risers beside the arena, feature tiny projections of people who are on the arena in real-time. As participants reach out to touch these small ghosts, a camera detects their hands and relays them live to two of the world’s brightest projectors, which hang from a boom lift and project the hands over the arena. In this way, people share three scales: the tiny sandbox images, the real human scale, and the monstrous scale of special effects.]]></Value>
    </markdown>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[sandbox]]></Value>
      <Value Culture="en"><![CDATA[sandbox]]></Value>
    </slug>
  </Properties>
</Content>