<?xml version="1.0" encoding="utf-8"?>
<Content Key="42bf6f66-e602-4767-ba8a-129325f1708c" Alias="sfsdf arunachalam.p@krds.fr" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/sfsdfArunachalampKrdsfr</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-04T12:39:35</CreateDate>
    <NodeName Default="sfsdf arunachalam.p@krds.fr" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[arunachalam.p@krds.fr]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[sfsdf]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[sdfsdfdsf]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[1231297230]]></Value>
    </mobilenumber>
  </Properties>
</Content>