<?xml version="1.0" encoding="utf-8"?>
<Content Key="3916d6f3-f9ce-4881-9559-3b023adabc7f" Alias="shadow-turner" Level="3">
  <Info>
    <Parent Key="7e4e6004-cce1-4ecd-89b7-407586edc6d7">Artworks</Parent>
    <Path>/Artwork/Artworks/shadowTurner</Path>
    <Trashed>false</Trashed>
    <ContentType>artworks</ContentType>
    <CreateDate>2023-10-02T19:15:29</CreateDate>
    <NodeName Default="shadow-turner">
      <Name Culture="en">shadow-turner</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artist>
      <Value Culture="en"><![CDATA[umb://document/f298c8b0ea094ecda00d34506e5c2570]]></Value>
    </artist>
    <artworktitle>
      <Value Culture="en"><![CDATA[SHADOW TUNER]]></Value>
    </artworktitle>
    <images>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b4b57744349c41c9bcfed6fa7a390526"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/b4b57744349c41c9bcfed6fa7a390526",
      "portrait": "[\r\n  {\r\n    \"key\": \"9eb8eb03-aaa3-409c-a029-9a09a39c93c6\",\r\n    \"mediaKey\": \"698293c0-df93-4086-a0b9-26a18a2b0c45\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"d5fed064-a4f9-4ebe-8316-4fd585ebf47d\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"e82a11ed-fe17-43ef-9270-5a3f5a7d09ba\",\r\n    \"mediaKey\": \"8fa74656-c814-467a-9804-763880bfb40d\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <isActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <location>
      <Value Culture="en"><![CDATA[umb://document/aa8f645651d44b24bc70f5136e86d5ff]]></Value>
    </location>
    <markdown>
      <Value Culture="en"><![CDATA[The World’s largest spherical aerostat is filled with cold air and suspended from a 14m tall mast. The sphere is illuminated with bright ground lights that cast shadows of passers-by, which go from 2m to 14m height depending on how far the visitor is from the light source. Projected onto the sphere is a rotating image of Earth. As shadows overlap different cities they tune local radio stations, creating a global tuning device.]]></Value>
    </markdown>
    <seodescription>
      <Value Culture="en"><![CDATA[shadow-turner]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="en"><![CDATA[shadow-turner]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="en"><![CDATA[shadow-turner]]></Value>
    </seotitle>
    <slug>
      <Value Culture="en"><![CDATA[shadow-turner]]></Value>
    </slug>
  </Properties>
</Content>