<?xml version="1.0" encoding="utf-8"?>
<Content Key="efd04aac-42fb-45eb-8315-626a7eed2535" Alias="shaikha-al-ketbi" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/shaikhaAlKetbi</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:34:24</CreateDate>
    <NodeName Default="shaikha-al-ketbi">
      <Name Culture="en">shaikha-al-ketbi</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="en"><![CDATA[ SHAIKHA AL KETBI]]></Value>
    </artistname>
    <description>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <facebook>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1317122e6c1e488cbc7595b9eb0470c6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/1317122e6c1e488cbc7595b9eb0470c6",
      "portrait": "[\r\n  {\r\n    \"key\": \"4f11e505-66f6-4e7d-9ed6-480a6ce67600\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"dbe4fd81-43d4-4237-8c4c-d660ac2782c1\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"e4c8e7f1-b9ee-434e-bc8b-4f722c5bad9c\",\r\n    \"mediaKey\": \"e4b35da8-83d6-44a1-8fd9-179dfbfa941b\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="en"><![CDATA[umb://document/bfc1476c98684ca0b9763763093d40ea]]></Value>
    </location>
    <markdown>
      <Value Culture="en"><![CDATA[Shaikha Al Ketbi maps out her hometown Al-Ain through objects and places from her memories. She maps her environment, and herself, through rigorous research, driving to known as well as unknown sites, exploring familiar and unfamiliar territories and the objects inhabiting them as if monuments to the private and public, ancient and modern, built and unfinished. She believes that all monuments- whether they are in our minds or in the physical realm- are equally important. “Our collective artworks, when looked at from the future, in the desert of Al Ain, are equally as important as the tombs, dating back to 3000 BC, that are quite literally a stone-throw away from them in proximity.”

]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="en"><![CDATA[shaikha-al-ketbi]]></Value>
    </slug>
    <tiktok>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="en"><![CDATA[[
  "green"
]]]></Value>
    </variant>
  </Properties>
</Content>