<?xml version="1.0" encoding="utf-8"?>
<Content Key="2335cbe0-8cce-4cb6-a422-c18c194e6ff6" Alias="shezad-dawood" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/shezadDawood</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-03T06:04:11</CreateDate>
    <NodeName Default="shezad-dawood">
      <Name Culture="en">shezad-dawood</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="en"><![CDATA[Shezad Dawood]]></Value>
    </artistname>
    <description>
      <Value Culture="en"><![CDATA[London-based artist Shezad Dawood (b.1974) explores narrative, history, embodiment through diverse media]]></Value>
    </description>
    <facebook>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/265885af974b415c86fc8109889eb91a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/265885af974b415c86fc8109889eb91a",
      "portrait": "[\r\n  {\r\n    \"key\": \"8392a9db-02df-4abd-9a63-83e6ec8a8b25\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"ab0ee72f-09af-41c6-9a91-d4c144672e56\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"0e36519f-d327-4d61-acad-7b4120e85fed\",\r\n    \"mediaKey\": \"006c0414-b3ab-4977-9796-8969119f649a\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="en"><![CDATA[A multidisciplinary artist who interweaves stories, realities and symbolism to create richly layered artworks, spanning painting, textiles, sculpture, film and digital media. Fascinated by ecologies and architecture, his work takes a philosophical approach, asking questions and exploring alternative futures through what Dawood describes as ‘world-building’ and ‘imagineering’. 

His practice is animated by research, working with multiple audiences and communities to delve into narrative, history and embodiment.His fascination with the esoteric, otherness, the environment and architectures both material and virtual, can be seen across numerous projects, most recently at Night in the Garden of Love: Inspired by & featuring Yusef Lateef; WIELS, Brussels (2023); Sea of Redemption, Shezad Dawood x Zien (2023); Integrations, Barakat Contemporary, Seoul (2023); HMS Alice Liddell, St Pancras Wires commission, London (2022) and previously at institutions as varied as Tate Britain, MoMA, MOCA Toronto and the MORI Art Museum, Tokyo. 

His film works have been screened internationally, including at the ICA, London; MoMA and Guggenheim,
 New York.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="en"><![CDATA[Explore Other Artists]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="en"><![CDATA[shezad-dawood]]></Value>
    </slug>
    <tiktok>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="en"><![CDATA[[
  "peach"
]]]></Value>
    </variant>
  </Properties>
</Content>