<?xml version="1.0" encoding="utf-8"?>
<Content Key="2335cbe0-8cce-4cb6-a422-c18c194e6ff6" Alias="shezad-dawood" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/shezadDawood</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-03T06:04:11</CreateDate>
    <NodeName Default="shezad-dawood">
      <Name Culture="ar">shezad-dawood</Name>
      <Name Culture="en">shezad-dawood</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[شيزاد داوود]]></Value>
      <Value Culture="en"><![CDATA[Shezad Dawood]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[شيزاد داوود، فنان يقيم في لندن( مواليد عام 1974)، يستكشف السرد القصصي والتاريخ والرموز من خلال وسائل الإعلام المتنوعة
]]></Value>
      <Value Culture="en"><![CDATA[London-based artist Shezad Dawood (b.1974) explores narrative, history, embodiment through diverse media]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e57ae7eb274441c7bb15e9c056f03fa7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/e57ae7eb274441c7bb15e9c056f03fa7",
      "portrait": "[\r\n  {\r\n    \"key\": \"34dd7e18-8d01-4d33-bf62-5ef04cafba4e\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"19780c17-45b5-4252-96cf-d4691c683c5f\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"e19de404-e024-4caa-be37-c13b39900375\",\r\n    \"mediaKey\": \"006c0414-b3ab-4977-9796-8969119f649a\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/265885af974b415c86fc8109889eb91a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/265885af974b415c86fc8109889eb91a",
      "portrait": "[\r\n  {\r\n    \"key\": \"8392a9db-02df-4abd-9a63-83e6ec8a8b25\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"ab0ee72f-09af-41c6-9a91-d4c144672e56\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"0e36519f-d327-4d61-acad-7b4120e85fed\",\r\n    \"mediaKey\": \"006c0414-b3ab-4977-9796-8969119f649a\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[فنان متعدد الإختصاصات، تمزج أعماله بين القصص والحقائق والرموز، لينتج عن هذا المزيج أعمالاً فنية غنية متعددة المجالات، تشمل الرسم والمنسوجات والنحت والأفلام والوسائط الرقمية. فتنت البيئة والهندسة المعمارية، عوالم داوود، حيث تتميز أعماله بالنهج الفلسفي وطرح الأسئلة كما استكشاف المستقبل البديل من خلال ما يصفه بـ "بناء العالم" و"التخيل". يمارس الفن من خلال البحث والتواصل مع مجتمعات وجماهير مختلفة بهدف التعمق في السرد والتاريخ والتجسيد. 

افتتانه بالباطنية والآخر كما البيئة والهندسة المعمارية المادية والافتراضيةـ، أسهم في تمكين رؤيتها عبر العديد من المشاريع، وآخرها عمله المتميز " ليلة في حديقة الحب"، الممزوج بالإلهام ومن تقديم  يوسف لطيف، ويلز، بروكسل (2023)، بحر الفداء، شيزاد داوود × زين (2023)، التكاملات، بركات العصري، سيول (2023)، صاحبة الجلالة أليس ليدل، لجنة أسلاك سانت بانكراس، لندن (2022). هذا إلى جانب أعمال فنية متميزة بالتعاون مع مؤسسات متنوعة مثل تيت بريطانيا، متحف الفن الحديث، موكا تورنتو ومتحف موري للفنون، طوكيو. عُرضت أعماله السينمائية في فعاليات عالمية، بما في ذلك في ICA ، لندن، ومتحف الفن الحديث وغوغنهايم، نيويورك.]]></Value>
      <Value Culture="en"><![CDATA[A multidisciplinary artist who interweaves stories, realities and symbolism to create richly layered artworks, spanning painting, textiles, sculpture, film and digital media. Fascinated by ecologies and architecture, his work takes a philosophical approach, asking questions and exploring alternative futures through what Dawood describes as ‘world-building’ and ‘imagineering’. 

His practice is animated by research, working with multiple audiences and communities to delve into narrative, history and embodiment.His fascination with the esoteric, otherness, the environment and architectures both material and virtual, can be seen across numerous projects, most recently at Night in the Garden of Love: Inspired by & featuring Yusef Lateef; WIELS, Brussels (2023); Sea of Redemption, Shezad Dawood x Zien (2023); Integrations, Barakat Contemporary, Seoul (2023); HMS Alice Liddell, St Pancras Wires commission, London (2022) and previously at institutions as varied as Tate Britain, MoMA, MOCA Toronto and the MORI Art Museum, Tokyo. 

His film works have been screened internationally, including at the ICA, London; MoMA and Guggenheim,
 New York.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[Explore Other Artists]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[shezad-dawood]]></Value>
      <Value Culture="en"><![CDATA[shezad-dawood]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "orange"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "peach"
]]]></Value>
    </variant>
  </Properties>
</Content>