<?xml version="1.0" encoding="utf-8"?>
<Content Key="34379a90-b7e0-4b0c-b069-9cf1cee25066" Alias="shilpa-gupta" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/shilpaGupta</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:46:31</CreateDate>
    <NodeName Default="shilpa-gupta">
      <Name Culture="en">shilpa-gupta</Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="en"><![CDATA[SHILPA GUPTA]]></Value>
    </artistname>
    <description>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <facebook>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a4b1554dc5b640faa8d6dbd689883285"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/a4b1554dc5b640faa8d6dbd689883285",
      "portrait": "[\r\n  {\r\n    \"key\": \"01524aae-c642-47f8-b2d4-7abf18a2cf71\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"39838c0d-a87f-458d-aed9-12def30bb8f4\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="en"><![CDATA[0]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="en"><![CDATA[umb://document/15a9e6ac0c4e4ffc88d7950348c1b993]]></Value>
    </location>
    <markdown>
      <Value Culture="en"><![CDATA[Shilpa Gupta (b.1976) lives and works in Mumbai, India where she has studied sculpture at the Sir J. J. School of Fine Arts from 1992 to 1997.
She had solo shows at Contemporary Arts Center in Cincinnati, Arnolfini in Bristol, OK in Linz, Museum voor Moderne Kunst in Arnhem, Voorlinden Museum and Gardens in Wassenaar, Kiosk in Ghent, Barbican in London, Dallas Contemporary and the Neuer Berliner Kunstverein in Berlin, Bielefelder Kunstverein, La synagogue de Delme Contemporary Art Center and Lalit Kala Akademi in New Delhi. In 2021 she had a survey show at the Museum of Contemporary Art in Antwerp curated by Nav Haq. She presented a solo project at ‘My East is Your West’, a two-person joint India-Pakistan exhibition, by the Gujral Foundation in Venice in 2015.
Gupta’s work has been shown in leading international institutions and museums such as Tate Modern, Museum of Modern Art, Louisiana Museum, Centre Pompidou, Serpentine Gallery, Fondazione Sandretto Re Rebaudengo, Mori Museum, Solomon R. Guggenheim Museum, ZKM, Ishara Art Foundation, Kiran Nadar Museum and Devi Art Foundation.
Shilpa Gupta has participated in 58th Venice Biennale (2019) curated by Ralph Rugoff, Kochi Muziris Biennale (2018) curated by Anita Dube, Gothenburg Biennial (2017) curated by Nav Haq, Berlin Biennale (2014) curated by Juan Gatian, New Museum Triennale (2009), Sharjah Biennial curated by Yuko Hasegawa (2013), Lyon Biennale curated by Hou Hanru (2009), Gwangju Biennale directed by Okwui Enwezor and curated by Ranjit Hoskote (2008), Yokohama Triennale curated by Hans Ulrich Obrist (2008) and Liverpool Biennial curated by Gerardo Mosquera (2006). She has shown in biennales at Auckland, Melbourne, Seoul, Havana, Sydney, Yogyakarta, Echigo-Tsumari, Shanghai, Houston and others.
Her work is in the collection of Tate, Solomon R. Guggenheim Museum, Centre Georges Pompidou, Mori Museum, M+ Museum, Louisiana Museum, Museum of Contemporary Art Chicago, Deutsche Bank, Daimler Chrysler, Bristol Art Museum, Louis Vuitton Foundation, Asia Society, ZKM, Astrup Fearnley Museum, Fonds National d’Art Contemporain – France, KOC Collection, National Gallery of Victoria, National Gallery of Canada, FRAC (France Regional Art Collection), Voorlinden Museum, Art Now, Cincinnati Art Museum, Kiran Nadar Museum, Jameel Arts Center and Devi Art Foundation amongst others.
She currently has a duo solo with Marisa Merz at the MAXXI – National Museum of 21st Century – L’Aquila curated by Bartolomeo Pietromarchi and Fanny Borel until September 2023. In October 2023 she will have a solo at the Amant Art Center curated by Ruth Estévez and at the Tanya Bonakdar Gallery in New York and in 2024 at Centro Botín in Santander curated by Bárbara Rodríguez Muñoz.]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="en"><![CDATA[shilpa-gupta]]></Value>
    </slug>
    <tiktok>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="en"><![CDATA[[
  "peach"
]]]></Value>
    </variant>
  </Properties>
</Content>