<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd96f764-c43e-41ba-8baa-97792cbcea63" Alias="Shivaguru shivaguru.r@krds.fr" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/ShivaguruShivagururKrdsfr</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-03T11:54:24</CreateDate>
    <NodeName Default="Shivaguru shivaguru.r@krds.fr" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[shivaguru.r@krds.fr]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[Shivaguru]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[test]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[09894450808]]></Value>
    </mobilenumber>
  </Properties>
</Content>