<?xml version="1.0" encoding="utf-8"?>
<Content Key="936bdd9d-85a9-44ef-ad27-849616ba65c6" Alias="teamlab" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/teamlab</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:42:27</CreateDate>
    <NodeName Default="teamlab">
      <Name Culture="ar">teamlab</Name>
      <Name Culture="en">teamlab</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="false">
      <Published Culture="ar">false</Published>
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[ تيم لاب]]></Value>
      <Value Culture="en"><![CDATA[TEAMLAB]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[TeamLab - art that exceeds boundaries to reexamine notions of the world, time, and community]]></Value>
      <Value Culture="en"><![CDATA[TeamLab - art that exceeds boundaries to reexamine notions of the world, time, and community]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ad726a47852d48828829d0c29e9f4378"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/ad726a47852d48828829d0c29e9f4378",
      "portrait": "[\r\n  {\r\n    \"key\": \"a945ddcc-0675-45f4-b133-8e063aabd599\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"6784c994-b427-4b43-89c2-73bde5cb098b\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/986cc20e31464c4094068292f3d90913"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/986cc20e31464c4094068292f3d90913",
      "portrait": "[\r\n  {\r\n    \"key\": \"72eb0e1d-3cbb-4381-865d-445df3be5d4f\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"2e3d0684-543a-4516-ad13-a1bf1bf9b4cf\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/365a894f8bef41fc8f1d2aa854c20eeb]]></Value>
      <Value Culture="en"><![CDATA[umb://document/365a894f8bef41fc8f1d2aa854c20eeb]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[مجموعة فنية دولية (تأسست عام 2001). يهدف تعاونهم إلى التقاء الفن والعلوم والتكنولوجيا والعالم الطبيعي. من خلال الفن، تهدف هذه المجموعة المتعددة الإختصاصات، والتي تشمل فنانين ومبرمجين وهندسيين ورسامي الرسوم المتحركة وأيضا ًعلماء رياضيات ومهندسين معماريين، إلى استكشاف العلاقة بين الذات والعالم، والوصول إلى أنماط جديدة من الإدراك. من أجل فهم العالم من حولهم، ينفصل البشر إلى كيانات مستقلة مع ايجاد حدود ملموسة فيما بينهم.

تسعى تيم لاب إلى تجاوز هذه الحدود في تصورها للعالم، والعلاقة بين الذات والعالم، كما في استمرارية الزمان. كل شيء موجود من خلال استمرارية طويلة وهشة غير أنها معجزة بلا حدود. يتم تقديم تيم لاب من قبل معرض بيس، مارتن براون المعاصر، وإيكان آرت. 

https://www.teamlab.art/]]></Value>
      <Value Culture="en"><![CDATA[An international art collective. Their collaborative practice seeks to navigate the confluence of art, science, technology, and the natural world. Through art, the interdisciplinary group of specialists, including artists, programmers, engineers, CG animators, mathematicians, and architects, aims to explore the relationship between the self and the world, and new forms of perception.

In order to understand the world around them, people separate it into independent entities with perceived boundaries between them. teamLab seeks to transcend these boundaries in our perceptions of the world, of the relationship between the self and the world, and of the continuity of time. Everything exists in a long, fragile yet miraculous, borderless continuity.

teamLab is represented by Pace Gallery, Martin Browne Contemporary, and Ikkan Art. 

https://www.teamlab.art/]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[teamlab]]></Value>
      <Value Culture="en"><![CDATA[teamlab]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "orange"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "orange"
]]]></Value>
    </variant>
  </Properties>
</Content>