<?xml version="1.0" encoding="utf-8"?>
<Content Key="936bdd9d-85a9-44ef-ad27-849616ba65c6" Alias="teamlab" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/teamlab</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-10-02T17:42:27</CreateDate>
    <NodeName Default="teamlab">
      <Name Culture="en">teamlab</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="en"><![CDATA[TEAMLAB]]></Value>
    </artistname>
    <description>
      <Value Culture="en"><![CDATA[TeamLab - art that exceeds boundaries to reexamine notions of the world, time, and community]]></Value>
    </description>
    <facebook>
      <Value Culture="en"><![CDATA[]]></Value>
    </facebook>
    <images>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/986cc20e31464c4094068292f3d90913"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/986cc20e31464c4094068292f3d90913",
      "portrait": "[\r\n  {\r\n    \"key\": \"72eb0e1d-3cbb-4381-865d-445df3be5d4f\",\r\n    \"mediaKey\": \"6a9f2a41-c03a-49b0-a47e-869dd79469e1\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"2e3d0684-543a-4516-ad13-a1bf1bf9b4cf\",\r\n    \"mediaKey\": \"8e4cddc3-0fff-4330-a788-79211203c1b6\"\r\n  }\r\n]",
      "card": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <instagram>
      <Value Culture="en"><![CDATA[]]></Value>
    </instagram>
    <isActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="en"><![CDATA[]]></Value>
    </linkedin>
    <location>
      <Value Culture="en"><![CDATA[umb://document/365a894f8bef41fc8f1d2aa854c20eeb]]></Value>
    </location>
    <markdown>
      <Value Culture="en"><![CDATA[An international art collective. Their collaborative practice seeks to navigate the confluence of art, science, technology, and the natural world. Through art, the interdisciplinary group of specialists, including artists, programmers, engineers, CG animators, mathematicians, and architects, aims to explore the relationship between the self and the world, and new forms of perception.

In order to understand the world around them, people separate it into independent entities with perceived boundaries between them. teamLab seeks to transcend these boundaries in our perceptions of the world, of the relationship between the self and the world, and of the continuity of time. Everything exists in a long, fragile yet miraculous, borderless continuity.

teamLab is represented by Pace Gallery, Martin Browne Contemporary, and Ikkan Art. 

https://www.teamlab.art/]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="en"><![CDATA[EXPLORE OTHER ARTISTS]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="en"><![CDATA[teamlab]]></Value>
    </slug>
    <tiktok>
      <Value Culture="en"><![CDATA[]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="en"><![CDATA[]]></Value>
    </twitter>
    <variant>
      <Value Culture="en"><![CDATA[[
  "orange"
]]]></Value>
    </variant>
  </Properties>
</Content>