<?xml version="1.0" encoding="utf-8"?>
<Content Key="72aae886-f435-483f-999f-7802be4fe832" Alias="tese tese" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/teseTese</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-01T16:42:06</CreateDate>
    <NodeName Default="tese tese" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[test@krds.fr]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[tese]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[tets]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[99999999]]></Value>
    </mobilenumber>
  </Properties>
</Content>