<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1d83f4e-0cfa-4c90-8744-2efe28477623" Alias="testloc" Level="3">
  <Info>
    <Parent Key="021c4858-fd02-4e51-8cf2-f6bd0bacc36d">Locations</Parent>
    <Path>/Location/Locations/testloc</Path>
    <Trashed>false</Trashed>
    <ContentType>locations</ContentType>
    <CreateDate>2023-09-22T13:23:26</CreateDate>
    <NodeName Default="testloc">
      <Name Culture="ar">testloc</Name>
      <Name Culture="en">testloc</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <amenitiesdescription>
      <Value Culture="ar"><![CDATA[testamenties]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </amenitiesdescription>
    <amenitiesisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </amenitiesisActive>
    <amenitieslist>
      <Value Culture="ar"><![CDATA[umb://document/2632d351d2ee4d06a4f06810a9594f34]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </amenitieslist>
    <amenitiestitle>
      <Value Culture="ar"><![CDATA[testamenties]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </amenitiestitle>
    <artworkdescription>
      <Value Culture="ar"><![CDATA[testartwork]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </artworkdescription>
    <artworkIsActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </artworkIsActive>
    <artworktitle>
      <Value Culture="ar"><![CDATA[testartwork]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </artworktitle>
    <fnbdescription>
      <Value Culture="ar"><![CDATA[asdasdw]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </fnbdescription>
    <fnbisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </fnbisActive>
    <fnbtitle>
      <Value Culture="ar"><![CDATA[asdasd]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </fnbtitle>
    <image>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </image>
    <images>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </images>
    <infodescription>
      <Value Culture="ar"><![CDATA[testinfo]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infodescription>
    <infoimage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "d89b2359-7932-4921-acb9-508329a4acb0",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infoimage>
    <infoisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infoisActive>
    <infomarkdown>
      <Value Culture="ar"><![CDATA[testinfomarkdown]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infomarkdown>
    <infotitle>
      <Value Culture="ar"><![CDATA[testinfo]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </infotitle>
    <list>
      <Value Culture="ar"><![CDATA[umb://document/190526055c7541d893bf307318ac5d5f]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </list>
    <locationisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </locationisActive>
    <locationtitle>
      <Value Culture="ar"><![CDATA[testlocen]]></Value>
      <Value Culture="en"><![CDATA[Arunachalam pushpalingamsdfdsf]]></Value>
    </locationtitle>
    <locationvariant>
      <Value Culture="ar"><![CDATA[[
  "yellow"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "peach"
]]]></Value>
    </locationvariant>
    <otherlocdescription>
      <Value Culture="ar"><![CDATA[tester]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherlocdescription>
    <otherlocisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherlocisActive>
    <otherloctitle>
      <Value Culture="ar"><![CDATA[test]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherloctitle>
    <outlets>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7646afc2a4654c529d3a7a21daeb4c6b"
      },
      {
        "contentUdi": "umb://element/1537434659f940aa87b5e175543e4450"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c0ea75a5-4b10-4743-91b0-012c92d5c174",
      "udi": "umb://element/7646afc2a4654c529d3a7a21daeb4c6b",
      "outletstitle": "testoutlets",
      "outletsdescription": "testoutlets",
      "outletsimage": "[\r\n  {\r\n    \"key\": \"ccc8a19b-c954-42e9-80ba-d4b2b88c255f\",\r\n    \"mediaKey\": \"047c9e2c-602a-4811-af0a-37f3d8655058\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "c0ea75a5-4b10-4743-91b0-012c92d5c174",
      "udi": "umb://element/1537434659f940aa87b5e175543e4450",
      "outletstitle": "testoutlet2",
      "outletsdescription": "testoutlet2",
      "outletsimage": "[\r\n  {\r\n    \"key\": \"12736eb5-3d6d-41e1-84f0-dd65783ce940\",\r\n    \"mediaKey\": \"047c9e2c-602a-4811-af0a-37f3d8655058\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </outlets>
    <programdescription>
      <Value Culture="ar"><![CDATA[testprograms]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programdescription>
    <programisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </programisActive>
    <programlist>
      <Value Culture="ar"><![CDATA[umb://document/9c0e0e2e5183420c8cc769c7990e4a41]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programlist>
    <programtitle>
      <Value Culture="ar"><![CDATA[testprograms]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </programtitle>
    <routes>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ae965b2c642f4016896bc56904d2a3d3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "02991f0f-6dc5-4095-a426-f6b8513c5ef1",
      "udi": "umb://element/ae965b2c642f4016896bc56904d2a3d3",
      "routestitle": "testroutes",
      "points": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/c3357cefedc5459a85e92df04db5e24f\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"cc70f0bb-9bd2-4661-b5e1-7362db1ec4ef\",\r\n      \"udi\": \"umb://element/c3357cefedc5459a85e92df04db5e24f\",\r\n      \"pointstitle\": \"testpoints\",\r\n      \"pointsdescription\": \"testpoints\",\r\n      \"pointsimage\": \"[\\r\\n  {\\r\\n    \\\"key\\\": \\\"5ea9b943-5356-461f-bc49-243aaf87a264\\\",\\r\\n    \\\"mediaKey\\\": \\\"047c9e2c-602a-4811-af0a-37f3d8655058\\\"\\r\\n  }\\r\\n]\",\r\n      \"pointsicon\": \"testicon\",\r\n      \"pointsshortText\": \"testicon\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </routes>
    <seodescription>
      <Value Culture="ar"><![CDATA[testseo]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "24a4e06c-23ee-4fc9-ba5d-a2d853c32afa",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[testseo]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[testseo]]></Value>
      <Value Culture="en"><![CDATA[steste]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[asdasd]]></Value>
      <Value Culture="en"><![CDATA[sdfdsf]]></Value>
    </slug>
    <transportdesc>
      <Value Culture="ar"><![CDATA[testtransport]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </transportdesc>
    <transportisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </transportisActive>
    <transporttitle>
      <Value Culture="ar"><![CDATA[testtransport]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </transporttitle>
  </Properties>
</Content>