<?xml version="1.0" encoding="utf-8"?>
<Content Key="6326fbf2-d59d-4f63-848e-50c3c597e505" Alias="test test@test.com" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/testTestTestcom</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-03T14:30:09</CreateDate>
    <NodeName Default="test test@test.com" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[test@test.com]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[test]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[test]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[9791456789]]></Value>
    </mobilenumber>
  </Properties>
</Content>