<?xml version="1.0" encoding="utf-8"?>
<Content Key="594515fa-0487-43d5-bab5-a864a62eaf0b" Alias="test test (1)" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/testTest1</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-01T16:45:01</CreateDate>
    <NodeName Default="test test (1)" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[test@krds.fr]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[test]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[test]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[99999999999]]></Value>
    </mobilenumber>
  </Properties>
</Content>