<?xml version="1.0" encoding="utf-8"?>
<Content Key="f56a19a7-3ab1-490c-9e3b-83672d77fa37" Alias="testartisten" Level="3">
  <Info>
    <Parent Key="2f126716-b36d-4704-8070-90e70e6d48ac">Artist</Parent>
    <Path>/Artist/Artist/testartisten</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2023-09-21T12:52:50</CreateDate>
    <NodeName Default="testartisten">
      <Name Culture="ar">Arunachalam</Name>
      <Name Culture="en">testartisten</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistname>
      <Value Culture="ar"><![CDATA[testartisten]]></Value>
      <Value Culture="en"><![CDATA[testloc ]]></Value>
    </artistname>
    <description>
      <Value Culture="ar"><![CDATA[testartisten]]></Value>
      <Value Culture="en"><![CDATA[kjoiuiou]]></Value>
    </description>
    <facebook>
      <Value Culture="ar"><![CDATA[asdasdawd]]></Value>
      <Value Culture="en"><![CDATA[asdasd]]></Value>
    </facebook>
    <images>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </images>
    <instagram>
      <Value Culture="ar"><![CDATA[asdasd]]></Value>
      <Value Culture="en"><![CDATA[asdasd]]></Value>
    </instagram>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <linkedin>
      <Value Culture="ar"><![CDATA[sdfsdfewf]]></Value>
      <Value Culture="en"><![CDATA[asdasd]]></Value>
    </linkedin>
    <location>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[umb://document/aa8f645651d44b24bc70f5136e86d5ff]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[tester]]></Value>
      <Value Culture="en"><![CDATA[zxcxzczxcdscsd]]></Value>
    </markdown>
    <otherdescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </otherdescription>
    <otherisActive>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
    </otherisActive>
    <othertitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </othertitle>
    <seodescription>
      <Value Culture="ar"><![CDATA[werwerewr]]></Value>
      <Value Culture="en"><![CDATA[kpokpoo]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "457b5760-1bfc-49c8-89b8-cc73c9d816a2",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "288981fe-f4b9-40d4-86be-6b9e2319e922",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[34rffewrfew]]></Value>
      <Value Culture="en"><![CDATA[ooipoipo]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[ewrwer]]></Value>
      <Value Culture="en"><![CDATA[asd]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[test-artist]]></Value>
    </slug>
    <tiktok>
      <Value Culture="ar"><![CDATA[wefewfewf]]></Value>
      <Value Culture="en"><![CDATA[asdasd]]></Value>
    </tiktok>
    <twitter>
      <Value Culture="ar"><![CDATA[dwdwds]]></Value>
      <Value Culture="en"><![CDATA[asd]]></Value>
    </twitter>
    <variant>
      <Value Culture="ar"><![CDATA[[
  "orange"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "peach"
]]]></Value>
    </variant>
  </Properties>
</Content>