<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f901c80-b79f-43e8-a74d-40e1369a1098" Alias="test test" Level="3">
  <Info>
    <Parent Key="1c3c72df-9fdd-454e-bed4-728ae202ae04">NewsletterRequest</Parent>
    <Path>/Collections/NewsletterRequest/testTest</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterRequest</ContentType>
    <CreateDate>2023-10-01T16:45:24</CreateDate>
    <NodeName Default="test test" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[test@krds.fr]]></Value>
    </email>
    <firstname>
      <Value><![CDATA[test]]></Value>
    </firstname>
    <lastname>
      <Value><![CDATA[test]]></Value>
    </lastname>
  </Properties>
</Content>