<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5c4a584-83fa-45e2-83ec-edde2b00be85" Alias="testloc3" Level="3">
  <Info>
    <Parent Key="021c4858-fd02-4e51-8cf2-f6bd0bacc36d">Locations</Parent>
    <Path>/Location/Locations/testloc3</Path>
    <Trashed>false</Trashed>
    <ContentType>locations</ContentType>
    <CreateDate>2023-09-27T17:40:29</CreateDate>
    <NodeName Default="testloc3">
      <Name Culture="ar">testloc3</Name>
      <Name Culture="en">testloc3</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <amenitiesdescription>
      <Value Culture="ar"><![CDATA[vwevwev]]></Value>
      <Value Culture="en"><![CDATA[wefewf]]></Value>
    </amenitiesdescription>
    <amenitiesisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </amenitiesisActive>
    <amenitieslist>
      <Value Culture="ar"><![CDATA[umb://document/2632d351d2ee4d06a4f06810a9594f34]]></Value>
      <Value Culture="en"><![CDATA[umb://document/2632d351d2ee4d06a4f06810a9594f34]]></Value>
    </amenitieslist>
    <amenitiestitle>
      <Value Culture="ar"><![CDATA[vwvwe]]></Value>
      <Value Culture="en"><![CDATA[fdfewf]]></Value>
    </amenitiestitle>
    <artworkdescription>
      <Value Culture="ar"><![CDATA[ewfewf]]></Value>
      <Value Culture="en"><![CDATA[wefewf]]></Value>
    </artworkdescription>
    <artworkIsActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </artworkIsActive>
    <artworktitle>
      <Value Culture="ar"><![CDATA[sdfsdf]]></Value>
      <Value Culture="en"><![CDATA[sdfwf]]></Value>
    </artworktitle>
    <fnbdescription>
      <Value Culture="ar"><![CDATA[ewfewfwef]]></Value>
      <Value Culture="en"><![CDATA[fwefwef]]></Value>
    </fnbdescription>
    <fnbisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </fnbisActive>
    <fnbtitle>
      <Value Culture="ar"><![CDATA[sdfdsf]]></Value>
      <Value Culture="en"><![CDATA[sdfdsfwe]]></Value>
    </fnbtitle>
    <image>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </image>
    <images>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </images>
    <infodescription>
      <Value Culture="ar"><![CDATA[wevewv]]></Value>
      <Value Culture="en"><![CDATA[efwefewf]]></Value>
    </infodescription>
    <infoimage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "09200b8b-34d3-4510-84b1-a2356b10f6ac",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "61644888-3d13-4c84-8ce3-4e34b93f945e",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
    </infoimage>
    <infoisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </infoisActive>
    <infomarkdown>
      <Value Culture="ar"><![CDATA[sdfsdfsdf]]></Value>
      <Value Culture="en"><![CDATA[dsfsdfsdfdsf]]></Value>
    </infomarkdown>
    <infotitle>
      <Value Culture="ar"><![CDATA[ewvwev]]></Value>
      <Value Culture="en"><![CDATA[fwefw]]></Value>
    </infotitle>
    <list>
      <Value Culture="ar"><![CDATA[umb://document/190526055c7541d893bf307318ac5d5f,umb://document/22e1861d6ff64917af80900b5f26b4c2]]></Value>
      <Value Culture="en"><![CDATA[umb://document/190526055c7541d893bf307318ac5d5f,umb://document/22e1861d6ff64917af80900b5f26b4c2]]></Value>
    </list>
    <locationisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </locationisActive>
    <locationtitle>
      <Value Culture="ar"><![CDATA[sfsdfds]]></Value>
      <Value Culture="en"><![CDATA[sdfsdf]]></Value>
    </locationtitle>
    <locationvariant>
      <Value Culture="ar"><![CDATA[[
  "orange"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "orange"
]]]></Value>
    </locationvariant>
    <otherlocdescription>
      <Value Culture="ar"><![CDATA[ewfewfewf]]></Value>
      <Value Culture="en"><![CDATA[fsdfwfewf]]></Value>
    </otherlocdescription>
    <otherlocisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </otherlocisActive>
    <otherloctitle>
      <Value Culture="ar"><![CDATA[sdfdsf]]></Value>
      <Value Culture="en"><![CDATA[sdfds]]></Value>
    </otherloctitle>
    <outlets>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/db2673b2b6b345ca9ad6fbcc160a5aeb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c0ea75a5-4b10-4743-91b0-012c92d5c174",
      "udi": "umb://element/db2673b2b6b345ca9ad6fbcc160a5aeb",
      "outletstitle": "fewf",
      "outletsdescription": "efewf",
      "outletsimage": "[\r\n  {\r\n    \"key\": \"0ac9df7b-24bd-4861-9b39-a857afb873d7\",\r\n    \"mediaKey\": \"047c9e2c-602a-4811-af0a-37f3d8655058\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/36c55aa4fca5474b8965b5d547960613"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c0ea75a5-4b10-4743-91b0-012c92d5c174",
      "udi": "umb://element/36c55aa4fca5474b8965b5d547960613",
      "outletstitle": "dsfdsfewf",
      "outletsdescription": "wefewf",
      "outletsimage": "[\r\n  {\r\n    \"key\": \"ce383070-66a6-428f-80b6-727fd7a4f76c\",\r\n    \"mediaKey\": \"047c9e2c-602a-4811-af0a-37f3d8655058\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </outlets>
    <programdescription>
      <Value Culture="ar"><![CDATA[wvewvwev]]></Value>
      <Value Culture="en"><![CDATA[ewfewf]]></Value>
    </programdescription>
    <programisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </programisActive>
    <programlist>
      <Value Culture="ar"><![CDATA[umb://document/9c0e0e2e5183420c8cc769c7990e4a41]]></Value>
      <Value Culture="en"><![CDATA[umb://document/9c0e0e2e5183420c8cc769c7990e4a41]]></Value>
    </programlist>
    <programtitle>
      <Value Culture="ar"><![CDATA[vewvwev]]></Value>
      <Value Culture="en"><![CDATA[wefewf]]></Value>
    </programtitle>
    <routes>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/07699eb70e754665a10ecb89d7826220"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "02991f0f-6dc5-4095-a426-f6b8513c5ef1",
      "udi": "umb://element/07699eb70e754665a10ecb89d7826220",
      "routestitle": "dsffewf",
      "points": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/7893c58ad17d44d3b9f10623c52ed2a1\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"cc70f0bb-9bd2-4661-b5e1-7362db1ec4ef\",\r\n      \"udi\": \"umb://element/7893c58ad17d44d3b9f10623c52ed2a1\",\r\n      \"pointstitle\": \"fewf\",\r\n      \"pointsdescription\": \"ewfwef\",\r\n      \"pointsimage\": \"[\\r\\n  {\\r\\n    \\\"key\\\": \\\"393a8cb1-12bb-4a54-a6ea-7d8fb7d40f12\\\",\\r\\n    \\\"mediaKey\\\": \\\"047c9e2c-602a-4811-af0a-37f3d8655058\\\"\\r\\n  }\\r\\n]\",\r\n      \"pointsicon\": \"fewfwef\",\r\n      \"pointsshortText\": \"ewfewf\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/09c3efcb257b406098c0d350b882eb16"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "02991f0f-6dc5-4095-a426-f6b8513c5ef1",
      "udi": "umb://element/09c3efcb257b406098c0d350b882eb16",
      "routestitle": "dfdgdfgdfg",
      "points": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/9b2189bf80b14f24bec3564e62bb2a62\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"cc70f0bb-9bd2-4661-b5e1-7362db1ec4ef\",\r\n      \"udi\": \"umb://element/9b2189bf80b14f24bec3564e62bb2a62\",\r\n      \"pointstitle\": \"ewfewf\",\r\n      \"pointsdescription\": \"wefewf\",\r\n      \"pointsimage\": \"[\\r\\n  {\\r\\n    \\\"key\\\": \\\"9de27cbe-0f36-42f0-84b4-880ff63a0ef1\\\",\\r\\n    \\\"mediaKey\\\": \\\"047c9e2c-602a-4811-af0a-37f3d8655058\\\"\\r\\n  }\\r\\n]\",\r\n      \"pointsicon\": \"ewfewf\",\r\n      \"pointsshortText\": \"efewf\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </routes>
    <seodescription>
      <Value Culture="ar"><![CDATA[wefewf]]></Value>
      <Value Culture="en"><![CDATA[ewfewfwef]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "fd0fee1f-91be-4606-a7e5-3db099026cdc",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
      <Value Culture="en"><![CDATA[[
  {
    "key": "6e902eea-d583-4f1c-a9da-a3d530bd1a38",
    "mediaKey": "047c9e2c-602a-4811-af0a-37f3d8655058"
  }
]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[ewfewf]]></Value>
      <Value Culture="en"><![CDATA[wefewf]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[sdfsf]]></Value>
      <Value Culture="en"><![CDATA[efewf]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[sdfsdfew]]></Value>
      <Value Culture="en"><![CDATA[wefewf]]></Value>
    </slug>
    <transportdesc>
      <Value Culture="ar"><![CDATA[wfwefwef]]></Value>
      <Value Culture="en"><![CDATA[asdasdasd]]></Value>
    </transportdesc>
    <transportisActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </transportisActive>
    <transporttitle>
      <Value Culture="ar"><![CDATA[wefwef]]></Value>
      <Value Culture="en"><![CDATA[adsasdasd]]></Value>
    </transporttitle>
  </Properties>
</Content>