<?xml version="1.0" encoding="utf-8"?>
<Content Key="d99ba5f2-81e8-491a-8c50-8b7afa457248" Alias="text text@test.com" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/textTextTestcom</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-03T14:12:02</CreateDate>
    <NodeName Default="text text@test.com" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[text@test.com]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[text]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[test]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[1235]]></Value>
    </mobilenumber>
  </Properties>
</Content>