<?xml version="1.0" encoding="utf-8"?>
<Content Key="79fafd7e-974d-455c-b8ab-34df61cc9a0f" Alias="translation-lake" Level="3">
  <Info>
    <Parent Key="7e4e6004-cce1-4ecd-89b7-407586edc6d7">Artworks</Parent>
    <Path>/Artwork/Artworks/translationLake</Path>
    <Trashed>false</Trashed>
    <ContentType>artworks</ContentType>
    <CreateDate>2023-10-02T19:22:19</CreateDate>
    <NodeName Default="translation-lake">
      <Name Culture="ar">translation-lake</Name>
      <Name Culture="en">translation-lake</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artist>
      <Value Culture="ar"><![CDATA[umb://document/f298c8b0ea094ecda00d34506e5c2570]]></Value>
      <Value Culture="en"><![CDATA[umb://document/f298c8b0ea094ecda00d34506e5c2570]]></Value>
    </artist>
    <artworktitle>
      <Value Culture="ar"><![CDATA[بحيرة العبور:]]></Value>
      <Value Culture="en"><![CDATA[Translation Lake]]></Value>
    </artworktitle>
    <images>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/44ee610023004ceb99aec79af674c2f2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/44ee610023004ceb99aec79af674c2f2",
      "portrait": "[\r\n  {\r\n    \"key\": \"a1fcc49c-357e-450f-9a2d-8bb60e0e1f5f\",\r\n    \"mediaKey\": \"62c2f6c3-df77-4aef-861a-ccbc1986f0f2\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"ede91262-fede-49a3-9989-8e3d706bc4bb\",\r\n    \"mediaKey\": \"62c2f6c3-df77-4aef-861a-ccbc1986f0f2\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"a9bd197d-1fbc-4699-84a4-0e7de7f93916\",\r\n    \"mediaKey\": \"62c2f6c3-df77-4aef-861a-ccbc1986f0f2\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f9f7899fb7e342daa540c35c55b5b9eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "42236a27-51fa-4942-819f-1a78a818dcae",
      "udi": "umb://element/f9f7899fb7e342daa540c35c55b5b9eb",
      "portrait": "[\r\n  {\r\n    \"key\": \"10b3002f-ce68-4ae6-af17-5fc0e4a67eb7\",\r\n    \"mediaKey\": \"62c2f6c3-df77-4aef-861a-ccbc1986f0f2\"\r\n  }\r\n]",
      "landscape": "[\r\n  {\r\n    \"key\": \"e530a074-da20-4a72-a6a6-65ec1e1c78b0\",\r\n    \"mediaKey\": \"62c2f6c3-df77-4aef-861a-ccbc1986f0f2\"\r\n  }\r\n]",
      "card": "[\r\n  {\r\n    \"key\": \"f0040860-df82-49ff-88cf-b2a36de5e434\",\r\n    \"mediaKey\": \"62c2f6c3-df77-4aef-861a-ccbc1986f0f2\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <isActive>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en"><![CDATA[1]]></Value>
    </isActive>
    <location>
      <Value Culture="ar"><![CDATA[umb://document/aa8f645651d44b24bc70f5136e86d5ff]]></Value>
      <Value Culture="en"><![CDATA[umb://document/aa8f645651d44b24bc70f5136e86d5ff]]></Value>
    </location>
    <markdown>
      <Value Culture="ar"><![CDATA[ثلاثة قوارب صغيرة من قوارب العبرة تطفو في البحيرة المركزية بجزيرة اللؤلؤ. يتم إضاءتها من الداخل بأضواء بيضاء متلألئة، تتميز بإيقاع معين. وعندما يقترب أحد المشاركين من الشاطئ ويقف على منصات المشاهدة في الشمال والجنوب، يمكن للمرء أن يشعر بأن الوميض يتزامن مع صوت الذكاء الاصطناعي الذي يترجم بصورة مباشرة ومتواصلة رواية "استيقاظ فينغانز" أو "يقظة فينيغان" لجيمس جويس إلى اللغة العربية والأوردو والهندية وغيرها من اللغات. يمكن تحديدها باستخدام واجهة مادية.]]></Value>
      <Value Culture="en"><![CDATA[Three small Abra boats float in Lulu Island’s central lake. These are illuminated from within with glimmering white lights that have a certain rhythm. As a participant approaches the shore and stands on viewing platforms on the north and south, one can hear that the glimmer is synced to an artificial intelligence voice that is constantly translating James Joyce’s “Finnegan’s Wake” into Arabic, Urdu, Hindi and other languages that can be selected using a physical interface.]]></Value>
    </markdown>
    <seodescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seodescription>
    <seoimage>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </seoimage>
    <seokeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seokeywords>
    <seotitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </seotitle>
    <slug>
      <Value Culture="ar"><![CDATA[translation-lake]]></Value>
      <Value Culture="en"><![CDATA[translation-lake]]></Value>
    </slug>
  </Properties>
</Content>