<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a52a5c4-723a-4a77-9d4f-8416287fbee4" Alias="Vivek Sambath viveksambath@outlook.com" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/VivekSambathViveksambathOutlookcom</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-02T15:54:37</CreateDate>
    <NodeName Default="Vivek Sambath viveksambath@outlook.com" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[viveksambath@outlook.com]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[Vivek Sambath]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[Test]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[9791456678]]></Value>
    </mobilenumber>
  </Properties>
</Content>