<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7f02633-fb73-49c5-8864-fca966445c4a" Alias="Vivek vivek@test.com" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/VivekVivekTestcom</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-03T14:07:52</CreateDate>
    <NodeName Default="Vivek vivek@test.com" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[vivek@test.com]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[Vivek]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[test]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[1234]]></Value>
    </mobilenumber>
  </Properties>
</Content>