<?xml version="1.0" encoding="utf-8"?>
<Content Key="28b97f30-001b-457d-8e61-bc6ca7445cbf" Alias="vivek vivek@test.cvom" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/vivekVivekTestcvom</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-03T14:08:50</CreateDate>
    <NodeName Default="vivek vivek@test.cvom" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[vivek@test.cvom]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[vivek]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[tset1]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[123]]></Value>
    </mobilenumber>
  </Properties>
</Content>