<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2e39679-b9f0-4d43-8668-0b0208c06a9b" Alias="xx xx (3)" Level="3">
  <Info>
    <Parent Key="25993880-8e35-4be3-87d7-1c15e5786a71">EnquiryRequest</Parent>
    <Path>/Collections/EnquiryRequest/xxXx3</Path>
    <Trashed>false</Trashed>
    <ContentType>enquiry</ContentType>
    <CreateDate>2023-10-01T16:40:37</CreateDate>
    <NodeName Default="xx xx (3)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <enquiryname>
      <Value><![CDATA[xx]]></Value>
    </enquiryname>
    <message>
      <Value><![CDATA[sdfjsdkf]]></Value>
    </message>
    <mobilenumber>
      <Value><![CDATA[]]></Value>
    </mobilenumber>
  </Properties>
</Content>