<?xml version="1.0" encoding="utf-8"?>
<Content Key="9acfc1f6-814b-478d-b4c3-75d66f2f7b93" Alias="Collections" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Collections</Path>
    <Trashed>false</Trashed>
    <ContentType>folders</ContentType>
    <CreateDate>2023-08-30T11:09:15</CreateDate>
    <NodeName Default="Collections">
      <Name Culture="en">Collections</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template Key="7b0322c3-1526-4a6f-88f6-3522f80068a0">Folders</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties />
</Content>