<?xml version="1.0" encoding="utf-8"?>
<Content Key="09ae85e7-df19-416f-b23f-6333cc9a4100" Alias="Layout" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Layout</Path>
    <Trashed>false</Trashed>
    <ContentType>folders</ContentType>
    <CreateDate>2023-08-30T10:42:52</CreateDate>
    <NodeName Default="Layout">
      <Name Culture="en">Layout</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template Key="7b0322c3-1526-4a6f-88f6-3522f80068a0">Folders</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties />
</Content>